<div id="awardRotate">
 	<div class="logo"></div>
 	<div class="tt"></div>
 	<!-- <div class="t2">首次认购指定产品，可获得抽奖机会</div> -->
 	<div class="mid">
 		<div class="t3">活动时间：<span class="activityTime"></span></div>
 		<ul>
 			<li>
 				<button id="toFund">立即投资</button>
 			</li>
 			<li>
 				<button id="toDeposit">立即存入</button>
 			</li>
 			<li>
 				<button id="toDesign">立即存入</button>
 			</li>
 		</ul>
 		<div class="tip">首次申购单笔2000元以上可获抽奖机会   ，每款产品限赠1次获奖机会。</div>
 	</div>
 	<div class="btnGrp">
 		<button class="doBtn">立即抽奖</button>
 		<div class="new2016 pt15 pb20">
 			<div class="row">
 				<div class="cell">
 					<button class="ctrBtn" id="ruleBtn">活动细则</button>
 				</div>
 				<div>
 					<button class="ctrBtn" id="myPrize">我的奖品</button>
 				</div>
 			</div>
 		</div>
 	</div>
   <div class="mask hide" id="later">
     <div class="later">来晚了！<br/>活动已结束！</div>
   </div>
 </div>
 <div id="awardRule" class="hide">
   <div class="head">
     <div class="text"></div>
   </div>
   <div class="ruleCnt">
     <p>1. 活动时间：<span class="activityTime"></span>。</p>
     <p>2. 活动内容：在杭银直销APP，自注册以来首次成功申购任意一款指定产品、单笔申购金额满2000元及以上的客户，可以获得1次免费抽奖机会，指定产品包括：幸福基金、幸福乐存、结构性存款产品，每款产品限赠1次抽奖机会。</p>
     <p>3. 抽奖说明：奖品包括10000份1.88元现金红包、1000份爱奇艺视频券、50份500元京东卡和2份iPad，综合中奖概率分别为80%、10%、5%和0.001%，非100%中奖，奖品数量有限，先到先得，送完即止。中奖商品不开具相应的发票，不可折现；如无质量问题，不支持退换货。</p>
     <p>4. 抽奖机会获得以申购成功为准，每天抽奖次数不限，机会用完为止。</p>
     <p>5. 抽中实物奖品，工作人员将在5个工作日内联系您，并在7个工作日内邮寄。</p>
     <p>6. 抽中卡券，将直接发放至您的杭银直销注册账户，请在活动页面“我的奖品”中查看。</p>
     <p>7. 爱奇艺VIP月卡使用期限是指券码的激活期限，即用户要在使用期限之前将券码激活，激活以后VIP权益时间为1个月，例，使用期限为2017年10月11日，若客户在2017年10月10日激活，则VIP权益时间为10月10日-11月10日。</p>
     <p>8. 京东E卡使用期限是指卡内余额的使用期限，即用户要在使用期限之前将卡内余额使用完，无论何时激活，例，使用期限为2020年3月29日，若客户在2020年3月28日激活，则须在3月29日之前将卡内余额使用完毕。</p>
     <p>9. 抽中现金红包，请在活动页面“我的奖品”-“我的红包”查看，用户需在发放日的7天内拆开，逾期视为自动放弃，拆开后将直接充值到直销银行活期账户。</p>
     <p>10. 抽奖过程中，如果发现违规行为（如恶意注册大量账号，使用作弊程序等），杭银直销将取消您的中奖资格。</p>
     <p>11. 中奖结果以系统弹出的文字公告为准，活动结束仍未使用的抽奖机会视为自动放弃。</p>
     <p>12. 奖品价值：</p>
   </div>
   <div class="prize">
     <table>
       <tr>
         <td>iPad Pro 9.7英寸 32GB</td>
         <td>4388元</td>
       </tr>
       <tr>
         <td>500元京东E卡</td>
         <td>500元</td>
       </tr>
       <tr>
         <td>爱奇艺视频1个月会员电子券</td>
         <td>25元</td>
       </tr>
       <tr>
         <td>1.88元现金红包</td>
         <td>1.88元</td>
       </tr>
     </table>
   </div>
 </div>