<div id="awardRotate" class="draw">
   <div class="horn">
     <marquee behavior="" direction="" id="drawResult">
<!--        <span>恭喜 136****9110获得1.88元现金红包一只</span>
       <span>恭喜 156****8517获得1.88元现金红包一只</span>
       <span>恭喜 135****2335获得1.88元现金红包一只</span> -->
     </marquee>
   </div>
   <div class="logo"></div>
   <div class="tt"></div>
   <div class="hide" id="prizeIcons">
     <img src="images/rotate/aw_1.png" id="ipad-img"/>
     <img src="images/rotate/aw_2.png" id="hongbao-img"/>
     <img src="images/rotate/aw_3.png" id="jd-img"/>
     <img src="images/rotate/aw_4.png" id="aqy-img"/>
   </div>
   <div class="banner">
     <div class="turnplate">
       <canvas class="item" id="wheelcanvas" width="422px" height="422px"></canvas>
       <div class="pointer"></div>
     </div>
     <div class="rzt">剩余<i id="changeNum">0</i>次<br/>抽奖机会</div>
     <div class="od"></div>
   </div>
   <div class="myPrize" id="myPrize">
     <a href="javascript:void(0)">我的奖品</a>
   </div>
   <div class="mask hide" id="noChange">
     <div class="noChange">
       <p>很遗憾!<br/>您当前没有抽奖机会!</p>
       <button class="getBtn">立即获得</button>
       <div class="closeBtn"></div>
     </div>
   </div>
   <div class="mask hide" id="wonPrize">
     <div class="wonPrize">
       <div class="txt1"></div>
       <div class="prz"></div>
       <div class="txt2"></div>
       <div class="closeRztBtn"></div>
     </div>
   </div>
 </div>

