  <div class="new2016 hongbaoManage invite">
    <!-- 局部样式，务必模板内引用 -->
    <style type="text/css">
    body,html{min-height:100%; width:100%;}
    body,body.gray-bg{background:url(images/hongbao2/share_bg.png) center top no-repeat; background-size:100% auto;}
    </style>
    <!-- style end! -->
    <img src="images/hongbao2/logo.png" width="100%" alt="">
    <img src="images/hongbao2/active_tit.png" width="100%" alt="">
    <div class="notice mt10">
      <img src="images/hongbao2/notice.png" width="100%" alt="">
      <div class="words" id="weeklyRank">
        <p>当前邀请榜排名：第<span id="rank"></span>名</p>	
        <p>距本周数据截止：<span id="day"></span>天<span id="hour"></span>小时<span id="min"></span>分</p>
      </div>
    </div>
    <div class="details">
      <img src="images/hongbao2/details.png" width="100%" alt="">
      <div class="bigBtn" id="inviteRed">邀请好友·get更多红包</div>
    </div>
    <div class="row txt-mid entry">
      <div class="cell" id="weeklyRanklist">
        <span>周周排行榜</span>
      </div>
      <div class="cell" id="myRedPacket">
        <span>我的红包</span>
      </div>
    </div>
    <div class="txt-mid" id="active_rule">
      <img src="images/hongbao2/rule.png" style="display:inline-block; width:60px;" alt="">
    </div>
  </div>	
