<!-- <div class="new2016 Regs">
	<div class="prgBar row">
		<div class="cell active" data-label="1">手机验证</div>
	    <div class="cell active" data-label="2">身份验证</div>
	    <div data-label="3">密码设置</div>
	</div>
</div> -->
<div class="deEloan">
	<div class="uploadTip" style="border-bottom: 1px solid #e4e4e4;">
		<p class="fc-yellow ft12">提示：请将证件边缘一并拍摄入镜，并保证证件所显示的每条信息清晰可辨。</p>
	</div>
</div>
<div class="specBuz">
	<div class="cardArea" id="a">
		<div class="idcard">
		</div>
	</div>
	<div class="cardArea b" id="b">
		<div class="idcard">
		</div>
	</div>
	<div class="gap-box mt20 mb20">
		<button class="zen-btn" id="next">下一步</button>
	</div>
</div>
