  <div class="new2016 Regs">
  	<div class="prgBar row">
    	<div class="cell active" data-label="1">手机验证</div>
        <div class="cell active" data-label="2">身份验证</div>
        <div data-label="3">密码设置</div>
    </div>
    <div class="idCard">
        <div class="txt-mid ft13 fc-9 pt10 pb10">现在拍摄您的大陆二代身份证原件，请保持网络良好</div>
    	<div class="itm">
       	  <h2>拍摄人像面</h2>
          <div class="round" id="img_front">
          		<div class="imgr" id="img_a"></div>
            	<i class="uploadBtn" id="a"></i>
                <div class="control" style="display:none" id="a_controller">
                    <i class="del" id="a_del"></i>
                    <i class="zoom" id="a_zoom"></i>
                </div>
            </div>
        </div>
        <div class="itm">
            <h2>拍摄国徽面</h2>
            <div class="round b"  id="img_behind">
                <div class="imgr" id="img_b"></div>
                <i class="uploadBtn" id="b"></i>
                <div class="control" style="display:none;" id="b_controller">
                    <i class="del" id="b_del"></i>
                    <i class="zoom" id="b_zoom"></i>
                </div>
            </div>
        </div>
    </div>
	<div class="padded">
        <input type="button" id="next"value="下一步" class="zen-btn mt20">
    </div>
  <!-- 放大预览照片 -->
  <div class="fullView">
      <div class="mask"></div>
      <div class="imgr">
      </div>
  </div>
  <!-- 放大预览照片 -->
  </div>	
