  <div class="new2016 Regs">
  	<div class="prgBar row">
    	<div class="cell active" data-label="1">手机验证</div>
        <div class="cell active" data-label="2">身份验证</div>
        <div data-label="3">密码设置</div>
    </div>
    <div class="fm vaild">
        <div class="fm-itm ft13 fc-9 txt-mid" style="display:block;" id="notice">
            请仔细核对身份，如果有误请点击修改
        </div>
    	<div class="fm-itm">
        	<label>姓<span class="bit1"></span>名</label>
            <div class="ipt"><input id="input_userName" type="text" maxlength="15" value="<%=userName%>" placeholder="请输入您的姓名"></div>
            <i class="i-edit"></i>
        </div>
        <div class="fm-itm">
        	<label>身份证</label>
            <div class="ipt"><input id="input_certNo" type="text" maxlength="18" value="<%=certNo%>" placeholder="请输入您的身份证号"></div>
            <i class="i-edit"></i>
        </div>
    </div>
   	
	<div class="padded">
        <input type="button" value="信息正确" class="zen-btn mt20" id="green_info">
    </div>
  </div>	