  <div class="new2016 Regs">
   <div class="guideBar row">
    	<div class="cell active"><i class="ico">1</i>登录密码设置</div>
      <div class="ar"></div>
        <div class="cell active"><i class="ico">2</i>交易密码设置</div>
    </div>
	<div class="padded fm">
    	<div class="pswdWrap">
        	<div class="pswdAll">
                <div class="tradePswd" id="tradePswd1">
                    <h2 class="txt-mid">请设置交易密码</h2>
                    <div class="row">
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                		<input id="password1" type="password" value="" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')" readonly="readonly"/>
                    </div>
                </div>
                <div class="tradePswd" id="tradePswd2">
                    <h2 class="txt-mid">请再次设置交易密码</h2>
                    <div class="row">
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                		<input id="password2" type="password" value="" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')" readonly="readonly"/>
                    </div>
                </div>
            </div>
        </div>
       <!--  <input type="button" value="确认" class="zen-btn mt30"> -->
    </div>
  </div>