
<div class="new2016">
	<div class="riskTest padded">
		<i class="ico-eval"></i>
		<label class="zen-ckbox mb10 hidden" id="sign">
          <input type="checkbox" checked />
          <span class="fm-agr">我已阅读并同意<a href="javascript:;" id="agree">《签约告知书》</a></span>
        </label>
         <input type="button" value="马上测评" id="exam"	 class="zen-btn" />
		<p class="ft12 fc-blue txt-mid mt30 mb10" id="riskLevel">知道自己的承受风险能力为保守型</p>
		<input type="button" value="坚持买入" class="zen-btn hollow" id="buy"/>
		<p class="fc-b mt30">投资类型根据风险承受能力从低到高依次是：保守型，稳健型，平衡型，成长型，进取型。请根据自己的类型谨慎决定。</p>
	</div>
</div>
