
<div class="myCount typ2 new2016">
	<div class="countState txt-mid">
		<h1>累计收益(元)</h1>
		<h2>3,123.08</h2>
	</div>
	<div class="gap-box row ft12 fc-9 pt10 pb10">
		<div class="cell">日期</div>
		<div>收益(元)</div>
	</div>
	<ul class="zen-list-5">
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-orange">+11.25</div>
		</li>
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-green">-11.25</div>
		</li>
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-green">-11.25</div>
		</li>
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-orange">+11.25</div>
		</li>
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-green">-11.25</div>
		</li>
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-green">-11.25</div>
		</li>
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-orange">+11.25</div>
		</li>
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-green">-11.25</div>
		</li>
		<li class="row">
			<div class="cell">2016-04-08</div>
			<div class="fc-green">-11.25</div>
		</li>
	</ul>
</div>
