
<div class="new2016 fdDtlPage deEloan">
	<div class="director">
		<div class="list">
			<div class="list-item arr">1.幸福如金是什么？</div>
			<div class="cnt">
				<div class="para">幸福如金就是“博时黄金D场外类”，听不懂是不是？简单说，就是你买了这个基金，而这个基金去买了黄金。所以，幸福如金买卖规则和普通的股票型基金是相近的。</div>
			</div>
		</div>
		<div class="list">
			<div class="list-item arr">2.怎么买幸福如金？</div>
			<div class="cnt">
				<div class="para">
					如果您是初次购买幸福如金，您将经历以下过程：<br>
					首先，了解基金交易的注意事情，完成签约；<br>
					其次，通过风险评估，了解自己承受风险的水平；<br>
					最后，输入您想买幸福如金的金额。<br>
					一般来说基金都是在下一个交易日才能确定您所购买的克数，具体请参考交易规则。
				</div>
			</div>
		</div>
		<div class="list">
			<div class="list-item arr">3.有没有手续费？</div>
			<div class="cnt">
				<div class="para">
					买卖黄金还是要手续费的，但是只有万分之五。
				</div>
			</div>
		</div>
		<div class="list">
			<div class="list-item arr">4.什么时候能看我持有的黄金？</div>
			<div class="cnt">
				<div class="para">
					如果你是T日15:00前买入的，那么T+1个工作日就能看到你持有的黄金了；如果你是15:00后买入的，T+2个工作日才能看到。
				</div>
			</div>
		</div>
		<div class="list">
			<div class="list-item arr">5.怎么卖出幸福如金呢？</div>
			<div class="cnt">
				<div class="para">黄金份额确定后，就可以卖出了。卖出按照克来计算，15:00前卖出，T+1个工作日可以确定卖出份额。</div>
			</div>
		</div>
		<div class="list">
			<div class="list-item arr">6.买基金要注意什么？</div>
			<div class="cnt">
				<div class="para">首先，投资黄金是有风险的。幸福如金是一种中高风险的投资产品，会随着市场行情波动，有可能会亏损本金。<br>
				其次，买入卖出是有费用的。大部分的基金都有一定的买入卖出费用，请参考费率。<br>
				最后，买入卖出的生效时间。买入卖出一般都是在T+1或T+2交易日生效。
				</div>
			</div>
		</div>
	</div>
</div>
