<div class="new2016">
  	<div class="fudDetail tradeList">
  	 <div id="wrapper" class="tab-pages">
        <ul class="allCnt">
            <!-- tab1对应 -->
        	<li class="cnt" >
                <div class="list" id="detailList" total="0">    
                   <!--  <div class="list-item row">
                        <div class="fc-9 ml5">
                            <h1 class="ft16">今天</h1>
                            <p class="ft12">10:20</p>
                        </div>
                        <div class="iconBox"><i class="g"></i></div>
                        <div class="cell">
                            <h1 class="ft20">+13000</h1>
                            <p class="fc-9 ft12">提现</p>
                        </div>
                        <div>
                            <h1 class="ft12 fc-9">交易失败</h1>
                        </div>
                    </div>
                    <div class="list-item row">
                        <div class="fc-9 ml5">
                            <h1 class="ft16">今天</h1>
                            <p class="ft12">10:20</p>
                        </div>
                        <div class="iconBox"><i class="h"></i></div>
                        <div class="cell">
                            <h1 class="ft20">+13000</h1>
                            <p class="fc-9 ft12">邀请好有红包</p>
                        </div>
                        <div>
                            <h1 class="ft12 fc-9">交易失败</h1>
                        </div>
                    </div> -->
                </div>
            </li>
        </ul>        
  	 </div>
  	 <div class="zen-noData" id="noData" style="display:none; box-sizing:border-box;">您还未购买产品，暂无符合内容</div>
    </div>
  </div>