<div class="new2016 fdDtlPage">
	<div class="table">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th width="30%">日期</th>
				<th width="23%">单位净值</th>
				<th width="23%">累计净值</th>
				<th>日涨幅</th>
			</tr>
		</table>
		<div id="wrapper">
			<div>
				<table width="100%" total="0" border="0" cellspacing="0" cellpadding="0" id="list">
				</table>
			</div>
		</div>
	</div>
	<div class="zen-noData" id="noData" style="display:none; box-sizing:border-box;">暂无历史记录，请稍后再试</div>
</div>
