
<div class="new2016">
	<div class="deEloan">
		<div class="gap-box ft12 fc-9 mt10">付款账号</div>
		<div class="list">
			<div class="list-item">
				<span>电子账户</span> <span class="pl10"><%=Utils.formatAcc(cardNo)%></span>
			</div>
			<div class="list-item row">
				<div>账号余额</div>
				<div class="fc-yellow pl10" id="showBalanceSpan">0.00</div><div class="pl10">元</div>
			</div>
		</div>
		<div class="gap-box ft12 fc-9 mt10">购买金额</div>
		<div class="list">
			<div class="list-item">
				<span>幸福如金</span> <span class="pl10 fc-yellow">当前金价是<span id="fundlastnav">0.00</span>元/克</span>
			</div>
			<div class="list-item row disabled">
				<div>购买金额</div>
				<div class="cell ipt pl10">
					<input type="number" value="" placeholder="起购金额10元" id="purchaseAmt"/>
				</div>
			</div>
			<div class="list-item">
				<span>预计买入</span> <span class="pl10"> <i class="fc-yellow" id="kg">0.00</i>
					克；手续费 <i class="fc-yellow" id="fee">0.00</i> 元
				</span>
			</div>
			<div class="list-item row disabled">
				<span>交易密码</span>
				<div class="cell ipt pl10">
					<input type="text" id="pwd" value="" placeholder="请输入交易密码" readOnly/>
				</div>
			</div>
		</div>
		<div class="gap-box pt10 fc-9">
			<input type="button" id="submit" value="确定" class="zen-btn mt10 mb10 disabled">
			<ul class="itemTips">
				<li>交易日15:00前买入，按当日金价成交，下个交易日可查看持有黄金克数。</li>
				<li>交易日15:00后买入，按下个交易日金价成交，第二个交易日可查看持有黄金克数。</li>
				<li>预估买入克数按前一日金价估算。</li>
			</ul>
		</div>
	</div>
</div>
