
<div class="new2016">
	<div class="fudDetail">
		<ul class="mapping">
			<!--tab1-->
			<li style="display: block">
				<div class="director">
					<div class="list">
						<div class="list-item arr">基本信息</div>
						<div class="cnt">
							<div class="para">
								<div class="table">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="35%">基金名称</td>
											<td width="65%">博时黄金交易型开放式证券投资基金</td>
										</tr>
										<tr>
											<td>基金简称</td>
											<td>博时黄金ETF</td>
										</tr>
										<tr>
											<td>基金代码</td>
											<td>159937,D类；000929,I类；000930</td>
										</tr>
										<tr>
											<td>运作方式</td>
											<td>交易型开放式指数基金</td>
										</tr>
										<tr>
											<td>基金类型</td>
											<td>黄金ETF</td>
										</tr>
										<tr>
											<td>合同生效日期</td>
											<td>2014年08月13日</td>
										</tr>
										<tr>
											<td>基金存续期限</td>
											<td>不定期</td>
										</tr>
										<tr>
											<td>基金单位面值</td>
											<td>每份基金份额的初始面值为人民币1.00元</td>
										</tr>
										<tr>
											<td>业绩比较基准</td>
											<td>黄金现货实盘合约AU99.99收益率</td>
										</tr>
										<tr>
											<td>基金经理</td>
											<td>赵云阳</td>
										</tr>
										<tr>
											<td>管理人</td>
											<td>博时基金管理有限公司</td>
										</tr>
										<tr>
											<td>登记结算机构</td>
											<td>博时基金管理有限公司</td>
										</tr>
										<tr>
											<td>托管人</td>
											<td>中国银行股份有限公司</td>
										</tr>
										<tr>
											<td>销售机构</td>
											<td>博时基金管理有限公司、代销机构</td>
										</tr>
										<tr>
											<td>客服电话</td>
											<td>95105568(免长途话费)</td>
										</tr>
										<tr>
											<td>风险收益特征</td>
											<td>本基金主要投资对象为黄金现货合约，预期风险/收益水平与黄金相似，在证券投资基金中属于较高风险和预期收益的基金品种。</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="list-item arr">投资目标</div>
						<div class="cnt">
							<div class="para">本基金通过投资于黄金交易所的黄金现货合约，在跟踪偏离度和跟踪误差最小化的前提下，争取为投资者提供与标的指数表现接近的投资回报。</div>
						</div>
					</div>
					<div class="list">
						<div class="list-item arr">投资范围</div>
						<div class="cnt">
							<div class="para">本基金可以投资黄金交易所的黄金现货合约及法律法规或中国证监会允许基金投资的其他金融工具。本基金主要投资于黄金交易所的黄金现货合约，包括：黄金现货实盘合约、黄金现货延期交收合约及其他在上海黄金交易所上市的、经中国人民银行批准的合约。 建仓完成后，本基金投资于黄金现货合约的比例不低于基金资产的90%，其他金融工具的投资比例依照法律法规或监管机构的规定执行。 基于跟踪误差、流动性因素和交易便利程度的考虑，黄金现货实盘合约中，本基金将主要投资于AU99.99。但因特殊情况（比如流动性不足等）导致本基金无法买入足够的AU99.99时，基金管理人可投资于AU99.95和AU（T+D）或其他品种以进行适当替代。 本基金将黄金现货延期交收合约AU（T+D）作为投资AU99.99的替代补充的原因，首先是AU（T+D）是黄金现货延期交收合约中流动性最好的品种，可以作为流动性不足最好的替代品种；其次，AU（T+D）交易费用较黄金现货实盘低；另外AU（T+D）对跟踪误差影响小；最后，AU（T+D）可随时申请现券交割，且交割标准为AU99.95，与备选投资标的一致。 如法律法规或监管机构以后允许基金投资其他品种，基金管理人在履行适当程序后，可以将其纳入投资范围。 本基金主要投资的黄金现货合约可以根据市场流动性情况的变化进行调整，此调整无须召开持有人大会。本基金可从事黄金现货租赁业务。</div>
						</div>
					</div>
					<div class="list">
						<div class="list-item arr">销售对象</div>
						<div class="cnt">
							<div class="para">符合法律法规规定的可投资于证券投资基金的个人投资者、机构投资者和合格境外机构投资者以及法律法规或中国证监会允许购买证券投资基金的其他投资人。
							</div>
						</div>
					</div>
					<div class="list">
						<div class="list-item arr">基金经理</div>
						<div class="cnt">
							<div class="para">赵云阳先生，硕士。2003年至2010年在晨星中国研究中心工作。2010年加入博时基金管理有限公司，历任量化分析师、基金经理助理、博时特许价值股票基金、博时招财一号保本基金、博时中证淘金大数据100基金、博时沪深300指数基金基金经理。现任博时深证基本面200ETF基金兼博时深证基本面200ETF联接基金、上证企债30ETF基金、博时证券保险指数分级基金、博时黄金ETF基金、博时上证50ETF基金、博时上证50ETF联接基金、博时银行分级基金、博时黄金ETF联接基金的基金经理。
							</div>
						</div>
					</div>
					<div class="list">
						<div class="list-item arr">基金公司</div>
						<div class="cnt">
							<div class="para">博时基金管理有限公司成立于1998年7月13日，是中国内地首批成立的五家基金管理公司之一，致力为海内外各类机构和个人投资者提供专业、全面的资产管理服务。博时总部设在深圳，在北京、上海、郑州、沈阳、成都设有分公司，同时拥有博时基金（国际）有限公司和博时资本管理有限公司两家全资子公司。博时基金公司经营范围包括基金募集、基金销售、资产管理和中国证监会许可的其他业务。
							</div>
						</div>
					</div>
					<div class="list">
						<div class="list-item arr">费率</div>
						<div class="cnt">
							<div class="para">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td>申购费率</td>
										<td>0.05%</td>
									</tr>
									<tr>
										<td>赎回费率</td>
										<td>0.05%</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="list-item arr">分红</div>
						<div class="cnt">
							<div class="para">幸福如金收益分配采用现金，当幸福如金累计收益率超过指数同期累计收益率1%以上，可以进行收益分配。幸福如金收益分配每年至多两次；每次收益分配比例不低于期末可分配利润的5%。<br />幸福如金在权益登记日对前一交易日15:00前买入的黄金进行分红，对前一个交易日15:00前卖出的黄金没有分红。
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
