<body>
   <div class="new2016 deEloan">
   
    <div class="list disabled">
        <div class="list-item row">
            <div class="cell">
            	<h1 id="transname">幸福如金</h1>
                <p class="fc-b9" id="transDate"></p>                             
            </div>
            <div class="cell txt-r">
            	<h1 id="amt"></h1>
                <p class="fc-b9">未确认</p>                             
            </div>
        </div>
     </div>
     <div class="list disabled">
        <div class="list-item row disabled">
            <span>交易密码</span>
            <div class="cell ipt pl10"><input type="text" value="" id="pwd"placeholder="请输入交易密码" readOnly/></div>
        </div>
     </div>
     <div class="padded mt20"><button class="zen-btn mt10 mb10 disabled" id="sureRevoke">撤销</button></div>
   </div> 
</body>