<div class="new2016">
	<div class="riskTest padded">
		<!-- <i class="ico-eval b"></i> <i class="ico-eval c"></i> <i
			class="ico-eval d"></i> <i class="ico-eval e"></i> --> <i
			class="ico-eval f" id="ico"></i>
		<p class="ft12 txt-mid">您的投资类型是</p>
		<p class="txt-mid ft-bigger" id="type">进取型</p>
		<input type="button" value="继续买入" class="zen-btn mt10" id="buy"/> <input
			type="button" value="默默返回" class="zen-btn hollow mt20" id="back"/>
		<p class="ft12 fc-blue txt-mid mt30" id="repeat">重新测试</p>
		<p class="fc-b mt5">投资类型根据风险承受能力从低到高依次是：保守型，稳健型，平衡型，成长型，进取型。请根据自己的类型谨慎决定。</p>
	</div>
</div>
