

<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<div class="deEloan">
    	<div class="uploadTip">
        	<h1 class="txt-mid">请上传房产三证或不动产产权证书</h1>
        	<p>(房产三证包括房产证、共有权证、土地证和契证)</p>
            <p class="fc-yellow ft12">提示：请将证件边缘一并拍摄入镜，并保证证件所现实的每条信息清晰可辨。</p>
        </div>
        <div class="list upload disabled" id="list">
        	<!-- <div class="list-item" id="list1">
            	<div class="uploadBox">
                	<div class="imgr" id="upload"></div>
                    <p class="tip">请点击上传相关证件<img src="images/de_hand.png" height="20"></p>
                </div>
            </div>
            <div class="list-item" style="display:none"  id="list2">
            	<div class="uploadBox">
                	<div class="imgr" id="upload2"></div>
                    <p class="tip">请点击上传相关证件<img src="images/de_hand.png" height="20"></p>
                </div>
            </div>
            <div class="list-item" style="display:none"  id="list3">
            	<div class="uploadBox">
                	<div class="imgr" id="upload3"></div>
                    <p class="tip">请点击上传相关证件<img src="images/de_hand.png" height="20"></p>
                </div>
            </div>
            <div class="list-item" style="display:none"  id="list4">
            	<div class="uploadBox">
                	<div class="imgr" id="upload4"></div>
                    <p class="tip">请点击上传相关证件<img src="images/de_hand.png" height="20"></p>
                </div>
            </div>
            <div class="list-item" style="display:none"  id="list5">
            	<div class="uploadBox">
                	<div class="imgr" id="upload5"></div>
                    <p class="tip">请点击上传相关证件<img src="images/de_hand.png" height="20"></p>
                </div>
            </div> -->
        </div>
        <div class="gap-box">
        	<input type="button" value="提交" class="zen-btn mt15" id="submit">
        </div>
    </div>
  </div>	
</body>
