
<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<div class="deEloan">
    	<div class="list">
            <div class="list-item" id="address">浙江省杭州市拱墅区</div>
            <div class="list-item" id="projectName">左岸花园</div>
        </div>
        <div class="list">
            <div class="list-item arr row" id="build">
            	<div class="cell">楼栋</div>
                <div class="fc-blue" id="building"></div>
            </div>
            <div class="list-item arr row" id="floo">
            	<div class="cell">楼层</div>
                <div class="fc-blue" id="floor"></div>
            </div>
            <div class="list-item arr row" id="hous">
            	<div class="cell">房号</div>
                <div class="fc-blue" id="house"></div>
            </div>
            <div class="list-item row disabled">
            	<span>面积</span>
                <div class="cell ipt pr10"><input type="text" value="" id="buildArea" class="txt-r" placeholder="请输入您的房屋面积"/></div>
                <span>㎡</span>
            </div>
        </div>
        <div class="gap-box pt10 fc-9">
        	<p>提示：<br/>
            1.产品支持北京、上海、深圳、南京、合肥、杭州、宁波、绍兴、舟山、金华、衢州、嘉兴、丽水的用户进行申请。<br/>
            2.房屋坐落地址请优选按照下拉菜单地址进行选择，如选择不到自己的房屋，请点击下一步手工输入。
            </p>
            <input type="button" value="下一步" class="zen-btn mt15"  id="next">
        </div>
    </div>
  </div>	
</body>
