
  <div class="new2016" id="queryLoan" style="display:none">
  	<div class="deEloan">
        <div class="list myLoan" id="myLoan">
            <!-- <div class="list-item arr">
            	<i class="a">未提交</i>
            	<h1>杭州市拱墅区万科公园里3幢501</h1>
                <p>2016-05-05</p>
            </div>
            <div class="list-item arr">
            	<i class="b">已提交</i>
            	<h1>杭州市拱墅区万科公园里3幢501</h1>
                <p>2016-05-05</p>
            </div>
            <div class="list-item arr">
            	<i class="c">已受理</i>
            	<h1>杭州市拱墅区万科公园里3幢501</h1>
                <p>2016-05-05</p>
            </div>
            <div class="list-item arr" id="pass">
            	<i class="d">审批通过</i>
            	<h1>杭州市拱墅区万科公园里3幢501</h1>
                <p>2016-05-05</p>
            </div>
             <div class="list-item arr">
            	<i class="e">审批失败</i>
            	<h1>杭州市拱墅区万科公园里3幢501</h1>
                <p>2016-05-05</p>
            </div>
            <div class="list-item arr">
            	<i class="d">受理成功</i>
            	<h1>杭州市拱墅区万科公园里3幢501</h1>
                <p>2016-05-05</p>
            </div>
            <div class="list-item arr">
            	<i class="f">已完成</i>
            	<h1>杭州市拱墅区万科公园里3幢501</h1>
                <p>2016-05-05</p>
            </div>
            <div class="list-item arr">
            	<i class="g">申请关闭</i>
            	<h1>杭州市拱墅区万科公园里3幢501</h1>
                <p>2016-05-05</p>
            </div> -->
        </div>
    </div>
  </div>
  <div class="fullWhite" id="noResult" style="display:none">
	<div class="zen-noData-2">暂无借款记录</div>
  </div>	 
