<div class="new2016 Apply">
    <h1 class="title success" style="display: none" id="paySuccess">恭喜您，支付成功！</h1>
  	<h1 class="title fail" style="display: none" id="payFaild">支付失败！<span class="ft12 fc-9" id="ErrMsg">(支付失败原因)</span></h1>
  	<h1 class="title fail" style="display: none" id="wait">订单处理中...<span class="ft12 fc-9">(交易已受理，请稍后查看竞价成交款查询</span></h1>
    <div class="list" id="resultDiv" >
      	<div class="list-item row">
        	<div class="cell">缴费项目</div>
          	<div>杭州市小客车竞价成交款缴款</div>
      	</div>
      	<div class="list-item row">
        	<div class="cell">缴款书编号</div>
          	<div id="seqNum">加载中..</div>
      	</div>
      	<div class="list-item row">
        	<div class="cell">付款人全称</div>
          	<div id="name">加载中..</div>
      	</div>
    	<div class="list-item row">
        	<div class="cell">缴费金额</div>
            <div><span class="fc-orange" id="amt">加载中..</span>元</div>
        </div>
        <div class="list-item row">
        	<div class="cell">大写金额</div>
            <div id="bigAmt">加载中..</div>
        </div>
        <div class="list-item row">
          <div class="cell">订单号</div>
            <div id="orderNo">加载中..</div>
        </div>
        <div class="list-item row">
          <div class="cell">交易流水</div>
            <div id="flowNo">加载中..</div>
        </div>
    </div>
    <div class="padded mt10">
      <h1 class="fc-orange mb5">温馨提示：</h1>
      <p class="fc-9 ft13">您可凭《杭州市小客车增量指标竞价收入缴款通知书》及有效身份证明在竞价次月五日前至我行营业网点换取非税收入票据</p>
    </div>
    <div class="mt15 fullWidthImgr" id="goP2P"><img src="images/pay/index_ban.jpg" width="100%" alt=""></div>
 </div>