<div class="new2016 Pays">
     <div class="list disabled mt10">
        <div class="list-item row">
            <label>缴款卡号</label>
            <div class="ipt" style="padding-left: 30px"><input type="text" id="cardNo" value="6230********5620(电子账户)" readonly /></div>
        </div>
        <div class="list-item row">
        	<label>户<span class="bit2"></span>名</label>
            <div class="ipt" style="padding-left: 30px"><input type="text" id="name" value="江泽民" readonly/></div>
        </div>
        <div class="list-item row">
            <label>申请编号</label>
            <div class="ipt" style="padding-left: 30px"><input type="text" id="billNo" placeholder="请输入申请编号" /></div>
        </div>
     </div>
     <div class="padded mt10" id="queryEnsuer">
        <button class="zen-btn mt20">查询</button>
    </div>
</div>