<div class="new2016 Pays">
       <div class="payIndex">
            <div class="listItem" id="tuition">
                <img src="images/pay/index_1.png" alt="">
                <div class="text">
                    <div class="middle">
                       <h1>学校缴费</h1>
                       <h2>无需排队，畅享缴费新体验</h2>
                    </div>
                </div>
            </div>
            <div class="listItem" id="cawa">
                <img src="images/pay/index_2.png" alt="">
                <div class="text">
                    <div class="middle">
                       <h1>嘉华学院</h1>
                       <h2>嘉华专属，缴费更便捷</h2>
                    </div>
                </div>
            </div>
            <div class="listItem" id="car">
                <img src="images/pay/index_3.png" alt="">
                <div class="text">
                    <div class="middle">
                       <h1>小客车竞价</h1>
                       <h2>以指代步，足不出户轻松缴费</h2>
                    </div>
                </div>
            </div>
             <!-- <div class="listItem" id="payment">
                <img src="images/pay/index_4.png" alt="">
                <div class="text">
                    <div class="middle">
                       <h1>物业费</h1>
                       <h2>不再繁琐，一站缴费悦享生活</h2>
                    </div>
                </div>
            </div>
            <div class="listItem" id="other">
                <img src="images/pay/index_5.png" alt="">
                <div class="text">
                    <div class="middle">
                       <h1>其他版块</h1>
                       <h2>线上缴费，轻松快捷</h2>
                    </div>
                </div>
            </div> -->
       </div>
   </div>