<div class="new2016 Pays">
	<div class="list disabled">
		<div class="list-item row">
			<div class="cell ft-big fc-blue" id="tranAmt">￥0.00</div>
			<div style="line-height: 36px;" id="tranState">加载中..</div>
		</div>
		<div class="list-item lh2 fc-9 ft13">
			<div class="row">
				<div class="cell">交易流水</div>
				<div id="flowNo">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">缴费日期</div>
				<div id="subTime">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">学校名称</div>
				<div id="schoolName">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">缴费学期</div>
				<div id="semester">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">班级</div>
				<div id="classNumber">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">学号</div>
				<div id="studentId">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">姓名</div>
				<div id="userName">加载中..</div>
			</div>
		</div>
		<div class="list-item lh2 fc-9 ft13">
			<div class="row">
				<div class="cell">代管费</div>
				<div id="inFee">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">学费</div>
				<div id="tuitionFee">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">住宿费</div>
				<div id="accommodationFee">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">伙食费</div>
				<div id="foodFee">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">实训材料费</div>
				<div id="materialsFee">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">保育费</div>
				<div id="careFee">加载中..</div>
			</div>
			<div class="row">
				<div class="cell">其他费用</div>
				<div id="otherFee">加载中..</div>
			</div>
		</div>
	</div>
	<div class="padded mt20">
		<button class="zen-btn" id="submit">马上分享</button>
	</div>
</div>
