<div class="new2016 Apply">
	<h1 class="title success">您已成功申购幸福添利产品！</h1>
	<div class="list">
		<div class="list-item row">
			<div class="cell">申购金额</div>
			<div>
				<span class="fc-orange" id="amt">0.00</span>元
			</div>
		</div>
		<div class="list-item row">
			<div class="cell">付款账户</div>
			<div id="cardNo">**** **** **** **** **(电子账户)</div>
		</div>
	</div>
	<div class="padded mt30">
		<input type="button" value="继续购买" class="zen-btn" id="rebuy"> <input
			type="button" value="立即查看" class="zen-btn white mt15" id="view">
	</div>
</div>
