<div class="content">
	<div class="ifo-tit">
		<h1>幸福乐存</h1>
		<h2>起存低，支取灵活</h2>
	</div>
	<div class="main_cm1">
		<ul class="zen-list-2">
			<li class="ifo-tbl">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="50%">
							<div class="items">
								<h3>六个月收益</h3>
								<p class="rzt"><b id="rate4"></b> %</p>
							</div>
						</td>
						<td>
							<div class="items">
								<h3>五年期收益</h3>
								<p class="rzt"><b id="rate8"></b> %</p>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="items">
								<h3>银行活期利息</h3>
								<p class="rzt"><b id="rate9"></b> %</p>
							</div>
						</td>
						<td>
							<div class="items">
								<h3>收益计算</h3>
								<p class="rzt"><i>靠档计息</i></p>
							</div>
						</td>
					</tr>
				</table>
			</li>
			<!----------------------------------------------------------------->
			<li>
				<h1 class="pt-tit line-chart">幸福乐存利率（%）</h1>
				<div id="hs_chart_line"></div>
			</li>
			<!----------------------------------------------------------------->
			<li>
				<h1 class="pt-tit calculator">预期收益</h1>
				<div class="exp-box">
					<div class="exp-rzt">
						<h2><b id="expectAmt"></b>元</h2>
						<h3>本行活期收益：<span id="expectBankAmt"></span>元</h3>
					</div>
					<div class="exp-ipt">
						<div class="ipt-cell"><label>投钱金额（元）</label><input type="tel" id="inputAmt" value="10000" /></div>
						<div class="ipt-cell"><label>期限（天）</label><input type="tel" id="inputDayNum" value="365" /></div>
					</div>
				</div>
			</li>
			<!----------------------------------------------------------------->
		</ul>
	</div>
	
	<div class="buy-btn-wrap">
		<div class="fillbox"><input type="button" value="立即购买" class="zen-btn btn-fn" id="goToBuy"/></div>
	</div>
</div>
