<div class="new2016 hapFud" >
    	<div class="filterNav row">
        	<div class="cell active" data-value="股票">股票型</div>
            <div class="cell"  data-value="债券" >债券型</div>
            <div class="cell" data-value="混合">混合型</div>
            <div class="cell"  data-value="保本">保本型</div>
            <div class="cell"  id ="fundType" data-value="0">全部</div>
            <div class="secNav hidden">
            	<div class="tit"></div>
            	<div class="navList">
                    <div class="itm" data-value="QDII">QDII</div>
                    <div class="itm" data-value="指数">指数型</div>
                    <div class="itm" data-value="契约">契约型</div>
                    <div class="itm" data-value="0">全部</div>
                </div>
            </div>
        </div>
        <div class="table">
		        	<table cellpadding="0" cellspacing="0" width="100%">
		                <tr class="filter">
		                    <th width="48%" style="text-align:center">基金名称</th>
		                    <th width="26%">单位净值</th>
		                    <th class="secNav">
		                    	<span class="tt" id ="risePer" data-value="30">日涨幅</span>
		                        <div class="navList">
		                        	<div class="itm" data-value="30">日涨幅</div>
		                        	<div class="itm" data-value="a0">近一周</div>
		                            <div class="itm" data-value="40">近一月</div>
		                            <div class="itm" data-value="50">近三月</div>
		                            <div class="itm" data-value="60">近六月</div>
		                            <div class="itm" data-value="70">近一年</div>
		                            <div class="itm" data-value="b0">近三年</div>
		                             <div class="itm" data-value="c0">今年来</div>
		                        </div>
		                    </th>
		                </tr>
		            </table>
		 </div>
        
        <div id="wrapper" >
        	<div>
				  <div class="table">
		        	<table cellpadding="0" cellspacing="0" width="100%" id="fundList">
		                
		            </table>
		        </div>
        	</div>
        </div>
    	 <div >
			<div class="zen-noData" id="noData" style="display:none; box-sizing:border-box;  padding-top:210px; background-position:center 140px;" >暂无更多</div>
		</div>
	</div> 