<div class="new2016 hapFud">
        <div class="fixed" style="width:100%; z-index:99;">
            <div class="table">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr class="order">
                        <th width="50%">名称代码</th>
                        <th width="24%" class="typ rank-down" id="initial">最新净值<i></i></th>
                        <th class="typ">涨跌幅<i></i></th>
                    </tr>
                </table>
            </div>
        </div>

    	<div class="table" style="padding-top:39px;" id="optionalData">
        	<table cellpadding="0" cellspacing="0" width="100%" id="iEFundBaseinfo">
            </table>
        </div>
         <div >
			<div class="zen-noData" id="noData" style="display:none; box-sizing:border-box;  padding-top:210px; background-position:center 140px;" >暂无更多</div>
		</div>
	</div> 