<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<div class="riskTest">
        <div id="iFundInvestinfo"></div>   
        <div >
			<div class="zen-noData" id="noData" style="display:none; box-sizing:border-box;  height:456px; padding-top:210px; background-position:center 140px;" >暂无更多</div>
		</div>
        <div class="fixBtn" style="height:54px; width:100%">
        	<div class="btnGrp">
            	<button class="zen-btn" id="addInvest">新增定投</button>
            </div>
        </div>
    </div>
  </div>	
  <script src="../scripts/libs/jquery/jquery-2.1.3.min.js"></script>
</body>