<div class="new2016 fdDtlPage hapFud">
		<div class="state">
        	<div class="row">
            	<div class="cell" >
                	<%=fundName%> <span class="fc-9 ft12">(<%=fundCode%>)</span>
                	<span class="typCount"><%=fundType%></span>
                </div>
            </div>
            <div class="row txt-mid pt10 pb10">
            	<div class="cell">
                	<h1 class="mb5">日涨幅</h1>
                   	<h2 class="ft32" id="dayRisePer"></h2>
                </div>
                <div class="cell bl-e">
                	<h1 class="mb5">单位净值</h1>
                    <h2 class="ft32"><%=fundlastnav%></h2>
                </div>
            </div>
			<div class="row txt-mid pt10 pb10">
            	<div class="cell">
                	<h1 class="ft12 fc-9 mb5">起购金额</h1>
                    <h2 class="ft16"><%=minbuyamt%>元</h2>
                </div>
                <div class="cell bl-e">
                	<h1 class="ft12 fc-9 mb5">风险类型</h1>
                    <h2 class="ft16"><%=risklevel_name%></h2>
                   
                </div>
                <div class="cell bl-e">
                	<h1 class="ft12 fc-9 mb5">更新日期</h1>
                    <h2 class="ft16" id="fundlastnavdate"></h2>
                </div>
            </div>
        </div>
        <div class="fudDetail mt10">
        </div>
		<div class="tabPoint">
			<div class="chartBox">
				<div class="filter">
					<span class="active" data-value="22" id="monthActive">近一月</span> <span data-value="66">近三月</span> <span data-value="132">近六月</span> <span data-value="264">近一年</span>
				</div>
				<div class="chartArea">
					<div class="row pl15 pr15 pt10 pb10 ft13">
						<div class="cell">
							<span style="color:#f3a2ee">●</span> 本基金：<span class="fc-orange fundlastnav" id="gains">0.00</span>
						</div>
						<div class="cell">
							<span class="fc-blue">●</span> 沪深300：<span class="fc-blue" id="csi">0.00</span>
						</div>
					</div>
					<div style="width: 100%; height: 150px;" id="linechart"></div>
				</div>
			</div>
		</div>
		<div class="fudDetail mt10">
        	<div class="tab row">
            	<div class="cell active">业绩表现</div>
                <div class="cell" id="history">历史净值</div>
            </div>
        </div>
        <div class="pgn mb10">
        	<div class="table" style="display:block;">
                <table cellpadding="0" cellspacing="0" width="100%" id="table">
                    <thead class="filter fc-9">
                        <th width="33.333%">日期区间</th>
                        <th width="33.333%">涨跌幅</th>
                        <th >同行排名</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="33.333%">近一周</td>
                            <td width="33.333%" id="week" class='fc-green'></td><!--  -->
                            <td class="fc-9"><span class="fc-3"><%=sfrankRecentWeek%></span></td>
                        </tr>
                       <tr>
                            <td>近一月</td>
                            <td id="month" class='fc-green'><%=monthRisePer%></td>
                            <td class="fc-9"><span class="fc-3"><%=sfrankRecentMonth%></span></td>
                        </tr>
                         <tr>
                            <td>近三月</td>
                            <td id="threeMonth" class='fc-green'><%=threemonthRisePer%></td>
                            <td class="fc-9"><span class="fc-3"><%=sfrankRecentquarter%></span></td>
                        </tr>
                        <tr>
                            <td>近六月</td>
                            <td id="halfYear" class='fc-green'><%=halfyearRisePer%></td>
                            <td class="fc-9"><span class="fc-3"><%=sfrankRecenthalfYear%></span></td>
                        </tr>
                        <tr>
                            <td>近一年</td>
                            <td id="year" class='fc-green'><%=yearRisePer%></td>
                            <td class="fc-9"><span class="fc-3"><%=sfrankRecentYear%></span></td>
                        </tr>
                          <tr>
                            <td>近三年</td>
                            <td id="threeYear" class='fc-green'></td>
                            <td class="fc-9"><span class="fc-3"><%=sfrankRecentthreeYear%></span></td>
                        </tr>
                        <tr>
                            <td>今年来</td>
                            <td id="thisYear" class='fc-green'></td>
                            <td class="fc-9"><span class="fc-3"><%=sfrankThisYear%></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table" style="display:none;">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <thead class="filter fc-9">
                        <th>日期</th>
                        <th>单位净值</th>
                        <th>累计净值</th>
                        <th>涨跌幅</th>
                    </thead>
                    <tbody id="fundHistoryNavList">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="more" id="gotoNavList">查看更多</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
        <div class="director">
        	 <div class="list bd">
            	<div class="list-item arr" id="fundDirect">新手指南</div>
            </div>
        	<div class="list bd">
            	<div class="list-item arr">交易规则</div>
                <div class="cnt">
                	<div class="para">
                     <div class="grid mb10">	
	                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
		                         <thead>
									<tr >
										<td>买入或卖出的时间点</td>
										<td>计算份额的净值日期</td>
										<td>买入或卖出确认</td>
									</tr>
						  		</thead>
						  		<tbody>
						  			<tr >
										<td>T日15:00前买入</td>
										<td>T日</td>
										<td>T+1日</td>
									</tr>
									<tr >
										<td>T日15:00后买入</td>
										<td>T+1日</td>
										<td>T+2日</td>
									</tr>
									<tr >
										<td>T日15:00前卖出</td>
										<td>T日</td>
										<td>T+1日</td>
									</tr>
									<tr >
										<td>T日15:00后卖出</td>
										<td>T+1日</td>
										<td>T+2日</td>
									</tr>
						  		</tbody>
					  		</table>
				  		</div>
                    </div>
                </div>
            </div>
        	<div class="list bd">
            	<div class="list-item arr">风险提示</div>
				<div class="cnt">
					<div class="para">
					基金是一种风险较高的投资产品，投资前请认真阅读基金合同、招募说明书等公开法律文件，请认真评估自己承受风险的能力，谨慎做出买卖决定。
					本页面所有展示均非法律文件。基金的过往业绩不预示未来业绩。市场有风险，投资需谨慎。<br/>
					免责声明<br/>
					投资人通过杭州银行直销银行发起的基金操作，包括但不限于买入、卖出均使用基金方提供的交易系统，与杭州银行无关。杭银直销幸福基金仅向客户展示信息，
					并向注册用户提供操作入口引导以实现基金开户、交易和查询功能。购买基金之前请认真阅读基金合同等相关法律文件。<br/>
					</div>
				</div>
			</div>
            <div class="list bd" id="fundDetailPage">
            	<div class="list-item arr" >基金详情</div>
            </div> 
        </div>
        
        <div class="fixBtn">
        	<div class="btnGrp">
            	<button class="zen-btn white" id="optional" ></button>
                 <button class="zen-btn white" style="border-left:1px solid #eee" id="buyBtn">买入</button>
                <button class="zen-btn" style="border-left:1px solid #eee" id="invest">定投</button>
            </div>
        </div>
	</div> 