<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<h1 class="ft20 pt10 pb10 pl20 pr20 txt-mid" id="mainHead"></h1>
    <div class="infoState" style="text-align:right">
  		<span id="times"></span>
  		<span id="count"><i class="view"></i></span>
<!--   		<span id="thumbUp"><i class="like"></i>10</span> -->
  	</div>
    <div class="padded fc-8 pl10 pr10"  style="text-align:justify;line-height:20px" id="content"></div>
<!--     <div class="dolikeIcon" id="thumbUpCount"></div> -->
<!--     <div class="dolikeIcon active"></div> -->
  </div>	
  <script src="../scripts/libs/jquery/jquery-2.1.3.min.js"></script>
</body>