<body>
	<div class="new2016 fdDtlPage hapFud">
    	<div class="director mb10">
            <div class="list">
            	<div class="list-item arr spr">高收益</div>
                <div class="cnt" style="height:auto">
                	<div class="para ft13" style="text-indent:2em;text-align:justify">
高收益基金经过层层筛选，先比拼基金近3年的收益取前60%，从中取前1年收益中的前60%，再依次比拼近半年、近三月，无论长期还是短期表现都优秀的，才能被我们选中。严格筛选，只为选出最赚钱的那一只“基”。
                	</div>
                </div>
            </div>
        </div>
    	<div class="table">
        	<table cellpadding="0" cellspacing="0" width="100%">
            	<tr class="filter fc-b">
                    <th width="50%" style="text-align:center">基金名称</th>
                    <th width="25%">近3年收益率</th>
                    <th>近3月收益率</th>
                </tr>
            </table>
        </div>
        <div class="table">
		       <table cellpadding="0" cellspacing="0" width="100%" id="preferredFund5">
		       </table>
		 </div>
	</div> 
    <script type="text/javascript" src="../scripts/libs/jquery/jquery-2.1.3.min.js"></script>
	<script>
	$(function(){	
		var allList = $('.director .list');
        var allListItem = allList.find('.list-item');
        var allListCnt = allList.find('.cnt');

    	allListItem.on('click', function(){

			var me = $(this), 
			    cnt = me.next(), 
				setH = cnt.find('.para').get(0).offsetHeight;

			if (me.hasClass('spr')) {
                me.removeClass('spr');
                cnt.css('height',0);
            } else {
                allListItem.removeClass('spr');
                allListCnt.css('height', 0);
                me.addClass('spr');
                cnt.css('height',setH);
            }

		})
	})
	</script>
</body>