 <div class="new2016 fdDtlPage">
    <div class="fixed" style="width:100%; z-index:99;">
      <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th width="25%">日期</th>
              <th width="25%">单位净值</th>
              <th width="25%">累计净值</th>
              <th>涨跌幅</th>
            </tr>
          </table>
      </div>
    </div>
    <div id="wrapper">
        	<div>
			  	<div class="table" style="padding-top:43px;">
			    	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="fundHistoryNavList">
			        </table>
			    </div>
			 </div>
       </div>
      <div style="padding-top:43px;">
			<div class="zen-noData" id="noData" style="display:none; box-sizing:border-box;  padding-top:210px; background-position:center 140px;">暂无更多</div>
	</div>
  </div>