<div class="new2016 hapFud">
        <div class="state">
        	<div class="row">
            	<div class="cell ft16" id="fundInvestManagement">定投管理</div>
                <div class="fc-blue" id="fundTranRecord">交易记录</div>
            </div>
            <h1 class="fc-9 txt-mid mt10">总金额(元)</h1>
            <p class="txt-mid ft-bigger fc-orange" id="totalMoney">0.00</p>
            <div style="padding:8px 0 9px;">
	            <h3 class="ft13 txt-mid fc-9">累计盈亏(元)</h3>
	            <h4 class="fc-orange txt-mid ft16" id="totIncome">0.00</h4>
	         </div>  
        </div>
		<div class="padded txt-mid mt5 mb5" id="confirm" >
        </div>
        <div id="iFundBalinfo"></div>
        <div >
			<div class="zen-noData" id="noData"  style="display:none; box-sizing:border-box; height:380px;padding-top:210px; background-position:center 140px; ">暂无更多</div>
		</div>
	</div> 