  <div class="new2016 hongbaoManage">
    <!-- 局部样式，务必模板内引用 -->
    <style type="text/css">
    body,html{min-height:100%; width:100%;}
    body,body.gray-bg{background-image:-webkit-gradient(linear,75% 0,45% 100%,from(#ffffe6),to(#ffdfb9));}
    </style>
    <!-- style end! -->
    <div class="padded">
      <div class="mainContent">
        <i class="close" id="closeRuleBtn"></i>
        <div class="boxCell txt-mid depOrg">
          <div class="headerTitle">活动规则</div>
          <p class="pt10">杭银直销红包大放送</p>
           <!-- 活动起始时间和红包最高金额都要可配 -->
          <p class="ft13">活动时间：<%=begainDate%>-<%=endDate%></p> 
        </div>
        <div class="boxCell">
          <div class="invTit">
            <div class="inner"><span>邀请人奖励</span></div>
          </div>
          <div class="params">
            <div class="barTit"><span> 一重礼：邀请新手注册送红包</span></div>
            <p class="parg">通过活动分享页面，成功邀请好友新注册、绑卡并激活杭银直销账户的客户，可获得最高188元随机不等的红包一个，上不封顶。</p>
            <div class="barTit"><span>二重礼：邀请新手注册后投资送红包</span></div>
            <p class="parg">通过活动分享页面，成功邀请好友激活杭银直销客户后，被邀请好友若在活动期内成功申购幸福金禧或幸福如金，推荐人可再得一个最高188元随机不等的红包，推荐人邀请投资抽红包机会不设上限。</p>
            <div class="barTit"><span>三重礼：邀请周周排行送红包</span></div>
            <p class="parg">每周对推荐人的邀请好友激活数进行排名，当期邀请好友激活数相等的用户根据累计（从注册起到当前）好友激活数排名，若当期激活数与累计激活数均相同的用户，则按最后一位被邀请人的激活时间先后排序。排行榜前20名的，每人可获得188元现金红包一个，邀请好友激活数的统计时间以周为单位（活动期间每周一至周日，隔周的邀请好友激活数不做累加）。邀请周周排行送红包活动时间为2017年4月3日-5月28日。</p>
          </div>
        </div>
        <div class="boxCell">
          <div class="invTit">
            <div class="inner"><span>新手奖励</span></div>
          </div>
          <div class="params">
            <div class="barTit"><span> 一重礼：新手注册送红包</span></div>
            <p class="parg">新注册、绑卡并成功激活杭银直销账户的客户，可获得最高188元随机不等的红包一个。</p>
            <div class="barTit"><span>二重礼：首次投资送红包</span></div>
            <p class="parg">首次成功申购幸福金禧或幸福如金的客户，可得一个最高188元随机不等的红包，客户首次投资抽红包机会限1次。</p>
          </div>
        </div>
        <dl class="explain">
          <dt>活动说明</dt>
          <dd><i class="num">1</i>本次活动只面向杭银直销APP的客户，暂不面向网页版客户。</dd>
          <dd><i class="num">2</i>普通红包发放后，用户需在发放日的7天内拆开，逾期视为自动放弃。处于冻结状态的红包，暂时不能领取，需待解冻后进行领取。</dd>
          <dd><i class="num">3</i>红包属性：活动红包为现金红包，领取后直接充值到用户的直销银行活期账户。红包数量有限，先到先得，送完即止。</dd>
          <dd><i class="num">4</i>投资幸福金禧产品赠送的红包，在当期产品募集期结束前将处于冻结状态，待产品募集期结束后将自动解冻，用户需在解冻后的7天内拆开，逾期视为自动放弃。</dd>
          <dd><i class="num">5</i>邀请好友方式：短信、微信好友、朋友圈、QQ好友。</dd>
          <dd><i class="num">6</i>活动过程中如发现有碍其他用户公平参与本活动或违反活动目的的行为，杭州银行有权取消有此行为的用户参与本次活动的资格或因参加活动所获得的奖励。</dd>
        </dl>
      </div>
    </div>
  </div>	
