  <div class="new2016 hongbaoManage">
    <!-- 局部样式，务必模板内引用 -->
    <style type="text/css">
    body,html{min-height:100%; width:100%;}
    body,body.gray-bg{background-image:-webkit-gradient(linear,75% 0,45% 100%,from(#ffffe6),to(#ffdfb9));}
    </style>
    <!-- style end! -->
    <div class="padded">
      <div class="mainContent">
        <i class="close" id="closeRuleBtn"></i>
        <div class="boxCell mb30">
          <div class="headerTitle">周周排行拿<span class="yel">188</span>元</div>
          <div class="list pt10">
            <div class="itm row depOrg">
              <div class="avatar" id="myPohot"></div>
              <div class="cell" id="myPhone"></div>
              <div class="txt-r pr10">第<span id="rank"></span>名</div>
            </div>
          </div>
          <div class="tbl">
            <table>
              <thead>
                <tr>
                  <th>本期有效注册好友</th>
                  <th>累计有效注册好友</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="depOrg"><span id="currentNum"></span>人</td>
                  <td class="depOrg"><span id="totalNum"></span>人</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tbl">
            <table>
              <thead>
                <tr>
                  <th>当前排名</th>
                  <th>上期排名</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="depOrg">第<span id="currentRank"></span>名</td>
                  <td class="depOrg">第<span id="lastRank"></span>名</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="timeout">距本周数据截止：<b><span id="day"></span></b>天<b><span id="hour"></span></b>时<b><span id="min"></span></b>分</div>
        </div>
        <div class="boxCell">
          <div class="headerTitle">有效邀请人数排行榜</div>
          <div class="tbl mt10">
            <table>
              <thead>
                <tr>
                  <th>排名</th>
                  <th>用户</th>
                  <th>本期(人)</th>
                  <th>累计(人)</th>
                </tr>
              </thead>
              <tbody id="rankInfo">
                <tr>
                  <!-- <td><img src="images/hongbao2/num_1.png" alt="" class="num"></td>
                  <td>153******77</td>
                  <td>12</td>
                  <td>23</td> -->
                </tr>
               <!--  <tr>
                  <td><img src="images/hongbao2/num_2.png" alt="" class="num"></td>
                  <td>153******77</td>
                  <td>12</td>
                  <td>23</td>
                </tr>
                <tr>
                  <td><img src="images/hongbao2/num_3.png" alt="" class="num"></td>
                  <td>153******77</td>
                  <td>12</td>
                  <td>23</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>153******77</td>
                  <td>12</td>
                  <td>23</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>153******77</td>
                  <td>12</td>
                  <td>23</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>	
