<div class="gap-box">

	<div style="text-align: center">
		<h1 class="lh2" style="font-size: 18px">
			<strong><font class="fc-blue">请阅读个人信用报告查询授权书</font></strong><br /> <strong>《个人信用报告查询授权书》</strong>
		</h1>
	</div>
	<div class="ml10 mr5 lh2" style="padding-bottom: 35px;">
		杭州银行股份有限公司：<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人及配偶不可撤销地授权贵行在办理以下业务以及相关风险跟踪管理时，可以根据中国人民银行有关规定，通过中国人民银行个人信用信息基础数据库、其他依法设立的征信机构、公安部公民身份信息数据库查询、打印和留存本人及配偶的个人信息和信用报告，并不可撤销地授权贵行按照国家监管部门的有关规定向中国人民银行个人信用信息基础数据库、其他依法设立的征信机构提供本人及配偶的基本信息和信用业务信息（含违约等不良信息）：<br />
		1、审核个人信贷业务申请；<br /> 2、贷后风险管理；<br /> 3、异议核查；<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若信贷业务未获批准，授权书及信用报告等资料一律不退回。<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人及配偶确认，贵行可将上述信息用于信贷及相关业务（包括但不限于信贷审批、债权转让、向第三方合作担保增信企业披露等）。若贵行超出授权范围使用，应承担相应责任。<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本授权书即时生效，至信贷业务申请人（或担保人）在贵行的"云抵贷"在线融资业务结束后终止。<br />
		<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;授权人及配偶已经完全知晓并理解上述授权条款。特此授权！</strong><br />
		<strong>授权人信息：</strong><br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;借款人姓名：<span
			id="customerNameCN"></span><br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;借款人身份证号：<span
			id="certNo"></span><br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;借款人贷款申请用途：经营及周转
	</div>
</div>


