

<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<div class="deEloan">
    	<h1 class="fc-9 padded mt10 mb10">当前城市</h1>
        <div class="cityGroup" >
        	<ul id="addCity">
            	<li  cityId="74" cityName="杭州" cityZipCode="330100"><div>杭州</div></li>
            </ul>
        </div>
        <h1 class="fc-9 padded mt10 mb10">热门城市</h1>
        <div class="cityGroup">
        	<ul>
                <li cityId="74" cityName="杭州" cityZipCode="330100"><div>杭州</div></li>
                <li cityId="1" cityName="北京" cityZipCode="110000"><div>北京</div></li>
            	<li cityId="2" cityName="上海" cityZipCode="310000"><div>上海</div></li>
                <li cityId="6" cityName="深圳" cityZipCode="440300"><div>深圳</div></li>
                <li cityId="84" cityName="南京" cityZipCode="320100"><div>南京</div></li>
                <li cityId="98" cityName="合肥" cityZipCode="340100"><div>合肥</div></li>
                <li cityId="75" cityName="宁波" cityZipCode="330200"><div>宁波</div></li>
                <li cityId="187" cityName="绍兴" cityZipCode=330600><div>绍兴</div></li>
                <li cityId="267" cityName="舟山" cityZipCode="330900"><div>舟山</div></li>
                <li cityId="77" cityName="金华" cityZipCode="330700"><div>金华</div></li>
                <li cityId="188" cityName="衢州" cityZipCode="330800"><div>衢州</div></li>
                <li cityId="189" cityName="嘉兴" cityZipCode="330400"><div>嘉兴</div></li>
                <li cityId="130" cityName="丽水" cityZipCode="331100"><div>丽水</div></li>
                <li cityId="76" cityName="温州" cityZipCode="330300"><div>温州</div></li>
                <li cityId="83" cityName="湖州" cityZipCode="330500"><div>湖州</div></li>
            </ul>
        </div>
    </div>
  </div>	
</body>
