<body>
	<div class="new2016 fdDtlPage deEloan">
		<div class="director">
        	<div class="list">
            	<div class="list-item arr">1.云抵贷的审批模式。</div>
                <div class="cnt">
                	<div class="para">
                       	分“在线审批”和“人工快速审批”两种模式。两种模式申请路径和操作方式一致，系统自动判断作出“在线审批”或“人工快速审批”，在线审批将在线返回预授信额度，人工快速审批客户经理将在1-3天内联系客户进行业务办理。
                    </div>
                </div>
            </div>
           	<div class="list">
            	<div class="list-item arr">2.云抵贷的还款模式。</div>
                <div class="cnt">
                	<div class="para">
                   		两种还款模式，循环类和分期类。<br>
						循环类在授信期限内，额度随借随还，按日计息，单笔用款最长不超过12个月；<br>
						分期类每月归还部分本金，到期归还剩余本金，到期前每月等额归还本金的部分合计比率为贷款本金的30%，按月计息，贷款额度不循环。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">3.产品的利率定价。</div>
                <div class="cnt">
                	<div class="para">
                      	云抵贷的定价根据客户情况确定，月利率4.66‰起。
						<br>收费方式：每月20日收取利息，按剩余本金计算。
                    </div>
                </div>
            </div> 
            <div class="list">
            	<div class="list-item arr">4.利率是固定还是浮动？</div>
                <div class="cnt">
                	<div class="para">
                  		  循环贷采用固定利率；<br>
						 分期贷采用浮动利率，按年调整，如遇人行基准利率调整，贷款于次年1月1日调整。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">5.云抵贷每月归还本息的金额具体是多少？</div>
                <div class="cnt">
                	<div class="para">
                   		  贷款申请时选择还款方式，系统自动展示每月归还本金金额，且扣款前会有对应短信通知。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">6.贷款的最高额度？</div>
                <div class="cnt">
                	<div class="para">
                      	  在线审批的最高额度是300万元。线下快速审批，最高额度可到1000万元。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">7.境外人是否可以申请云抵贷？</div>
                <div class="cnt">
                	<div class="para">
                       	所有的借款人及配偶、其他产权人及他们的配偶都需要是中国国籍（不包括港、澳、台人士）。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">8.申请人年龄的限制？</div>
                <div class="cnt">
                	<div class="para">
                       	借款人年龄：22-60周岁。
						<br>抵押房产产权人年龄：18-60周岁。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">9.可以接受申请的房产类型？</div>
                <div class="cnt">
                	<div class="para">
                       	在线审批现仅接受普通住宅商品房。人工快速审批审批支持商品住宅包括：住宅、写字楼、商铺、商住两用、酒店式公寓、别墅、排屋、房改售房、经济适用房。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">10.对于抵押房产建成年代限制？</div>
                <div class="cnt">
                	<div class="para">
                    	  在线审批仅接受房龄在30年之内的房产。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">11.对于抵押房产产权关系的限制？</div>
                <div class="cnt">
                	<div class="para">
                       	借款申请人必须为抵押房产产权人（之一）。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">12.申请完成后如何拿到钱？</div>
                <div class="cnt">
                	<div class="para">
                       	申请完成并通过审批后，会有杭州银行客户经理电话预约面谈和签约时间，顺利办押完成后，工作人员完成额度发放工作。循环类的客户通过手机银行和个人网上银行提款和还款。分期类客户50万元以内，钱发放到借款人在杭州银行开立的微贷卡中，超过50万元的需根据用途受托支付。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">13.还款如何操作？</div>
                <div class="cnt">
                	<div class="para">
                       	客户只需将钱存在预留的杭州银行账户内，还款扣息时系统将自动扣款。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">14.提前还款如何操作，费用如何计算？</div>
                <div class="cnt">
                	<div class="para">
                       	客户可提前归还部分本金或全部本金。提前还款不产生任何费用，仅需支付还款日当前实际产生的利息。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">15.在抵押坐落地址中，选择不到自己的房产怎么办？</div>
                <div class="cnt">
                	<div class="para">
                       	如选择不到，表示该房产不支持在线评估和额度测算。客户可手工录入房产信息，进入人工快速审批模式。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">16.云抵贷有无与第三方合作？</div>
                <div class="cnt">
                	<div class="para">
                       	本产品为杭州银行推出的在线抵押贷款产品，未与任何第三方合作，且不存在额外的收费。请客户自主申请。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">17.在线审批的预授信额度不满意怎么办？</div>
                <div class="cnt">
                	<div class="para">
                       	客户经理联系时可要求转为人工快速审批模式，客户经理将根据客户实际情况重新审批。
                    </div>
                </div>
            </div>
        </div>
	</div> 
	<script>
    $(function(){
    	$('.director .list-item').on('click', function(){
			var me = $(this), 
			    cnt = me.next(), 
			    setH = cnt.find('.para').get(0).offsetHeight, 
			    offsetTop = me.offset().top;
			/* setTimeout(function() {
				window.scrollTo(0, offsetTop);
			}, 200); */
			me.hasClass('spr') ? me.removeClass('spr') && cnt.css('height', 0) : me.addClass('spr')	&& cnt.css('height', setH);
			me.parent().siblings().find(".list-item").hasClass('spr') ? me.parent().siblings().find(".list-item").removeClass('spr')
					&& me.parent().siblings().find(".list-item").next().css('height', 0) : null;
		});
    })
    </script> 
</body>