
  <div class="new2016" id="success" style="display:">
  	<div class="deEloan">
    	<div class="payState">
        	<h1>最高可贷额度(元)</h1>
            <h2 id="maxMoney">0</h2>
            <i class="line"></i>
            <h3>最长授信期限5年<br/>最快三分钟获得授信额度</h3>
        </div>
        <div class="evaluate">房产评估价(元)：<span id="evaluationPrice">0</span></div>
        <div class="gap-box pt10">
            <input type="button" value="下一步" class="zen-btn mt15" id="next">
        </div>
    </div>
  </div>
  <div class="new2016" id="error" style="display:none">
  	<div class="deEloan">
    	<div class="error">╮(╯□╰)╭ <br/>系统开小差了，请稍后重试</div>
        <div class="gap-box pt10">
            <input type="button" value="返回" class="zen-btn mt15" id="back">
        </div>
    </div>
  </div>	

