

<body class="gray-bg"  ontouchstart="">
  <div class="new2016" style="display:" id="loan1">
  	<div class="deEloan loanResult">
    	<div class="error accept">您的贷款正在处理中<br/>请在"我的借款"中查看进度</div>
        <div class="gap-box pt10">
            <input type="button" id="bank1" value="返回" class="zen-btn mt15">
        </div>
    </div>
  </div>

  <div class="new2016" style="display:none" id="loan2">
  	<div class="deEloan">
    	<div class="successTip"><i></i>恭喜您获得预授信额度<span id="applyAmount">0</span>万元!</div>
        <div class="list">
            <div class="list-item row">
            	<div class="cell">预授信金额</div>
                <div class="fc-orange" id="applyAmount1">500,000.00</div>
                <div>元</div>
            </div>
            <div class="list-item row">
            	<div class="cell">贷款期限</div>
                <div id="applyDeadline1">3年</div>
            </div>
            <div class="list-item row">
            	<div class="cell">还款方式</div>
                <div id="creditRepayType1">分期</div>
            </div>
            <div class="list-item row">
            	<div class="cell">月利率</div>
                <div id="loanRate1">5.8%</div>
            </div>
        </div>
        <div class="gap-box ft12 fc-9 mt10">请点击影像上传，即可完成全部操作流程，请保证填写的联系方式畅通，客户经理将于1-3个工作日与您联系。</div>
         <div class="padded mt10">
	        <div class="mb5 fc-9 ft13 lh1_8">
	            <p><span class="fc-orange ft14">温馨提示：该页面显示信息仅为系统预审结果，实际内容以合同为准！</span></p>
	        </div>
    	</div>
        <div class="gap-box">
        	<input type="button" value="影像上传" class="zen-btn mt15" id="upLoad">
        </div>
    </div>
  </div>
  
  <div class="new2016" style="display:none" id="loan3">
  	<div class="deEloan">
        <div class="list">
            <div class="list-item row">
            	<div class="cell">预授信金额</div>
                <div class="fc-orange" id="applyAmount3">500,000.00</div>
                <div>元</div>
            </div>
            <div class="list-item row">
            	<div class="cell" id="applyDeadline3">贷款期限</div>
                <div>3年</div>
            </div>
            <div class="list-item row">
            	<div class="cell">还款方式</div>
                <div id="creditRepayType3">分期</div>
            </div>
            <div class="list-item row">
            	<div class="cell">月利率</div>
                <div id="loanRate3">5.8%</div>
            </div>
        </div>
       <div class="gap-box">
        	<input type="button" value="返回" class="zen-btn mt15" id="bank3">
        </div>
    </div>
  </div>
  
  <div class="new2016" style="display:none" id="loan4">
  	<div class="deEloan">
        <div class="list">
            <div class="list-item row">
            	<div class="cell">预授信金额</div>
                <div class="fc-orange" id="applyAmount4">500,000.00</div>
                <div>元</div>
            </div>
            <div class="list-item row">
            	<div class="cell">贷款期限</div>
                <div id="applyDeadline4">3年</div>
            </div>
            <div class="list-item row">
            	<div class="cell">还款方式</div>
                <div id="creditRepayType4">分期</div>
            </div>
            <div class="list-item row">
            	<div class="cell">月利率</div>
                <div id="loanRate4">5.8%</div>
            </div>
        </div>
        <div class="gap-box">
        	<input type="button" value="返回" class="zen-btn mt15" id="bank4">
        </div>
    </div>
  </div>
  
   <div class="new2016" style="display:none" id="loan5">
  	<div class="deEloan loanResult">
    	<div class="error faild">很抱歉，您的贷款未通过审批<br/>感谢您的申请</div>
        <div class="gap-box pt10">
            <input type="button" value="返回" class="zen-btn mt15" id="bank5">
        </div>
    </div>
  	</div>
  	
  	<div class="new2016" style="display:none" id="loan6">
  	<div class="deEloan loanResult">
    	<div class="error uploaded">您的借款已提交审批<br/>请5~10分钟后，在首页"我的借款"中查看状态</div>
        <div class="gap-box pt10">
            <input type="button" value="返回" class="zen-btn mt15" id="bank6">
        </div>
    </div>
  	</div>
  	
  	
  	<div class="new2016" style="display:none" id="loan7">
  	<div class="deEloan">
    	<div class="successTip"><i></i>恭喜您，贷款已成功受理!</div>
        <div class="list">
            <div class="list-item row">
            	<div class="cell">申请金额</div>
                <div class="fc-orange" id="applyAmount7">500,000.00</div>
                <div>元</div>
            </div>
            <div class="list-item row">
            	<div class="cell">申请期限</div>
                <div  id="applyDeadline7">3年</div>
            </div>
            <div class="list-item row">
            	<div class="cell">还款方式</div>
                <div id="creditRepayType7">分期</div>
            </div>
        </div>
        <div class="gap-box ft12 fc-9 mt10" id="result3">请点击影像上传，即可完成全部操作流程，请保证填写的联系方式畅通，客户经理将于1-3个工作日与您联系。</div>
        <div class="gap-box ft12 fc-9 mt10" id="result4">请保证填写的联系方式畅通，客户经理将于1-3个工作日与您联系。</div>
        <div class="gap-box" id="result1">
        	<input type="button" value="影像上传" class="zen-btn mt15" id="upLoad2">
        </div>
        <div class="gap-box" id="result2">
        	<input type="button" value="返回" class="zen-btn mt15" id="bank7">
        </div>
    </div>
  </div>	
  	
</body>
