
<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<div class="deEloan">
    	<div class="gap-box fc-9 ft12 pt15">请填写房屋信息</div>
        <div class="list">
        	<div class="list-item row">
            	<div class="cell">房屋坐落市区</div>
                <div class="fc-blue"><input type="text" id="houseCity" value="" readonly style="text-align:right"></div>
            </div>
            <div class="list-item row">
            	<div class="cell">房屋坐落地址</div>
                <div class="fc-blue"><input type="text" id="houseAddress" value="" placeholder="请输入房屋坐落地址" style="text-align:right"></div>
            </div>
            <div class="list-item row">
            	<div class="cell">面积(㎡)</div>
                <div class="fc-blue"><input type="number" id="houseArea" value="" placeholder="请输入房屋面积" style="text-align:right"></div>
            </div>
            <div class="list-item row">
            	<div class="cell">楼层(层)</div>
                <div class="fc-blue"><input type="number" id="houseFloor" value="" placeholder="请输入楼层" style="text-align:right"></div>
            </div>
        </div>
        <div class="gap-box"> 
        	<input type="button" value="下一步" id="next" class="zen-btn mt15" disabled>
        </div>
    </div>
  </div>	
</body>
