
<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<div class="deEloan">
        <div class="list">
           <div class="list-item arr" id="selected">请选择地区</div>
           <div class="list-item disabled">
            	<div class="searchPanel">
                	<input type="text" value="" placeholder="输入关键字搜索楼盘" id="search"/>
                   	<i id="submit"></i>
                </div>
            </div> 
        </div>
      	<div  id="queryProject"  style="display:none">
            <div>
				<ul class="zen-list-5 mt10" id="projectList">

				</ul>
			</div>
        </div>
        <div class="noResult" id="noResult" style="display:none">未搜索到与输入内容相关的楼盘，继续申请,请点击下一步</div>
        <div class="gap-box pt10 fc-9">
        	<p>提示：<br/>
            1.产品支持北京、上海、深圳、南京、合肥、杭州、宁波、绍兴、舟山、金华、衢州、嘉兴、丽水的用户进行申请。<br/>
            2.请输入关键字搜索楼盘，按照搜索结果选择，如搜索不到自己的房屋，再点击下一步手工输入。
            </p>
            <input type="button" value="下一步" class="zen-btn mt15" style="display:" id="next" >
        </div>
    </div>
  </div>	
</body>
