<div class="new2016 fdDtlPage">
	<div class="ml10 mr5 lh2" style="padding-bottom:70px;">
	    <div style="height:10px"></div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为维护广大客户的合法权益，防止不法分子的诈骗行为，杭州银行特此公告提示如下:<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(一)本贷款产品除正常的贷款利息(利息存入您的还款账户中，系统自动扣除)以外，<strong><u>无其他任何形式的附加费用</u></strong>。<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(二)请客户从正规渠道自主申请我行贷款产品。<strong><u>我行未与任何公司或个人合作，委托收取中介费、手续费、佣金等各类费用</u></strong>。<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(三)请客户切勿轻信从非正式渠道获取的产品信息，<strong><u>谨防中介公司及诈骗团伙危害您的利益</u></strong>。<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(四)请客户加强对个人相关信息的保护，切勿轻易泄露，维护好自己的信用记录。<br/>
		<div style="text-align:right">杭州银行股份有限公司</div>
	</div>
	<div class="fixBtn">
        	<div class="btnGrp">
                <button class="zen-btn " id="makesure">确认</button>
            </div>
    </div>
</div>
<!-- <div class="gap-box mt20">
	 	<button class="zen-btn" id="makesure">确认</button>
   </div> -->