
<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<div class="deEloan">
    	<div class="payStyle row">
        	<div class="cell active">
            	<div class="box">
                	<h1 class="loop">分期类</h1>
                    <h2>每期还款的本金相同</h2>
                    <i class="a"></i>
                </div>
            </div>
            <div class="cell" style="display:" id="cicle"> 
            	<div class="box">
                	<h1 class="loop">循环类</h1>
                    <h2>每月付息,到期还本</h2>
                    <i class="b"></i>
                </div>
            </div>
        </div>
        <div class="timeline" style="display:" id="stageLoop">
        	<div class="txt-mid">
            	<p class="fc-blue ft16" >共还<span id="money">1,120,000.00</span>元</p>
                <p>月利率<span id="monthRate">0.58</span>%利息<span id="totalInterest">1,120,000.00</span>元</p>
            </div>
        	<ul id="loop1">
            	
            </ul>
        </div>
        <div class="timeline" style="display:none" id="cicleLoop">
        	<div class="txt-mid">
            	<p class="fc-blue ft16" >共还<span id="money2">1,120,000.00</span>元</p>
                <p>月利率<span id="monthRate2">0.58</span>%利息<span id="totalInterest2">1,120,000.00</span>元</p>
            </div>
        	<ul id="loop2">
            	
            </ul>
        </div>
    </div>
  </div>	
</body>
