<div class="content">
	<div class="rate-box">
		<h1 class="tit">一年期利率</h1>
		<h2 class="data">
			<b id="rate5">0.000</b>%
		</h2>
	</div>
	<ul class="zen-list-3">
		<li>
			<h1 class="pt-tit total-amount">总金额（元）</h1>
			<div class="operation-box">
				<div class="val" id="balanceAvailableTotal">0.00</div>
				<div class="op-btn-grp">
					<input type="button" value="购买" class="op-btn-a" id="depositIn" />
					<input type="button" value="赎回" class="op-btn-b" id="depositOut" />
					<a href="javascript:;" id="profitQry">收益查询</a>
				</div>
			</div>
		</li>
		<li class="grid-ifo">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="50%">
						<h2 class="tit">六个月收益</h2>
						<h3 class="rate">
							<b id="rate4">0.000</b>%
						</h3>
					</td>
					<td>
						<h2 class="tit">五年期收益</h2>
						<h3 class="rate">
							<b id="rate8">0.000</b>%
						</h3>
					</td>
				</tr>
				<tr>
					<td>
						<h2 class="tit">银行活期利息</h2>
						<h3 class="rate">
							<b id="rate9">0.000</b>%
						</h3>
					</td>
					<td>
						<h2 class="tit">收益计算</h2>
						<h3 class="rate">
							<b>靠档计息</b>
						</h3>
					</td>
				</tr>
			</table>
		</li>
		<li>
			<h1 class="pt-tit line-chart">幸福乐存利率（%）</h1>
			<div id="hs_chart_line"></div>
		</li>
	</ul>
</div>
