<!doctype html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<title>选择银行</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
        
<link href="../../css/reset.css" rel="stylesheet" type="text/css"/>
<link href="../../css/global.css" rel="stylesheet" type="text/css"/>
<link href="../../css/banks.css" rel="stylesheet" type="text/css"/>
</head>

<body class="gray-bg" ontouchstart="">
  <div class="content mt10">
    <div class="zen-search-panel fix">
		<div class="zen-search-bar">
			<input type="text" value="" placeholder="请输入关键字" id="queryBankInput" />
		</div>
	</div>
	<div class="zen-search-list" id="zen-iscroll-wrapper">
		<ul class="zen-list-3 nobd" id="bankSelect">
		</ul>
	</div>
  </div>
  <script type="text/javascript" src="../../scripts/mui/base.js" id="baseJs" version="1.0.6"></script>
</body>
</html>
