<meta name="apple-mobile-web-app-status-bar-style" content="black">
<div class="motPage">

  	<div class="menuGrid">
    	<ul><li id="loanapply" class="a">
            	<h1>贷款申请</h1>
                <h2>业务在线申请</h2>
            </li><li id="loanstepquery" class="b">
            	<h1>贷款进度查询</h1>
                <h2>实时跟踪贷款进度</h2>
            </li><li id="loancalculate" class="c">
            	<h1>房贷计算器</h1>
                <h2>在线进行房贷计算</h2>
            </li><li id="taxcalculate" class="d">
            	<h1>税费计算器</h1>
                <h2>在线进行税费计算</h2>
            </li></ul>
    </div>
    <div class="currentRate">
   	  <h1>最新房贷利率<span class="fc-9 ft12">（数据已更新至2015年10月24日）</span></h1>
      <div class="imgr">
      	<img src="images/mortgage/opacity.png">
      		<div class="grid">
            	<ul class="bar">
                	<li><i data-label="3.25%" style="height: 66.326531%"></i></li>
                    <li><i data-label="4.655%" style="height: 95%"></i></li>
                    <li><i data-label="4.90%" style="height: 100%"></i></li>
                </ul>
            </div>
      </div>
      <div class="row">
      	<div class="cell a"><span>公积金</span></div>
        <div class="cell"><span>杭州银行利率</span></div>
        <div class="cell b"><span>基准利率</span></div>
      </div>	
    </div>
    <div class="prog" id="buyhousestep">
    	<h1>买房流程</h1>
        <div class="imgr"><img src="images/mortgage/how.jpg"></div>
        <a  class="btn">点击查看买房流程 &gt;</a>
    </div>
  </div>	