  <div class="motPage">
    <div class="list">
        <div id="qishui" class="list-item row">
        	<span>契税：</span>
        	<div id="qishuitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="yingyeshui" class="list-item row"  >
        	<span>营业税：</span>
        	<div id="yingyeshuitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="yinyesuodesui" class="list-item row" >
        	<span>营业所得税：</span>
        	<div id="yinyesuodesuitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="yingyefujiashui" class="list-item row" >
        	<span>营业附加税：</span>
        	<div id="yingyefujiashuitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="gerensuodeshui" class="list-item row" >
        	<span>个人所得税：</span>
        	<div id="gerensuodeshuitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="yinghuashui" class="list-item row" >
        	<span>印花税：</span>
        	<div id="yinghuashuitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="zonghedijiashui" class="list-item row" >
        	<span>综合地价税：</span>
        	<div id="zonghedijiashuitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="weixiujijing" class="list-item row" >
        	<span>房屋维修基金：</span>
        	<div id="weixiujijingtax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        
        <div id="jiaoyishouxufei" class="list-item row" >
        	<span>交易手续费：</span>
        	<div id="jiaoyishouxufeitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="quanshudengjifei" class="list-item row" >
        	<span>权属登记费：</span>
        	<div id="quanshudengjifeitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        <div id="hejifei" class="list-item row" >
        	<span>合计：</span>
        	<div id="hejifeitax" class="ipt cell" style="text-align: right;"></div>
            <span class="bit1">元</span>
        </div>
        
        
       
        <div class="fc-9 ft12 pl10 pt10">以上结果仅供参考，请以当地实际情况为准</div>
    </div>  
    
    <div class="gap-box mt30">
    	<button id="calculateagain" class="zen-btn">重新计算</button>
    </div>
  </div>	
 
