  <div class="new2016 Regs" id="userRegPage1">
  	<div class="prgBar row">
    	<div class="cell active" data-label="1">手机验证</div>
        <div class="cell" data-label="2">身份验证</div>
        <div data-label="3">密码设置</div>
    </div>
	<div class="padded fm">
    	<div class="fm-itm">
        	<label>手机号</label>
            <div class="ipt"><input id="mobileNoText" type="tel" maxlength="11" value="<%=mobileNo%>" placeholder="中国大陆手机号"/></div>
        </div>
        <div class="fm-itm">
        	<label>验证码</label>
            <div class="ipt"><input id="phonePassInput" type="tel"  maxlength="6" value="" placeholder="短信验证码" /></div>
            <span  id="btn_sendSMS" class="get disabled">发送验证码</span>
        </div>
        <div id="recommendNumDiv" class="fm-itm">
        	<label>邀请码或工号</label>
            <div class="ipt"><input id="input_RecommendNum" type="tel" maxlength="11" value="<%=recommendNum%>" placeholder="邀请码或工号(可选)"/></div>
        </div>
        <label class="zen-ckbox pl15 mt10" id="agreeReg">
        	<input id="checkReg" type="checkbox" checked>
        	<span class="fm-agr">我已阅读并同意<a href="javascript:void(0);" id="showAgreement">《注册协议》</a></span>
        </label>
        <input id="nextButton1" type="button" value="下一步" class="zen-btn mt20 disabled" disabled>
    </div>
  </div>
   	<div id="userRegPage2" class="new2016 Regs" style="display:none ">
		<div class="mb10"></div>
		<div class="mb10" style="text-align:center">
			《杭州银行电子账户服务协议》
		</div>
		<div class="mb10"></div>
		<div class="ml10 mr5" style="padding-bottom:70px;">
			<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal style='margin-left:0cm'><span style='font-family:宋体'>甲方：客户</span><span
lang=EN-US>(</span><span style='font-family:宋体'>个人</span><span lang=EN-US>)</span></p>

<p class=MsoNormal style='margin-left:0cm'><span style='font-family:宋体'>乙方：杭州银行股份有限公司</span></p>

<p class=MsoNormal style='margin-left:0cm'><span style='font-family:宋体'>甲方自愿申请在乙方开立直销银行账户，使用乙方提供的账户服务，为明确双方的权利和义务，维护双方的合法权益，特签订本服务协议。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><strong><span
style='font-family:宋体'>第一条</span></strong><strong><span style='font-family:
"Arial","sans-serif"'> </span></strong><strong><span style='font-family:宋体'>定义</span></strong></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>1.</span><span
style='font-family:宋体'>直销银行：指乙方通过网络和直销终端为客户提供自助线上金融服务。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>2.</span><span
style='font-family:宋体'>直销账户：指甲方通过乙方直销银行渠道自愿申请、开立的Ⅱ类账户。</span> </p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>3.</span><span
style='font-family:宋体'>绑定账户：指甲方申请开立直销账户时，提供的本人在乙方或其它银行实名开立的同名Ⅰ类户，用于核验身份信息及直销账户资金划转。绑定账户须保持持续有效且可正常使用的状态。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>4.</span><span
style='font-family:宋体'>密码：指乙方用以识别甲方身份与指令要求甲方提供的代码或口令。包括登录密码、交易密码、动态密码、手势密码、生物识别特征等多个种类。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>5.</span><span
style='font-family:宋体'>绑定手机：指甲方在申请开立直销账户时，指定的关联直销账户的手机号码。该手机号码要与绑定账户使用的手机号码保持一致。绑定的手机号码用于接收乙方发送的授权码、短信验证码以及交易提示短信等的手机号码。乙方认为必要时，可通过此手机号码向甲方核实身份信息和交易信息。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><strong><span
style='font-family:宋体'>第二条</span></strong><strong><span style='font-family:
"Arial","sans-serif"'> </span></strong><strong><span style='font-family:宋体'>账户申请与开立</span></strong></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>1.</span><span
style='font-family:宋体'>甲方在申请开立直销账户时，甲方应当是具备完全民事权利能力和完全民事行为能力的自然人，按乙方要求提供申请资料、身份信息以及其他乙方要求提供的资料，经乙方核准后为甲方开立相应账户。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>&nbsp;</span><span
lang=EN-US>2.</span><span style='font-family:宋体'>甲方在乙方开立的直销账户为实名制账户。甲方应按照法律法规及乙方的要求提供真实、完整、有效的实名身份资料。甲方同意和授权乙方将其所填写的个人信息或银行卡相关信息交至权威机构或第三方合作机构处进行核查校验，如甲方申请资料不真实，或存在法律法规、监管政策及乙方届时规定的拒绝开户情形时，乙方有权拒绝为甲方开户。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>3.</span><span
style='font-family:宋体'>账户开立成功后，甲方应设置直销账户的登陆密码和交易密码。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><strong><span
style='font-family:宋体'>第三条</span></strong><strong><span lang=EN-US
style='font-family:"Arial","sans-serif"'>&nbsp; </span></strong><strong><span
style='font-family:宋体'>账户使用及管理</span></strong></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>1.</span><span
style='font-family:宋体'>甲方可使用直销账户办理存款、购买投资理财产品等金融产品、限额消费和缴费、限额向非绑定账户转出资金业务。消费和缴费、向非绑定账户转出资金限额以法律法规、监管规定及乙方届时规定为准。甲方可通过乙方渠道查询直销账户账户余额、交易明细等信息。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>2.</span><span
style='font-family:宋体'>甲方通过绑定账户将资金转入至直销账户，也可将直销账户资金转出至绑定账户，乙方暂免收直销账户资金转入、转出手续费；若变更收费标准，乙方将提前在其门户网站或营业网点公告。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>3.</span><span
style='font-family:宋体'>乙方有权根据业务需要和有关法律法规及监管政策的规定对账户的交易限额进行调整。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>4.</span><span
style='font-family:宋体'>甲方通过乙方直销银行申请解绑绑定账户，应先赎回直销账户项下所有投资理财等金融产品、支取所有存款、确保无在途交易，并将资金全部转回绑定账户，经乙方认证后予以解绑。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>5.</span><span
style='font-family:宋体'>甲方若遗失直销账户密码，通过乙方直销银行渠道发起密码重置申请，提交开户预留信息，经人工审核通过后生效。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>6.</span><span
style='font-family:宋体'>甲方修改手机号码、绑定账户信息，应携带本人有效身份证到乙方网点进行更改，经乙方按照新开户要求重新认证后予以变更。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>7.</span><span
style='font-family:宋体'>在符合国家法律法规、监管政策和乙方届时有关制度的情形下，在国家有权机关要求时，乙方有权对甲方直销账户进行止收止付，甲方不得办理资金划转等业务。若甲方直销账户被有权机关查询、冻结和扣划的，乙方有权按照国家有权机关要求予以协助执行，由此产生的任何损失由甲方自行承担。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>8.</span><span
style='font-family:宋体'>直销账户只限甲方本人使用，不得出借、转让或出租。否则，由此产生的损失由甲方自行承担。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>9.</span><span
style='font-family:宋体'>乙方为甲方提供直销账户服务，甲方应按乙方的规定进行操作，因操作不当造成的损失，乙方不承担任何责任。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>10.</span><span
style='font-family:宋体'>乙方不介入甲方与第三方之间的交易纠纷，但可协助甲方查明交易情况。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><strong><span
style='font-family:宋体'>第四条</span></strong><strong><span lang=EN-US
style='font-family:"Arial","sans-serif"'>&nbsp; </span></strong><strong><span
style='font-family:宋体'>账户安全</span></strong></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:14.25pt'><span
lang=EN-US>1.</span><span style='font-family:宋体'>甲方应通过乙方网站或者指定的正规手机应用市场下载，而不要通过不明或者可疑短信、邮件、微信、网络等渠道链接下载操作。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:14.25pt'><span
lang=EN-US>2. </span><span style='font-family:宋体'>甲方必须妥善保管身份认证要素及相关密码，并对通过以上信息完成的金融交易负责。乙方执行通过安全程序的电子支付指令后，甲方不得要求变更或撤销电子支付指令。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:14.25pt'><span
lang=EN-US>3. </span><span style='font-family:宋体'>甲方应按照机密的原则设置和保管自设密码：<b><u><span
style='color:red'>避免使用姓名、生日、电话号码等与本人明显相关的信息作为密码；不得将本人自设密码提供给除法律规定外的任何人；</span></u></b>应采取合理措施，防止本人密码被窃取。<b><u><span
style='color:red'>由于密码泄露造成的后果由甲方承担。</span></u></b></span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:14.25pt'><span
lang=EN-US>4. </span><span style='font-family:宋体'>甲方应该妥善保管预留验证信息，除在乙方办理业务时使用外，不要向任何其他人、其他网站、电话或短信的问询提供预留验证信息内容。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:14.25pt'><span
lang=EN-US>5. </span><span style='font-family:宋体'>发生以下情况时，甲方应及时到乙方营业网点办理相关手续，否则可能导致甲方无法正常使用乙方直销银行或降低账户资金安全性等风险。<b><u><span
style='color:red'>甲方应承担办妥手续之前所产生的一切后果。</span></u></b></span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span
style='font-family:宋体'>（</span><span lang=EN-US>1</span><span style='font-family:
宋体'>）甲方自设密码泄露、遗忘，或者甲方输错密码超过乙方规定的次数，应办理密码重置手续。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span
style='font-family:宋体'>（</span><span lang=EN-US>2</span><span style='font-family:
宋体'>）甲方手机遗失或者被盗，应及时办理直销银行修改或重置登录密码等操作。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.1pt'><strong><span
style='font-family:宋体'>第五条</span></strong><strong><span lang=EN-US
style='font-family:"Arial","sans-serif"'>&nbsp; </span></strong><strong><span
style='font-family:宋体'>账户指令与记录</span></strong></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>1.
</span><span style='font-family:宋体'>乙方根据甲方的直销银行业务指令办理业务，对所有使用甲方账户、密码及手机号码进行的操作均视为甲方所为，作为双方认同的书面证据，可视为交易的有效凭证。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>2.</span><span
style='font-family:宋体'>如乙方发现有下列情形之一，乙方有权不认可或不执行甲方指令：</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span
style='font-family:宋体'>（</span><span lang=EN-US>1</span><span style='font-family:
宋体'>）乙方有充足的理由怀疑数据信息或甲方指令的真实性；</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span
style='font-family:宋体'>（</span><span lang=EN-US>2</span><span style='font-family:
宋体'>）乙方执行甲方指令将违反相关的法律、法规或规章的规定；</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span
style='font-family:宋体'>（</span><span lang=EN-US>3</span><span style='font-family:
宋体'>）甲方发出的数据电文表达的格式、内容、操作等不符合乙方要求；</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span
style='font-family:宋体'>（</span><span lang=EN-US>4</span><span style='font-family:
宋体'>）直销账户中的余额或账户状态不足以完成甲方指令；</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span
style='font-family:宋体'>（</span><span lang=EN-US>5</span><span style='font-family:
宋体'>）甲方违反本协议或双方已订立的其他协议或合同的；</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span
style='font-family:宋体'>（</span><span lang=EN-US>6</span><span style='font-family:
宋体'>）双方特别约定或法律法规规定的其他情况。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>3.</span><span
style='font-family:宋体'>甲方指令一经发出，除乙方允许情况外，不得要求撤销。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><strong><span
style='font-family:宋体'>第六条</span></strong><strong><span style='font-family:
"Arial","sans-serif"'> </span></strong><strong><span style='font-family:宋体'>银行责任的免除与限制</span></strong></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>1.</span><span
style='font-family:宋体'>甲方使用直销账户时，如非乙方过错而发生的数据电文错误或者对甲方指令识别、处理或执行错误时，乙方对因该项错误的发生所导致的损失和其他不利后果不承担责任；但乙方可在甲方处理时对甲方提供必要的协助。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>2.</span><span
style='font-family:宋体'>对于不可抗力（包括但不限于战争、自然灾害、电力供应中断、火灾、地震等）、意外事件或乙方无法控制的其他情况所造成的损失，乙方在法律法规规定的范围内不承担责任。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>3.</span><span
style='font-family:宋体'>若发生乙方对于合法有效的甲方指令识别错误或执行错误，对于因银行</span><span lang=EN-US>/</span><span
style='font-family:宋体'>银行账户系统错误而造成的甲方直接财产损失，乙方应按适用的规则予以赔偿，但对于任何间接损失、履行利益、后果性损害、非财产损害、乙方于错误发生时不可预见的损失以及因甲方未能及时通知或及时采取措施而导致扩大的损失，乙方不承担责任。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><strong><span
style='font-family:宋体'>第七条</span></strong><strong><span style='font-family:
"Arial","sans-serif"'> </span></strong><strong><span style='font-family:宋体'>公告与变更</span></strong></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>1.</span><span
style='font-family:宋体'>甲方同意，乙方可对本协议及直销账户使用规则进行单方变更，以乙方网点、官方网站或手机客户端等乙方渠道发布的公告为准。如客户在银行公告的协议变更生效日后继续使用直销账户，视为客户已接受上述变更，相关条款根据该等变更而自动作相应修改，双方无须另行签订书面协议。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.6pt'><span lang=EN-US>2.</span><span
style='font-family:宋体'>乙方在上述任一渠道发布直销账户服务相应公告内容的，自发布之日起视为送达；涉及本协议修改的，自发布之日起本协议自动修改。甲方应及时认真阅读并严格遵守，因甲方使用不当所造成的损失由其自行承担。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><b><span
style='font-family:宋体'>第八条</span></b><b> </b><b><span style='font-family:宋体'>法律适用条款</span></b></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>1.</span><span
style='font-family:宋体'>本协议的成立、生效、履行和解释，均适用中华人民共和国法律；法律无明文规定的，均依据杭州银行有关业务规定、金融业务惯例和网上交易惯例办理。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>2.</span><span
style='font-family:宋体'>本协议是乙方的其他既有协议和约定的补充而非替代文件，如本协议与其他协议和约定有冲突，涉及直销银行业务内容的，应以本协议为准。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>3.</span><span
style='font-family:宋体'>双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方可向乙方所在地人民法院提起诉讼。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><strong><span
style='font-family:宋体'>第九条</span></strong><strong><span style='font-family:
"Arial","sans-serif"'> </span></strong><strong><span style='font-family:宋体'>其他约定事项</span></strong></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>1.
</span><span style='font-family:宋体'>甲方到乙方营业网点办理直销银行相关手续，应提供相关资料，填写相关申请表，并签名确认。<b><u><span
style='color:red'>甲方向乙方提供的业务申请表是本协议不可分割的组成部分。</span></u></b>甲方应保证所填写的申请表和所提供的资料真实、准确、完整，对于因甲方提供信息不真实或不完整所造成的损失由甲方承担。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>2.
</span><span style='font-family:宋体'>甲方授权乙方在协议有效期间向有关机构或单位查询客户信息，用于客户身份的认证，并保证不会因上述机构或单位配合乙方提供有关信息或确认事项而向上述机构或单位以任何形式提出权利主张。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>2.
</span><span style='font-family:宋体'>甲方办理直销银行业务，应遵守杭州银行电子银行相关章程和乙方在网站上公布的交易规则。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>3.</span><b><u><span
style='font-family:宋体;color:red'>如甲方因乙方直销银行系统差错、故障或其他原因获得不当得利的，乙方有权从甲方账户中直接扣划甲方的不当得利所得或暂停甲方的直销银行服务。</span></u></b></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:19.0pt'><span lang=EN-US>4.
</span><span style='font-family:宋体'>乙方提请甲方注意对本协议各条款，作全面、准确的理解，甲方一旦点击同意，即视为同意本协议的全部内容。</span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:18.7pt'><b><span
style='font-family:宋体;color:red'>特别提示：凡使用密码进行的操作均视为甲方本人所为，甲方应妥善保管身份认证要素，因甲方保管不善导致上述信息被盗或丢失的，由此引发的相应操作后果或资金损失由甲方本人承担。</span></b></p>

</div>
		</div>
		<div class="mb10"></div>
		<div class="buy-btn-wrap">
	        <div class="btn-double">
	           <input type="button" value="同意" class="zen-btn" id="agreeBtn"/>
	           <input type="button" value="关闭" class="zen-btn btn-fn" id="closeBtn"/>
	        </div>
		</div>
	</div>  	
