 <div class="new2016 Regs">
 	<div class="prgBar row">
   	<div class="cell active" data-label="1">手机验证</div>
       <div class="cell active" data-label="2">身份验证</div>
       <div class="active" data-label="3">密码设置</div>
   </div>
   <div class="padded fm">
   	<div class="fm-itm">
       	<label>登录密码</label>
           <div class="ipt"><input id="password1" type="password" value="" placeholder="请输入您的登录密码" readonly="readonly"/></div>
       </div>
	<div class="fm-itm">
       	<label>确认密码</label>
           <div class="ipt"><input id="password2" type="password" value="" placeholder="请确认您的登录密码" readonly="readonly"/></div>
       </div>
       <input id="nextButton3" type="button" value="下一步" class="zen-btn mt20 disabled" disabled/>
   </div>
 </div>