<div class="mall new2016">
  	<div class="idxPage">
    	<div class="banner" id="bannerToE"><img src="images/malPro/p_r1_c1.jpg"></div>
        <div class="menu flexbox">
        	<div class="flexbox-item a" id="aToE">跨境直邮</div>
            <div class="flexbox-item b" id="bToE">精品推荐</div>
            <div class="flexbox-item c" id="cToE">新品推荐</div>
            <div class="flexbox-item d" id="dToE">积分兑换</div>
        </div>
      <div class="proGrid mt10">
      	<div class="title border-b row">
        	<div class="cell fc-blue">热销产品</div>
            <a id="RXhrefToE">更多</a>
        </div>
      	<div class="flexbox">
        	<div class="flexbox-item border-r"><a id="RX1ToE"><img src="images/malPro/p_r4_c1.jpg"></a></div>
            <div class="flexbox-item">
       	  		<div class="border-b"><a id="RX2ToE"><img src="images/malPro/p_r3_c6.jpg"></a></div> 
            	<div><a id="RX3ToE"><img src="images/malPro/p_r6_c6.jpg"></a></div>
            </div>
        </div>
        </div>
        <div class="proGrid mt10 mb10">
      	<div class="title border-b row">
        	<div class="cell fc-blue b">积分兑换</div>
            <a id="JFhrefToE">更多</a>
        </div>
        <div class="flexbox border-b">
        	<div class="cell border-r">
            	<a id="JF1ToE"><img src="images/malPro/p_r8_c1.jpg"></a>
                <div class="dsc">
                	<h1>花色调味之星8件套</h1>
                    <h2><b>6400</b>积分</h2>
                </div>
            </div>
            <div class="cell">
            	<a id="JF2ToE"><img src="images/malPro/p_r9_c9.jpg"></a>
            	<div class="dsc">
                	<h1>奔腾剃须刀</h1>
                    <h2><b>38900</b>积分</h2>
                </div>
            </div>
        </div>
      	<div class="flexbox">
        	<div class="flexbox-item border-r">
            	<a id="JF3ToE"><img src="images/malPro/p_r12_c2.jpg"></a>
            	<div class="dsc">
                	<h1>飞利浦压力饭煲</h1>
                    <h2><b>4438900</b>积分</h2>
                </div>
            </div>
            <div class="flexbox-item border-r">
            	<a id="JF4ToE"><img src="images/malPro/p_r12_c4.jpg"></a>
            	<div class="dsc">
                	<h1>施华洛世奇项链</h1>
                    <h2><b>48900</b>积分</h2>
                </div>
            </div> 
            <div class="flexbox-item">
            	<a id="JF5ToE"><img src="images/malPro/p_r11_c10.jpg"></a>
            	<div class="dsc">
                	<h1>几米星空餐盒组</h1>
                    <h2><b>36900</b>积分</h2>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>	