<div class="gap-box">
	
	<div style="text-align: center">
		<h1 class="lh2" style="font-size: 22px">
			<strong>项目说明</strong>
		</h1>
	</div>
	<div class="mb10"></div>
	<div class="ml5 mr5" style="padding-bottom: 35px;">
		<table width="100%" border="2px" cellspacing="0" cellpadding="0"
			　style="border-collapse: collapse">
			<tr>
				<td width="40%">项目名称</td>
				<td id="projectName">金融资产收益权项目（2016）E0118001号</td>
			</tr>
			<tr>
				<td width="40%">项目编号</td>
				<td id="projectNumber">xx</td>
			</tr>
			<tr>
				<td width="40%">目标客户</td>
				<td id="targetCustomer">个人客户（须通过杭州银行直销银行申请交易）</td>
			</tr>
			<tr>
				<td width="40%">项目期限</td>
				<td >【<span id="financePeriod"></span>】天</td>
			</tr>
			<tr>
				<td width="40%">实际投资天数</td>
				<td>起息日（含）至到期日（不含）或提前终止日（不含）</td>
			</tr>
			<tr>
				<td width="40%">投资及收益币种</td>
				<td>人民币</td>
			</tr>
			<tr>
				<td width="40%">投资对象</td>
				<td id="investment">本项目100%投资于 国都证券股份有限公司（即转让方）享有合法处置权的《国都证券-杭州银行3号定向资产管理计划资产管理合同》（编号为（GDDX）2016-116））项下资产管理计划资产对应之金融资产收益权。（项目详细信息请认真阅读信息披露文件）。</td>
			</tr>
			<tr>
				<td width="40%">募集规模上限</td>
				<td>【<span id="financeTotalAmt"></span>】万元</td>
			</tr>
			<tr>
				<td width="40%">募集期</td>
				<td><span id="raisebegindate"></span>--<span id="raiseenddate"></span>（募集期最后一天，应在北京时间当日下午24:00前受让购买）。转让方在法律允许的范围内保留延长或提前终止项目募集期的权利；如有变动，实际项目募集期以实际公布期限为准。项目募集期不计息。</td>
			</tr>
			<tr>
				<td width="40%">募集方式</td>
				<td>本次募集采用分期的方式。每一期成交的受让方人数不超过200人，客户实际成交的期数以成交确认结果为准。</td>
			</tr>
			<tr>
				<td width="40%">起息日</td>
				<td id="interestBeginDate">2016年【8】月【17】日</td>
			</tr>
			<tr>
				<td width="40%">到期日</td>
				<td id="interestEndDate">【2016】年【9】月【20】日</td>
			</tr>
			<tr>
				<td width="40%">兑付日</td>
				<td id="honourDate">【2016】年【9】月【23】日</td>
			</tr>
			<tr>
				<td width="40%">清算期</td>
				<td>到期日至兑付日为项目兑付清算期，项目兑付清算期内不计付项目收益和利息。</td>
			</tr>
			<tr>
				<td width="40%">项目不成立</td>
				<td>当募集期结束，因监管政策变化或其他原因导致项目不能成立时，转让方有权终止本项目转让并宣告本项目不成立，并在宣布不成立日后【2】个工作日内将受让价款返还客户原付款账户。</td>
			</tr>
			<tr>
				<td width="40%">本金及经测算的预期年化收益说明</td>
				<td>本项目本金及收益可能发生损失，武汉金融资产交易所及杭州银行不对项目本金或收益作出保证或承担任何连带责任。若本项目没有发生任何风险，投资者获得经测算的预期年化收益率为【<span id="financePreInterestRate"></span>】%（本项目的应纳税款由投资者自行申报和缴纳）。</td>
			</tr>
			<tr>
				<td width="40%">投资金额</td>
				<td>认购起点金额人民币【<span id="minbuyamt"></span>元】，追加认购为【<span id="toaddamt"></span>元】的整数倍</td>
			</tr>
			<tr>
				<td width="40%">收益计算公式</td>
				<td>经测算的预期客户收益=客户投资本金×经测算的预期年化收益率×实际投资天数÷365（收益计算基础为实际投资天数/365）；客户收益保留到小数点后两位，多余的位数用去尾法删除。</td>
			</tr>
		</table>
		<div class="mb5 mt10" style="text-align: left;border: 2px solid gray;padding:5px;">
			尊敬的客户：本项目有投资风险，不保证本金和收益，
			可能会因市场变动而导致本金和收益全部损失，
			您应充分认识投资风险，谨慎投资。
		</div>
	</div>
	<div class="ft18 lh2">
		<h2 align="center">
			<strong>风险提示</strong>
		</h2>
	</div>
	<div class="ml10 mr5 lh2" style="padding-bottom: 35px;">
		尊敬的客户：<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本金融资产收益权项下投资活动具有投资风险，投资人可能面临的风险主要包括（但不限于）：<br/>
			1、信用风险:金融资产收益权投资运作过程中，如果该投资的债务人、交易对手等发生违约、信用状况恶化等，客户将面临投资的本金和收益损失的风险。<br/>
			2、流动性风险：金融资产收益权转让期限内，投资本金融资产收益权的客户不能提前终止或赎回，在投资存续期内如果投资者有流动性需求，客户不能够使用金融资产收益权的投资资金，也因此丧失了投资其它更高收益的金融资产收益权或金融市场产品的机会。<br/>
			3、法律与政策风险：国家监管政策、货币政策、财政税收政策、产业政策、宏观政策及相关法律、法规的调整与变化将会影响本金融资产收益权产品的正常运行，甚至导致本金融资产收益权投资本金和收益发生损失。<br/>
			4、延期支付风险：指因市场内部和外部的原因导致金融资产收益权基础资产不能及时变现而造成金融资产收益权不能按时兑付，金融资产收益权投资期限将相应延长，从而导致本金融资产收益权部分或全部投资本金及收益的延期支付。<br/>
			5、早偿风险：如遇国家金融政策重大调整影响产品正常运作时、本金融资产收益权的投资资产等不能成立或者提前终止、或者司法机关要求、或发生其他需要提前终止本金融资产收益权产品等情况，本金融资产收益权转让方有权部分或全部提前终止本金融资产收益权产品，投资者可能无法实现期初预期的全部收益，并将面临再投资机会风险。<br/>
			6、不可抗力及意外事件风险：因战争、自然灾害、重大政治事件等不可抗力以及其他不可预见的意外事件可能致使金融资产收益权投资面临损失的任何风险。<br/>
			7、最不利投资情形下的投资结果示例：若金融资产收益权产品运作期间，该金融资产收益权投资标的出现风险，则客户可能无法获得约定的参考收益率，甚至客户的投资本金将遭受损失，在最不利的极端情况下，客户可能损失全部本金及收益。<br/>
	</div>
	<div class="ft18 lh2">
		<h2 align="center">
			<strong>交易条件与受让资格条件</strong>
		</h2>
	</div>
	<div class="ml10 mr5 lh2" style="padding-bottom: 35px;">
		申请办理本项目受让的客户，须符合以下交易条件和受让资格条件：<br/>
		（1）具有完全民事行为能力；<br/>
		（2）能够识别、判断和承担拟投资项目的相应风险；<br/>
		（3）具有良好的财务状况和支付能力；<br/>
		（4）具有良好的商业信用；<br/>
		（5）投资本金融资产收益权成交后不可撤销、不可转让、不可提前赎回；<br/>
		（6）受让方需符合杭州银行及金融监管机构制定的合格投资者相关标准。<br/>
	</div>
	<div class="ft18 lh2">
		<h2 align="center">
			<strong>信息披露声明</strong>
		</h2>
	</div>
	<div class="ml10 mr5 lh2" style="padding-bottom: 35px;">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本项目有风险，投资者应当认真阅读有关信息披露文件，进行独立的投资判断，自行承担投资风险。武汉金融资产交易所按照转让方的授权委托，发布金融资产收益权项目的信息。客户应主动、及时通过杭州银行直销银行获取相关信息。如果客户未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素的影响使得客户无法及时了解项目信息，由此而产生的责任和风险由客户自行承担。如投资者预留的有效联系方式变更但未及时告知的，致使在需要联系投资者时无法及时联系并可能会由此影响投资者的投资决策，由此而产生的责任和风险由客户自行承担。
	</div>
</div>


