<div class="gap-box">
	  	<div style="text-align:center">
		<h1 class="ft18 lh2"><strong>金融资产收益权投资风险揭示书</strong></h1>
		<h1 class="ft18 lh2"><strong>金融资产收益权有风险、投资须谨慎！</strong></h1>
		<h1 class="ft18 lh2"><strong>(适用于自然人参加受让金融资产收益权)</strong></h1>
	  	</div>
		<div class="mb10"></div>
		<div class="ml10 mr5 lh2" style="padding-bottom:70px;">
		    <h2 class="ft16 lh2">尊敬的客户：</h2>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本金融资产收益权项下投资活动具有一定投资风险。客户（“投资者”）投资本金融资产收益权项目，但武汉金融资产交易所（下称“本交易所”）并不对金融资产收益权本金及投资收益作出任何承诺或承担任何连带责任。在您选择投资本金融资产收益权项目前，请仔细阅读以下内容：<br/><br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、在投资金融资产收益权项目前，请您仔细阅读本《风险揭示书》及《项目说明》等信息披露资料，确保自己完全理解该项投资的性质和面临的风险，详细了解和审慎评估该金融资产收益权项目的资金投资方向、风险类型等情况，在慎重考虑后自行决定投资与自身风险承受能力和资产管理需求匹配的金融资产收益权项目。<br/><br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二、本交易所对本金融资产收益权项目的金融资产收益权本金和收益不提供保证承诺，在发生最不利的情况下（可能但不一定发生），投资者可能无法取得金融资产收益权收益，并可能面临损失金融资产收益权本金的风险。您应充分认识投资风险，谨慎投资。客户投资本项目可能面临的风险主要包括（但不限于）：<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>1、信用风险：</strong>金融资产收益权项目投资运作过程中，如果该投资的债务人、交易对手等发生违约、信用状况恶化等，客户将面临投资的本金和收益损失风险。金融资产收益权的投资回报以转让方实际自金融资产收益权所依附的基础资产收到的利益为限。本项目投资者本金及收益均可能因上述基础资产利益的减少或损失而发生全部或部分损失。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>2、流动性风险：</strong>金融资产收益权投资期限内，投资本金融资产收益权项目的客户不能撤销、不能转让、不能提前终止或赎回，在项目存续期内如果投资者有流动性需求，客户不能够使用金融资产收益权项目的资金，也因此丧失了投资其它更高收益的金融资产收益权项目或资本市场产品的机会。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>3、法律与政策风险：</strong>国家监管政策、货币政策、财政税收政策、产业政策、宏观政策及相关法律、法规的调整与变化将会影响本金融资产收益权项目的正常运行，甚至导致本金融资产收益权项目本金和收益发生损失。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>4、延期支付风险：</strong>指因市场内部和外部的原因导致金融资产收益权基础资产不能及时变现而造成金融资产收益权项目不能按时兑付，金融资产收益权期限将相应延长，从而导致本金融资产收益权项目部分本金及收益的延期支付。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>5、早偿风险：</strong>如遇国家金融政策重大调整影响项目正常运作时、本金融资产收益权项目的投资资产等不能成立或者提前终止、或者司法机关要求、或发生其他本金融资产收益权转让方或本交易所认为需要提前终止本金融资产收益权项目等情况，本金融资产收益权转让方或本交易所有权部分或全部提前终止本金融资产收益权项目，投资者可能无法实现期初预期的全部收益，并将面临再投资机会风险。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>6、信息传递风险：</strong>本交易所按照转让方的授权委托，发布金融资产收益权项目的信息。客户应主动、及时通过本交易所交易大厅或杭州银行直销银行获取相关信息。如果客户未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素的影响使得客户无法及时了解项目信息，由此而产生的责任和风险由客户自行承担。如投资者预留的有效联系方式变更但未及时告知本交易所及杭州银行直销银行的，致使在需要联系投资者时无法及时联系并可能会由此影响投资者的投资决策，由此而产生的责任和风险由客户自行承担。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>7、不可抗力及意外事件风险：</strong>因战争、自然灾害、重大政治事件等不可抗力以及其他不可预见的意外事件可能致使金融资产收益权项目面临损失的任何风险。<br/><br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三、最不利投资情形下的投资结果示例：若金融资产收益权项目运作期间，该金融资产收益权项目投资标的出现风险，则客户可能无法获得约定的参考收益率，甚至客户的投资本金将遭受损失，在最不利的极端情况下，客户可能损失全部本金和收益。<br/><br/>
			<strong class="fr">风险揭示方：武汉金融资产交易所有限公司</strong><br/>
		</div>
	</div>