<div class="content">
    <div class="gap-box">
	    <ul class="zen-switch-pages">
	      <li class="slide-page js-active" id="page-tab2">
	        <ul class="zen-article-list">
	          <li class="zen-prgh">
	            <h1>购买说明：</h1>
	            <p>本产品只能通过电子账户购买，各银行卡每日转入电子账户限额规定不同，为了能够在募集日内买到产品，尽量提前将钱转入电子账户。</p>
	          </li>
	          <li class="zen-prgh">
	            <h1>撤单说明：</h1>
	            <p>本产品在募集期间可以撤单，但募集满额及募集结束日不可撤单。撤单功能请到我的账户查看。</p>
	          </li>
	          <li class="zen-prgh">
	            <h1>到期付款：</h1>
	            <p>产品到期后的3个工作日以内完成付款，本息总额将会自动回归到电子账户。本产品具有概率较小的提前还款的可能，如果提前还款，会按照实际持有天数计算收益。</p>
	          </li>
	          <li class="zen-prgh">
	            <h1>转让说明：</h1>
	            <p>为了帮您提高持有产品的变现能力，我们为您提供了转让功能。产品名称后有“持有7天可转”字样的产品，您持有超过7天且距到期日大于15天就可以转让。</p>
	            <p>有关转让的交易（发布、撤销、购买转让产品等）只允许在8:00—22:00之间进行，且须一次性转让所有本金和收益。您通过设置“买方收益率”分配自己和下家的收益，一般来说，您设置的买方收益率越高，下家的收益就越多，您的转出速度就越快。发布转让的有效期为3天，3天后将自动失效，需要重新发布转让。</p>
	            <p>购买转让产品和购买新产品一样，都将在您的持有列表中展现。您需要一次性买入转让产品，因此,请注意电子账户余额是否充足。</p>
	            <p>更多关于转让功能的问题请参考发布转让界面中的帮助。</p>
	          </li>
	        </ul>
	      </li>
	    </ul>
    </div> 
</div> 

