<div class="new2016 iwantPage">
	<div class="imgr mb20"><img src="images/iwant/small_big_dream.png"></div>
	<div class="list mb20">
		<div class="typeLabel a"></div>
		<div class="list-item arr"  id="boseFund" >
			<div class="row cross">
				<div class="tt">
				
				<h1 class="d">幸福添利 <span class="sub">货币基金</span></h1>
				
					<p>一分起投 随时赎回</p>
				</div>
				<div class="cell txt-r">
					<h2><%=boseSevRate+"%"%></h2>
					<p>七日年化收益</p>
				</div>
			</div>
		</div>
	</div>
	<div class="list mb20">
		<div class="typeLabel b"></div>
		<div class="list-item arr"  id="saleProducts" >
			<div class="row cross">
				<div class="tt">
				
					<h1 class="b">幸福金禧 <span class="sub">定期投资</span></h1>
					
					<p>实时交易 轻松投资</p>
				</div>
				<div class="cell txt-r">
					<h2><%=financePreInterestRate%>%</h2>
					<p>最高年化收益率</p>
				</div>
			</div>
		</div>
	</div>
	<div class="list mb20">
		<div class="typeLabel c"></div>
		<div class="list-item arr"  id="deposit" >
			<div class="row cross">
				<div class="tt">
				
					<h1 class="c">幸福乐存 <span class="sub">智慧存款</span></h1>
					
					<p>起存额低 支取灵活</p>
				</div>
				<div class="cell txt-r">
					<h2><%=oneYearRate+"%"%></h2>
					<p>一年期利率</p>
				</div>
			</div>
		</div>
		<div class="list-item arr"  id="design" >
			<div class="row cross">
				<div class="tt">
				
					<h1 class="e">结构性存款 <span class="sub">固定期限</span></h1>
					
					<p>收益增值产品</p>
				</div>
				<div class="cell txt-r">
					<h2>8.47%</h2>
					<p>历史最高年化收益率</p>
				</div>
			</div>
		</div>
	</div>
	<div class="list mb20">
		<div class="typeLabel d"></div>
		<div class="list-item arr"  id="gold" >
			<div class="row cross">
				<div class="tt">
				
					<h1 class="a">幸福如金 <span class="sub">黄金投资</span></h1>
					
					<p>经济动荡 我来保值</p>
				</div>
				<div class="cell txt-r">
					<h2><%=goldSevRate+"%"%></h2>
					<p>近一年收益</p>
				</div>
			</div>
		</div>
		<div class="list-item arr"  id="fund" >
			<div class="row cross">
				<div class="tt">
				
					<h1 class="f mt10">幸福基金 <span class="sub">基金投资</span></h1>
					
					<p>基金超市，海量选择</p>
				</div>
				<div class="cell txt-r" id="preferredFund">
					<p><%=fundName%></p>
					<h2 class="<%=fundClass%>"><%=risePer%></h2>
					<p><%=rateDate%></p>
				</div>
			</div>
		</div>
	</div>
</div>
