<body class="gray-bg" ontouchstart="">
	<div class="motPage">
		<div class="buyProg">
			<div class="list disabled">
				<div class="list-item" data-num="1">
					<div class="tt">
						<span>购房资格检查</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">买房之前，您需要先了解当地的购房政策，判断自己是否具有买房资格。</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="2">
					<div class="tt impt">
						<span>根据首付，算你能承受的房价</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">买房前，您需先根据自己的首付额度和家庭每月的收支情况，判断自己能承担总价多少钱的房产，才能在选房阶段更有目的性的挑选哦！</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="3">
					<div class="tt">
						<span>看房选房</span>
					</div>
					<!--  <div class="detail">
                	<div class="inner">
                    	<div class="fc-9">买房前，您需先根据自己的首付额度和家庭每月的收支情况，判断自己能承担总价多少钱的房产，才能在选房阶段更有目的性的挑选哦！</div>
                   		<div id="houseability3" class="fc-blue">评估我的购房能力&gt;</div>
                    </div>
                </div> -->
				</div>
				<div class="list-item" data-num="4">
					<div class="tt">
						<span>购房资质提交</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">签购房合同前，将购房资格证明材料提交到住建委进行审核，5-10个工作日审核完成，审核通过后资质有效期为30个自然日</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="5">
					<div class="tt">
						<span>签订购房合同，支付定金</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">选好房后，买卖双方签署购房合同，确认房价，各项事务办理完成的时间，违约责任等，并支付购房定金。</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="6">
					<div class="tt">
						<span>房产评估</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">住房公积金管理中心或银行有指定的评估公司为你的房屋价值做评估。公积金管理中心或银行会根据评估价值来评定给您的按揭贷款最高额度。</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="7">
					<div class="tt">
						<span>网签</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">买卖双方签订购房合同后，需到市住建委进行备案，并公布在网上。</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="8">
					<div class="tt">
						<span>选择银行，申请按揭贷款</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">确认按揭银行：通过综合比较贷款利率折扣、放款时间、贷款期限等因素，确定贷款按揭的银行(在这个阶段仔细比对选出最适合自己的银行，真的会省很多钱哦！)</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="9">
					<div class="tt">
						<span>交首付</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">为保证买房者的权益，首付款将由住建委进行资金监管(部分大型中介公司会自行进行第三方资金监管)，在确认过户后放款给买方。</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="10">
					<div class="tt">
						<span>缴税</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">此阶段，买卖双方需携带相关材料去当地房产交易中心缴纳二手房交易契税，个税等税费，凭缴税收据进行房产过户。</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="11">
					<div class="tt">
						<span>过户</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">买卖双方需要到当地住建委，变更房权属人的名字，过户取得房本。</div>
						</div>
					</div>
				</div>
				<div class="list-item" data-num="12">
					<div class="tt">
						<span>房产抵押，银行放款</span>
					</div>
					<div class="detail">
						<div class="inner">
							<div class="fc-9">您需要在住建委网站进行房屋抵押申请，然后将新产权证和银行出具的批贷函等材料提交到住建委，进行抵押并生成权利证书，再将权利证书给到按揭银行，银行审核后进行按揭放款。至此，您就要开始偿还房屋按揭了。
							</div>
						</div>
					</div>
				</div>
				
			</div>
				<i class="line"></i>
		</div>
		</div>
		<script>
			Zepto(function($) {
				$('.buyProg .list-item .tt').on(
						'click',
						function() {
							var cur = $(this);
							var par = cur.parent();
							var parsib = par.siblings();
							var parsibdtl = parsib.find('.detail');
							var dtl = par.find('.detail');
							var inn = dtl.find('.inner');
							parsib.removeClass('spr');
							parsibdtl.height(0);
							par.hasClass('spr') ? (par.removeClass('spr') && dtl.height(0))
									: (par.addClass('spr') && dtl.height(inn.offset().height));
						})
			})
		</script>
		</body>