<body class="gray-bg"  ontouchstart="">
  	
  <div class="loanApp new2016">
  	<div class="progress">
    	<i data-label="身份认证" class="active">1</i>
        <i data-label="确认房屋信息" class="active">2</i>
        <i data-label="申请人信息">3</i>
        <i data-label="借款信息">4</i>
    </div>
    <!-- Progress 1 start! -->
      <!-- 未查询到数据 start! -->
    <!-- <div id="nodata" class="nodata">您好，暂时没有查询到您的贷款信息</div>
    <div class="gap-box mt20 mb20">
       		<button id="houseconfirm2" class="zen-btn">确认</button>
       </div> -->
    <!-- 未查询到数据 2 end! -->
    <div id="specBuz" class="specBuz">
       <ul class="liz">
       		<li class="row">
            	<div class="tt">开发商/中介名称：</div>
            	<div id="zjname" class="cell" style="color: gray;"></div>
            </li>
            <li class="row">
            	<div class="tt">中介联系人：</div>
            	<div id="userName" class="cell" style="color: gray;"></div>
            </li>
            <li class="row">
            	<div class="tt">购房合同编号：</div>
            	<div id="htnum" class="cell" style="color: gray;"></div>
            </li>
           <!--  <li class="row">
            	<div class="tt">预售证号：</div>
            	<div class="cell">JKfd56898954</div>
            </li> -->
            <li class="row">
            	<div class="tt">中介联系电话：</div>
            	<div  id="connectphone"  class="cell" style="color: gray;"></div>
            	
            </li> 
       </ul>
       <ul class="liz">
       		<li class="row">
            	<div class="tt">房屋地址：</div>
            	<div id="houseaddress" class="cell" style="color: gray;"></div>
            </li>
            <li class="row">
            	<div class="tt">建筑面积：</div>
            	<div  id="builarea" class="cell" style="color: gray;"></div>
            	<div class="tt">平</div>
            </li>
            <li class="row">
            	<div class="tt">购房总价：</div>
            	<div id="houseprice" class="cell" style="color: gray;"></div><div class="tt">元</div>
            </li>
            <li class="row">
            	<div class="tt">首付款：</div>
            	<div id="firstpay" class="cell" style="color: gray;"></div>
            	<div class="tt">元</div>
            </li>
       </ul>
       <ul class="liz">
       		<li class="row">
            	<div class="tt">评估价值：</div>
            	<div id="assessvalue"  class="cell" style="color: gray;"></div>
            	<div class="tt">元</div>
            </li>
           <li class="row" >
            	<div class="tt">房屋类型：</div>
            	<div  id="housestatus" class="cell" style="color: gray;"></div>
            </li> 
           <li class="row" >
            	<div class="tt">房屋状况：</div>
            	<div  id="housetype" class="cell" style="color: gray;"></div>
            </li> 
            <li id="housedateshow" class="row" style="display: none;">
            	<div class="tt">房屋建筑年代：</div>
            	<div  id="housedate" class="cell" style="color: gray;"></div>
            </li>
            <li id="payhousedateshow" class="row" style="display: none;">
            	<div class="tt">交房日期：</div>
            	<div  id="payhousedate" class="cell" style="color: gray;"></div>
            </li>
       </ul>
       <div class="gap-box mt20 mb20">
       		<button id="houseconfirm" class="zen-btn">确认</button>
       </div>
	</div>
    <!-- Progress 1 end! -->
    
  </div>	
  
</body>