 <div class="loanApp proQuery new2016" id="query" style="display: none">
  	<div class="progress">
    	<i data-label="身份认证" class="active">1</i>
        <i data-label="人脸识别" class="active">2</i>
        <i data-label="进度查询" class="active" >3</i>
    </div>
 </div>
 <div class="loanApp  new2016">
  	<div class="progress" id="apply" style="display: none">
    	<i data-label="身份认证" class="active">1</i>
        <i data-label="确认房屋信息" class="active">2</i>
        <i data-label="申请人信息">3</i>
        <i data-label="借款信息">4</i>
    </div>
    <!-- Progress 1 start! -->
    <div class="ifo-box" id="houseappend">
    	
    </div>
    <!-- Progress 1 end! -->
    
  </div>	