  <div class="new2016" style="display: " id="success">
  <div style="height:5px"></div>
  	<div class="safeGrade">
    	<div class="gradeBox">
        	<img src="images/safe/levelup.png" height="120">
        </div>
        <div class="gap-box pt10">
            <input type="button" value="返回" class="zen-btn mt15" id="bank1">
        </div>
    </div>
  </div>
  <div class="new2016" style="display: none" id="fail">
  	<div class="deEloan loanResult">
    	<div class="error faild">很抱歉，提升安全等级失败</div>
        <div class="gap-box pt10">
            <input type="button" value="返回" class="zen-btn mt15" id="bank2">
        </div>
    </div>
  </div>