  <div class="content zen-animated">
    <ul class="zen-article-list-2">
      <li class="zen-prgh">
        <h1>简介</h1>
        <p>杭银直销是传统银行拥抱互联网金融的一项创新举措。直销银行突破了传统实体网点的经营模式，个人客户无需持有杭州银行卡，也无需前往银行实体网点，只需通过互联网即可完成账户注册，享受多元化的金融服务。 </p>
      </li>
      <li class="zen-prgh">
        <h1>产品</h1>
        <p>杭银直销在产品定位上力求简单便捷、安全稳健。目前主推两类产品：一是“幸福添利”，对接货币基金，具有购买门槛低、实时支取的特点；二是“幸福乐存”，作为一款人民币储蓄增值服务产品，不但具有活期存款可灵活支取的优点，还可提供通知或定期存款的利率回报。 </p>
      </li>
      <li class="zen-prgh">
        <h1>未来</h1>
        <p>未来， 杭银直销将继续顺应互联网金融趋势，持续完善渠道建设，提供网上银行、手机银行和手机客户端等多渠道服务，不断优化使用体验，推出更为丰富的金融产品，为广大客户带来更优回报。 </p>
      </li>
    </ul>
      <script type="text/javascript" src="../../scripts/mui/base.js" id="baseJs" version="1.4.1"></script>  
</div> 

