<div class="content zen-animated">
    <div class="zen-tab fixed">
      <ul class="zen-tab-nav" role="tablist">
        <li data-target="#page-tab1" class="js-active"><span>消息</span></li>
        <li data-target="#page-tab2"><span>活动</span></li>
      </ul>
    </div>  
    <ul class="zen-switch-pages">
      <!---->
      <li class="slide-page js-active" id="page-tab1">
        <div class="gap-box"> 
          <i class="time-line"></i>
          <ul class="news" id="news">
          </ul>
        </div>  
      </li>
      <!---->
      <li class="slide-page" id="page-tab2" style="display:none;">
        <ul class="activities">
          <li>
            <h1 data-date="2015-01-12 10:25" class="event">杭银直销APP上线</h1>
            <div class="lnk-pic"><a href="javascript:;"><img data-lazy="../../images/activities/demo-1.jpg"></a></div>
          </li>
          <li>
            <h1 data-date="2015-01-12 10:25" class="event">杭银直销APP上线</h1>
            <div class="lnk-pic"><a href="javascript:;"><img data-lazy="http://lorempixel.com/400/200/nature/1/"></a></div>
          </li>
          <li>
            <h1 data-date="2015-01-12 10:25" class="event">杭银直销APP上线</h1>
            <div class="lnk-pic"><a href="javascript:;"><img data-lazy="http://lorempixel.com/400/200/nature/2/"></a></div>
          </li>
          <li>
            <h1 data-date="2015-01-12 10:25" class="event">杭银直销APP上线</h1>
            <div class="lnk-pic"><a href="javascript:;"><img data-lazy="http://lorempixel.com/400/200/nature/3/"></a></div>
          </li>
          <li>
            <h1 data-date="2015-01-12 10:25" class="event">杭银直销APP上线</h1>
            <div class="lnk-pic"><a href="javascript:;"><img data-lazy="http://lorempixel.com/400/200/nature/4/"></a></div>
          </li>
          <li>
            <h1 data-date="2015-01-12 10:25" class="event">杭银直销APP上线</h1>
            <div class="lnk-pic"><a href="javascript:;"><img data-lazy="http://lorempixel.com/400/200/nature/5/"></a></div>
          </li>
          <li>
            <h1 data-date="2015-01-12 10:25" class="event">杭银直销APP上线</h1>
            <div class="lnk-pic"><a href="javascript:;"><img data-lazy="http://lorempixel.com/400/200/nature/6/"></a></div>
          </li>
          <li>
            <h1 data-date="2015-01-12 10:25" class="event">杭银直销APP上线</h1>
            <div class="lnk-pic"><a href="javascript:;"><img data-lazy="http://lorempixel.com/400/200/nature/7/"></a></div>
          </li>
          <li><p class="ui-panel" style="position:relative; height: 50px;">
              <span data-spinner></span>
          </p></li>
        </ul>
      </li>
      <!---->
      <div class="zen-noEvent" style="display:none;" id="activitiy">暂无活动，敬请期待</div>
      
    </ul>
</div> 
 