<div class="attentionToUs">
     <ul class="zen-list">
      <li class="prop disabled">
        <h1>特色应用</h1>
         <div class="tar-lnk">
           <img src="images/activities/attentiontous.png" width="100%" usemap="#Map">
           <a href="javascript:;" id="hyqb">&nbsp;</a>
           <a href="javascript:;" id="ejsh">&nbsp;</a>
         </div> 
       </li>
      <li class="atus-icos i-serve-phone zen-fold-arr">
        <span>400电话</span>
        <span class="fr fc-9" id="phone" val="400-8888-508">400-8888-508</span>
      </li>
      <li class="atus-icos i-wechat">
        <span>微信</span>
        <span class="fr fc-9">请在微信关注“杭州银行”</span>
      </li>
      <li class="atus-icos i-weibo">
        <span>微博</span>
        <span class="fr fc-9">请在新浪微博关注“杭州银行”</span>
      </li>
    </ul>
   </div> 

