<body>
	<div class="new2016 fdDtlPage deEloan">
		<div class="director" style="padding-bottom:46px;">
        	<div class="list">
            	<div class="list-item arr">1.什么是杭州银行直销银行？</div>
                <div class="cnt">
                	<div class="para">
                       	杭银直销是杭州银行推出的纯线上金融服务平台，具有产品灵活、操作便捷、安全可靠的特点。客户无需前往我行营业网点，通过互联网即可完成注册、开户、购买等业务流程。目前直销银行支持19家银行借记卡注册绑定，7*24小时服务、无地域限制，旨在通过手机渠道向广大互联网客户提供优质高效的金融服务。
                    </div>
                </div>
            </div>
           	<div class="list">
            	<div class="list-item arr">2.什么是杭州银行电子账户？</div>
                <div class="cnt">
                	<div class="para">
                   		客户开通杭州银行电子账户后，可以通过杭州银行直销银行办理存款、投资等业务，以及在杭州银行电子账户和已绑定的银行同名账户之间进行转账；杭州银行电子账户目前暂不支持闪付消费、给他人转账的功能。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">3.如何开通杭州银行电子账户？</div>
                <div class="cnt">
                	<div class="para">
                      	年满16周岁，且持有二代身份证。注册时除需要提供姓名身份证外，还需要提供银行预留手机，手机会用于发送交易验证码。用户在注册成功后，还要实名验证。
                    </div>
                </div>
            </div> 
            <div class="list">
            	<div class="list-item arr">4.电子账户可以绑定哪些银行卡？</div>
                <div class="cnt">
                	<div class="para">
                  		除杭州银行卡外，还支持多家银行，且开通借记卡银联支付，包含：工商银行、中国银行、建设银行、交通银行、中信银行、浦发银行、光大银行、上海银行、农业银行、广发银行、兴业银行、邮储银行、平安银行、招商银行、宁波银行、民生银行、南京银行、江苏银行等。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">5.电子账户提现有什么限制？</div>
                <div class="cnt">
                	<div class="para">
                   		  他行充值的，当天充值，次日才可提现。（本行充值或转入，他行汇款等充值以外方式转入的都不控制）。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">6.电子账户资金转出需要手续费吗？</div>
                <div class="cnt">
                	<div class="para">
                      	  转账手续费全免。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">7.杭州银行直销银行里面有哪些产品？</div>
                <div class="cnt">
                	<div class="para">
                       	目前平台共提供六款产品——“幸福金禧”固定期限投资类产品、“幸福乐存”靠档计息智能存款、“幸福添利”货币基金、“结构性存款”业务、“幸福基金”代销基金业务以及“幸福如金”黄金投资业务，满足客户多样化的理财需求。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">8.什么是幸福满溢？</div>
                <div class="cnt">
                	<div class="para">
                       	“幸福满溢”为封闭式非保本型、中低风险的系列投资产品。产品期限一般为1个月到1年的固定限期的产品，收益高于同期理财。产品滚动发行，平均1-2周发售一期。认购金额1000元起，以500元的整数倍递增。带有可转让标志的幸福满溢的产品，在持有7天之后可以转让。产品的申购、赎回、转让等操作均可在杭银直销客户端完成。该产品主要投资于金融产品。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">9.幸福金禧和幸福满溢什么关系？</div>
                <div class="cnt">
                	<div class="para">
                                                                           两者是包含关系，幸福金禧系列产品包括幸福满溢系列产品，除幸福满溢，后续还会发行其他系列产品。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">10.幸福满溢产品的本金和收益什么时候入账？</div>
                <div class="cnt">
                	<div class="para">
                    	  在产品到期日后三个工作日内返回到电子账户中 。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">11.什么是幸福乐存？</div>
                <div class="cnt">
                	<div class="para">
                       	“幸福乐存”是一款人民币储蓄增值服务产品。最大存期为五年，持有期内可随时支取使用，每笔存入资金按实际存期对应的存款利率靠档计息，是一款兼具收益性和流动性的人性化存款增值服务。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">12.什么是幸福添利？</div>
                <div class="cnt">
                	<div class="para">
                       	“幸福添利”是杭州银行直销银行与基金公司合作为客户电子账户活期余额进行申购、赎回基金的结算服务产品。1分起投，实时赎回，随用随取。目前提供的产品为博时货币基金，平均七天的年化收益率为2%-5%。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">13.什么是结构性存款？</div>
                <div class="cnt">
                	<div class="para">
                       	“结构性存款”是一款保证本金、收益浮动的存款产品，与股指、黄金等各类金融指数挂钩。购买起点低，1万元起购，资金安全可靠，有机会获取高收益。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">14.什么是基金超市？</div>
                <div class="cnt">
                	<div class="para">
                       	“基金超市”采取清晰、简约的页面设计风格，按照保守型、稳健型、成长型等进行产品分区，用户可根据自身风险偏好进行选择。在产品方面，平台精选过往业绩表现优异或行业热门的基金进行首期发布，申购手续费低，打造体验优、流程简、优惠多的基金销售平台。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">15.什么是幸福如金？</div>
                <div class="cnt">
                	<div class="para">
                       	“幸福如金”是杭州银行直销银行与基金公司合作为客户提供的“博时黄金D场外类”产品，手续费低，起购金额低，操作简单，投资轻松。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">16.幸福如金的交易规则是怎么样？</div>
                <div class="cnt">
                	<div class="para">
                       	<p>买入：T日15：00前买入，按T日金价成交，T+1工作日可以查看持有黄金克数；T日15：00后买入，按T+1工作日金价成交，T+2个工作日可以查看持有黄金克数；</p>
					    <p>赎回：T日15：00前卖出，按T日金价成交，T+2工作日电子账户可以收到资金；T日15：00后卖出，按T+1工作日金价成交，T+3个工作日电子账户可以收到资金。</p>
					    <p>注：幸福如金买入份额确认后才能卖出。</p>
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">17.如何邀请好友注册直销银行？</div>
                <div class="cnt">
                	<div class="para">
                       	打开直销银行后依次点击“更多”——“邀请好友”，点击“邀请好友”，可以选择通过短信、微信好友、朋友圈、QQ好友等方式进行邀请。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">18.幸福满溢如何转让？</div>
                <div class="cnt">
                	<div class="para">
                       	带有可转让标志的幸福满溢的产品，在持有7天之后可以至“我的账户”—“幸福金禧”——“持有中”找到要转让的幸福满溢资产，点开详情，下拉到底部，点击“转让”，输入买方收益和交易密码，即可发布至转让区。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr">19.直销银行交易密码遗忘如何重置？</div>
                <div class="cnt">
                	<div class="para">
                       	打开直销银行后依次点击“我的账户”—“安全中心”—“找回交易密码”—“短信验证+身份证原件”，办理时需要您输入要素：证件号码、短信验证码；上传身份证正面照片、身份证反面照片、手持身份证照片。提交的申请3个工作日内完成审核（人工审核），通过后发送短信至客户电子账户预留手机上，客户再登录直销银行重置交易密码。
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="list-item arr" data-value="20">20.直销银行登录密码遗忘如何重置？</div>
                <div class="cnt">
                	<div class="para">
                       	若您遗忘了直销银行的登录密码，请您在直销银行登录的界面点击“忘记密码”，通过输入要素：姓名、证件号码、手机号码、新登录密码、短信验证码进行重置您的登录密码。
                    </div>
                </div>
            </div>
        </div>
        <div class="contServBtn">联系客服</div>
        <div class="dialog" style="display:none;">
	     <div class="passwordBox txt-mid lh2">
	        <div class="list">
	          <div class="list-item fc-blue" id="hzwechat">微信客服</div>
	          <div class="list-item fc-blue" id="telphone">拨打客服热线400-888-8508</div>
	        </div>
	        <div class="list" style="margin-top:3px">
	          <div class="list-item cancel">取消</div>
	        </div>
	     </div>
       </div>
	</div> 
	<script>
    $(function(){
    	$('.contServBtn').click(function(){
			$('.dialog').show();
	    })
	    $('.dialog .cancel').click(function(){
	      $('.dialog').hide();
	    })
       /*  $('.director .list-item:not(last)').on('click', function(){
			var me = $(this), 
			    cnt = me.next(), 
			    setH = cnt.find('.para').get(0).offsetHeight, 
			    offsetTop = me.offset().top;
			    //$('.director .list-item:gt(15)')
				/* setTimeout(function() {
					window.scrollTo(0, offsetTop);
				}, 200); 
			me.hasClass('spr') ? me.removeClass('spr') && cnt.css('height', 0) : me.addClass('spr')	&& cnt.css('height', setH);
			me.parent().siblings().find(".list-item").hasClass('spr') ? me.parent().siblings().find(".list-item").removeClass('spr')
					&& me.parent().siblings().find(".list-item").next().css('height', 0) : null;
		    
		}) */
    	 $('.director .list-item').on('click', function(){
			var me = $(this), 
			    cnt = me.next(), 
			    setH = cnt.find('.para').get(0).offsetHeight, 
			    offsetTop = me.offset().top;
			    //$('.director .list-item:gt(15)')
			    if(me.attr("data-value")=="20"){
					setTimeout(function() {
						window.scrollTo(0, offsetTop);
					}, 200);
			    }
			me.hasClass('spr') ? me.removeClass('spr') && cnt.css('height', 0) : me.addClass('spr')	&& cnt.css('height', setH);
			me.parent().siblings().find(".list-item").hasClass('spr') ? me.parent().siblings().find(".list-item").removeClass('spr')
					&& me.parent().siblings().find(".list-item").next().css('height', 0) : null;
		    
		}); 
    })
    </script> 
</body>