<div class="content">
  
    <div class="zen-tab fixed">
      <ul class="zen-tab-nav" role="tablist">
        <li data-target="#page-tab2" class="js-active"><span>常见问题</span></li>
        <li data-target="#page-tab3"><span>产品介绍</span></li>
      </ul>
    </div>  
    <div class="gap-box">
    <ul class="zen-switch-pages">
      <!---->
      <li class="slide-page js-active" id="page-tab2">
        <ul class="zen-article-list">
          <li class="zen-prgh">
            <h1>如何开户？</h1>
            <p>您须年满16周岁，且持有中华人民共和国第二代身份证。注册时除提供姓名、证件号等身份信息外，还需提供您的常用手机和常用邮箱，手机和邮箱会用于发送交易验证码，请务必留存您常用且真实有效的手机和邮箱。</p>
          </li>
          <li class="zen-prgh">
            <h1>业务办理时间？</h1>
            <p>杭州银行客户开立杭银直销电子账户，全天7*24小时实时办理；通过他行账户开立杭银直销电子账户从7：30-19：00实时办理，其他时间预受理，次日完成身份核 查后，开通电子账户结果及账号发送到您的预留手机。</p>
          </li>
          <li class="zen-prgh">
            <h1>如何购买直销银行产品？</h1>
            <p>绑定账户为他行账户，客户成功申请电子账户后，需要您从绑定账户主动转入一笔资金进行电子账户激活，激活成功后可购买杭银直销金融产品。绑定账户为本行账户，客户成功申请电子账户后，可马上购买杭银直销金融产品。</p>
          </li>
          <li class="zen-prgh">
            <h1>杭银直销电子账户可以对外转账吗？</h1>
            <p>杭银直销电子账户可以向绑定账户转账，目前转账手续费全免。</p>
          </li>
          <li class="zen-prgh">
            <h1>绑定账户变更了怎么办？</h1>
            <p>当客户电子账户无余额时，客户可以登录直销银行自行变更。假如客户电子账户无余额时, 在登录直销银行后使用“用户中心->我的设置->修改绑定账户”进行修改绑定账户 申请，同时通过邮件上传身份证正反面照片、手持身份证照片至我行直销银行专用邮箱(zxyh@hzbank.com.cn),我行审核通过后会发送短信通知，请您收到信息后及 时登录网站进行修改绑定账户。</p>
          </li>
          <li class="zen-prgh">
            <h1>登录密码忘记怎么办？</h1>
            <p>若您忘记登录密码，通过登录页面上的"忘记密码"进行重置，重置时提供的证件号、手机号姓名与注册时登记的客户信息一致。</p>
          </li>
          <li class="zen-prgh">
            <h1>交易密码忘记怎么办？</h1>
            <p>您若忘记交易密码，在登录直销银行后使用“用户中心->我的设置->重置交易密码”进行重置申请，同时上传身份证正反面照片、手持身份证照片,我行审核通过后会发送短信通知，请您收到信息后及时登录网站进行交易密码重置。</p>
          </li>
          <!-- <li class="zen-prgh">
            <h1>手机号码换了怎么办？</h1>
            <p>若您换了手机号码，在登录直销银行后使用“用户中心->我的设置->修改绑定手机号码”进行重置申请，同时上传身份证正反面照片、手持身份证照片,我行审核通过后会发送短信通知，请您收到信息后及时登录网站进行绑定手机号码修改。电子账户的余额变动提醒接收手机也同时更新。</p>
          </li> -->
          <li class="zen-prgh">
            <h1>联系我们？</h1>
            <p>如有疑问请联系杭银直销客服400-8888-508 或 95398。杭银直销邮箱zxyh@hzbank.com.cn。</p>
          </li>
        </ul>
      </li>
      <!---->
      <li class="slide-page" id="page-tab3">
         <ul class="zen-article-list">
          <li class="zen-prgh">
           <img src="images/intro/1.jpg" width="100%">
           <p>幸福添利是杭州银行通过与易方达基金公司合作为投资者提供的金融产品服务；目前 “幸福添利”提供博时现金宝货币市场基金（HZ001386）的快速申购及快速赎回服务。申购及快速赎回业务的开放时间正常情况下为每个自然日7*24小时，如遇国家法定节假日等情形，幸福添利可能暂停申购。该基金的净值均保持1元不变，收益体现在每日公布的日万份收益。日万份收益＝[当日基金净收益/当日基金发行在外的总份额]*10000。 <a href="javascript:void(0);" id="finance">查看更多&gt;</a></p> 
          </li>
          <li class="zen-prgh">
           <img src="images/intro/2.jpg" width="100%">
           <p>幸福乐存是杭州银行提供的一款人民币储蓄增值服务产品。既可享受活期存款的灵活支取，又可根据存款期限享受通知或相应定期存款的利率回报。该产品存期约定为五年，开户时起存金额与帐户留存金额不低于人民币壹仟元，可多次部分提前支取。 <a href="javascript:void(0);" id="deposit">查看更多&gt;</a></p> 
          </li>
        </ul>  
      </li>  
      <!---->
    </ul>
    </div> 
</div> 

