 <div class="new2016 hpDpt jxfud">
  	<div style="width:100%; height:174px;">
    	<div class="fixed">
        	<div class="fudState">
                <h1>总资产(元)</h1>
        		<h2 id="totalShow">0.00</h2>
            </div>
    		<div class="filterTab" id="filterTab">
                <div class="row">
                    <div class="cell active" index="1">募集中</div>
                    <div class="cell" index="2">持有中</div>
                    <div class="cell" index="3">已收回</div>
                </div>
            </div>
    		<div class="total" id="ip2Num">共计<span class="fc-orange" >0</span>笔记录</div>
        </div>
    </div>
   
    <ul class="zen-list-2" id="p2pDetail">
    </ul>
	<div class="zen-noData" id="noData" style="display:none; margin-top: 10px; background-position: center 30%; ">暂无符合记录</div>
  </div>  
  
 