<div class="new2016" style="display:" id="success">
  	<div class="riskTest">
    	<div class="successTip"><i></i>您已成功发布转让该款产品</div>
        <div class="list">
        	<div class="list-item row">
            	<div class="cell">转让产品</div>
                <div id="financeName">幸福满溢第9期</div>
            </div>
            <div class="list-item row">
            	<div class="cell">转让金额</div>
                <div class="fc-orange" id="transferAMT">301234.56</div>
                <div>元</div>
            </div>
            <div class="list-item row">
            	<div class="cell">买方收益率</div>
                <div class="fc-orange" id="tranRate">4.86</div>
                <div>%</div>
            </div>
            <div class="list-item row">
            	<div class="cell">收款账号</div>
                <div ><span id="cardNo">6230  6100  0660  5656  50</span>(电子账户)</div>
            </div>
        </div>
        <div class="padded">
        	<div class="pt10">
            	<h1 class="fc-yellow">温馨提示：</h1>
                <p class="fc-9 ft12 lh2">1.转让信息3天后自动失效，<span style="color:red">无短信提示</span>;</p>
                <p class="fc-9 ft12 lh2">2.在转让有效期到期前，您可以主动撤销转让;</p>
                <p class="fc-9 ft12 lh2">3.如果要变更转让信息，请先撤销，再重新发布转让;</p>
                <p class="fc-9 ft12 lh2">4.转让金额会随着您实际持有的天数增加而增加;</p>
            </div>
        	<input type="button" value="立即查看" class="zen-btn mt20" id="look">
        </div>
    </div>
  </div>
  
  
  <div class="new2016" style="display:none" id="fail">
  	<div class="deEloan loanResult">
    	<div class="error faild">很抱歉，您本次发布失败，请返回重试</div>
        <div class="gap-box pt10">
            <input type="button" value="返回" class="zen-btn mt15" id="back">
        </div>
    </div>
 </div>	