<div class="new2016 fdDtlPage">
	<div class="view">
		<h2>
			最新收益
		</h2>
		<div class="rate">
			<h1>
				<b id="totalNew">0.00</b>
			</h1>
		</div>
		<div class="row">
			<div class="cell">
				<h2>总份额(元)</h2>
				<p class="ft16" id="totalVol">0.00</p>
			</div>
			<div class="cell">
				<h2>累计收益(元)</h2>
				<p class="ft16" id="fundIncome">0.00</p>
			</div>
		</div>
	</div>

	<div class="list coin">
		<div class="list-item tit disabled">
			<i class="boshi"></i><span class="ft16">幸福添利-博时</span><i
				class="lowRiseLabel"></i>
		</div>
		<div class="list-item arr" id="bosera">
			<div class="row scanIfo">
				<div class="cell">
					<h1 class="fc-blue" id="boseVol">0.00</h1>
					<p>基金份额(元)</p>
				</div>
				<div class="cell">
					<h1 class="fc-orange" id="boseIcome">0.00</h1>
					<p>最新收益(元)</p>
				</div>
			</div>
		</div>
	</div>

	<div class="list coin">
		<div class="list-item tit disabled">
			<i class="yifangda"></i><span class="ft16">幸福添利-易方达</span><i
				class="lowRiseLabel"></i>
		</div>
		<div class="list-item arr" id="finance">
			<div class="row scanIfo">
				<div class="cell">
					<h1 class="fc-blue" id="finVol">0.00</h1>
					<p>基金份额(元)</p>
				</div>
				<div class="cell">
					<h1 class="fc-orange" id="finIcome">0.00</h1>
					<p>最新收益(元)</p>
				</div>
			</div>
		</div>
	</div>
</div>
