<style type="text/css">
.para table{border:1px solid #eee; border-width:1px 1px 0 0; font-size:13px; margin-top:5px;}
.para table td, .para table th{padding:6px; border:1px solid #eee; border-width:0 0 1px 1px;}
.para table td{text-align:center;}
</style>
<div class="new2016 fdDtlPage">
	<div class="view">
		<h2>幸福添利</h2>
		<div class="rate">
			<p>近七日年化收益率</p>
			<h1>
				<b id="sevRate">0.000</b>%
			</h1>
		</div>
		<div class="row">
			<div class="cell">
				<h2>起购金额</h2>
				<p class="ft16">0.01元</p>
			</div>
			<div class="cell">
				<h2>风险类型</h2>
				<p class="ft16">低风险</p>
			</div>
			<div class="cell">
				<h2>取现时间</h2>
				<p class="ft16">实时赎回</p>
			</div>
		</div>
		<p class="cop">
			该产品由<a href="javascript:;" class="lnk">博时基金管理有限公司</a>提供
		</p>
	</div>
	<div class="chartBox">
		<div class="fudDetail mb10">
			<div class="tab row">
				<div class="cell active" data-index="0">七日年化走势</div>
				<div class="cell" data-index="1">万份收益走势</div>
			</div>
		</div>
		<div class="chartArea">
			<h1 id="chatTitle">七日年化收益率(%)</h1>
			<div style="width: 100%; height: 150px;" id="linechart"></div>
			<h2>七日年化收益率与万份收益每日波动，收益将随之波动</h2>
		</div>
	</div>
	<div class="director">
		<div class="list">
			<div class="list-item arr">收益说明</div>
			<div class="cnt">
				<div class="para">
					本基金按日计算并支付收益，当日收益结转至基金份额。
					若从T日15:00前存入资金的，T+1日开始计算收益，T+2日可以看到收益<br>
					收益到账时间：<br>
					<table style="width: 100%;">
						<tr>
							<th>存款日期</th>
							<th>计算收益</th>
							<th>发放收益</th>
						</tr>
						<tr>
							<td>周一15:00之前</td>
							<td>周二</td>
							<td>周三</td>
						</tr>
						<tr>
							<td>周一15:00-周二15:00</td>
							<td>周三</td>
							<td>周四</td>
						</tr>
						<tr>
							<td>周二15:00-周三15:00</td>
							<td>周四</td>
							<td>周五</td>
						</tr>
						<tr>
							<td>周三15:00-周四15:00</td>
							<td>周五</td>
							<td>周六</td>
						</tr>
						
						<tr>
							<td>周四15:00-周五15:00</td>
							<td>下周一</td>
							<td>下周二</td>
						</tr>
						<tr>
							<td>周五15:00-下周一15:00</td>
							<td>下周二</td>
							<td>下周三</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="list">
			<div class="list-item arr">基金详情</div>
			<div class="cnt">
				<div class="para">
					<table style="width: 100%;">
						<tr>
							<td >基金全称</td>
							<td >博时现金宝货币市场基金</td>
						</tr>
						<tr>
							<td >基金代码</td>
							<td >000730</td>
						</tr>
						<tr>
							<td >基金类型</td>
							<td >货币型</td>
						</tr>
						<tr>
							<td >风险等级 </td>
							<td >低风险</td>
						</tr>
						
						<tr>
							<td >成立日期</td>
							<td >2014-09-18</td>
						</tr>
						<tr>
							<td >基金管理人</td>
							<td >博时基金</td>
						</tr>
						<tr>
							<td >基金托管人</td>
							<td >工商银行</td>
						</tr>
						<tr>
							<td >基金经理人</td>
							<td > 魏桢</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="list">
			<div class="list-item arr">风险提示</div>
			<div class="cnt">
				<div class="para">
					货币基金主要投资于短期货币工具，如国债、央行票据、银行定期存单等短期有价证券，安全性高，
					资金流动性强，收益率高，但货币基金不等于存款，投资需谨慎。<br>
					<b>免责声明：</b><br>本基金由博时基金管理有限公司负责管理和销售，杭州银行仅向注册用户提供信息展示，
					并向注册用户提供操作入口引导以实现基金开户、交易和查询功能。投资人通过杭州银行直销银行发起的基金操作，
					包括但不限于申购、赎回均是使用基金方提供的交易系统，与杭州银行无关。
					“幸福添利”仅是平台系列产品的品牌，而不代表杭州银行对该货币基金承担相关责任。
					注册用户通过平台从事基金投资相关交易下的权利义务，以注册用户与博时基金签订的相应协议约定为准。
				</div>
			</div>
		</div>
	</div>
	<div class="fixBtn">
		<div class="btnGrp">
			<!--<button class="zen-btn white">立即购买</button>-->
			<button class="zen-btn" id="buy">立即购买</button>
		</div>
	</div>
</div>
