

<div class="myCount typ2 accIcm new2016" >
	<div class="countState txt-mid" >
	   <h1>累计收益（元）</h1>
	    <h2 id="tranAmtTotal">0.00</h2>
	</div>
	
	<div  id="wrapper1" >
	<div class="row fc-9 tit">
    	<div class="cell">日期</div>
        <div class="cell txt-r">收益(元)</div>
    </div>
	<div>
	  <ul class="zen-list-5 mt10" style="line-height:24px;" id="queryList"  total="0">
	      
	  </ul>
	</div>
	</div>
</div>
	
<div class="fullWhite" id="noData" style="position:relative; display:none">
		<div class="zen-noData-2">暂无收益</div>
</div>
