<style type="text/css">
.tt:after {
  content: '';
  display: block;
  width: 4px;
  height: 13px;
  background-color: #0094e8;
  border-radius: 2px;
  position: absolute;
  left: 22px;
  top: 25px;
}
</style>
<div class="padded">
	<div style="border:1px solid #eee; background-color:#fff; margin-top:10px;">
		<div class="mb10 tt" style="border-bottom:1px solid #eee; margin-bottom:10px; padding:10px 17px;">杭银直销转账说明</div>
		<div class="ml10 mt10 mr5" style="padding-bottom: 20px;line-height: 25px;">
			<p>一、杭州银行电子账户 支持工行、农行、中行、建行、交行、浦发、光大、中信、上海银行和杭州银行等银行借记卡的转入与转出。</p>
			<p>二、杭州银行电子账户实行“多卡进一卡出”的原则，即支持多张银行借记卡转入资金，但是只能转出到绑定银行借记卡。为了您的资金安全，尽量使用绑定卡进行资金的转移。</p>
			<p>三、各家银行对其银行借记卡设定单笔上限和累积上限。</p>
			<p>四、使用杭州银行借记卡转入的资金，随时可以转出；使用他行借记卡转入的资金，该笔转入资金次日才能转出，故今日转出后的余额不得低于今日他行借记卡的转入资金金额。</p>
			<p>五、如有疑问请拨打杭州银行服务热线：95398</p>
		</div>
	</div>
</div>