<div class="aboutUs" id="anymore">
	<div class="logo">杭银直销</div>	
     <ul class="zen-list">
      <li class="zen-fold-arr" id = "about-us">
        <span>关于我们</span>
      </li>
      <li class="zen-fold-arr" id="attention">
        <span>关注我们</span>
      </li>
      <li class="zen-fold-arr" id="spit" style="display:none;">
        <span>吐槽专区</span>
      </li>
    </ul>
  </div>
 <div id="spitboard" style="display:none;">
  <div class="gap-box">
    <h1 class="fm-tit-guide mt20">感谢您 使用杭银直销，欢迎您向我们反馈在使用过程中的任何意见和建议。</h1>
    <div class="zen-feedback"><textarea rows="5" placeholder="请输入反馈信息" id="spitContent"></textarea></div> 
    <p class="zen-tips txt-r" id="txt-words">您还可以输入150字</p>
    <input type="button" value="提交" class="zen-btn mt20" id="spitSubmit"/>
  </div>
 </div>