  <div class="new2016 Invite">
    <div class="banner"><img src="images/invite/ban1.jpg" width="100%"/></div>
    <div class="padded mt20"><input type="button" value="邀请好友" class="zen-btn" id="share"></div>	
    <div class="ctl row">
    	<div class="cell a" id="faceToFace"><span id="dot" class="">面对面邀请</span></div>
        <div class="cell b" id="queryFriends">查看邀请好友</div>
    </div>	
    <div class="explain">
    	<h1>活动说明</h1>
        <p>1.本次活动只面向杭银直销APP的客户，暂不面向网页版客户。<br/>
        2.请在活动截止日前拆开红包。<br/>
        3.活动过程中如发现有碍其他用户公平参与本活动或违反活动目的的行为，杭州银行有权取消此行为的用户参与本次活动的资格或因参加活动所获取的红包。<br/>
        4.红包属性：活动为现金红包，直接充值到用户的直销银行活期余额。<br/>
        5.邀请好友方式：短信、微信好友、朋友圈、QQ好友。</p>
    </div>
    <div class="shareCode" id="shareCode" style="display: none">
  	  <div class="code" data-label="扫描二维码面对面邀请" style="padding:15px; background-color:#fff;"><div id="code"></div></div>
  </div>
  </div>
  

  
  
  
  
  