 <div class="new2016 Invite">
    <div class="banner"><img src="images/invite/ban2.gif" width="100%"/></div>
    <div class="padded mt20"><input type="button" value="邀请好友" class="zen-btn" id="share"></div>	
    <div class="ctl row">
    	<div class="cell a" id="faceToFace"><span id="dot" class="">面对面邀请</span></div>
        <div class="cell b" id="queryFriends">查看邀请好友</div>
    </div>	
    <div class="explain">
    	<h1>活动说明</h1>
        <p>1.通过本页面提供的邀请好友的方式邀请好友。<br/>
        2.好友在7日内注册并激活本软件有效，否则需要重新发送邀请链接。<br/>
        3.邀请好友成功后，可到“查看邀请好友”查看。</p>
    </div>
    <div class="shareCode" id="shareCode" style="display: none">
  	  <div class="code" data-label="扫描二维码面对面邀请" style="padding:15px; background-color:#fff;"><div id="code"></div></div>
    </div>
  </div>
