<div class="new2016 payIndexPage">
	<div class="swipe-banner" id="bannerslideIndex">
		<ul>
			<li class="img"><img src="images/index/banner.png" ></li>
		</ul>
		<div class="dotCon"></div>
	</div>
	<div class="menuRow">
		<div class="cell" id="pro">
			<i class="a"></i>
			<p>基金理财</p>
		</div>
		<div class="cell" id="fee">
			<i class="b"></i>
			<p>生活缴费</p>
		</div>
		<div class="cell" id="loan">
			<i class="c"></i>
			<p>房贷中心</p>
		</div>
		<div class="cell" id="reg">
			<i class="f"></i>
			<p>云抵贷</p>
		</div>
	</div>
	<div class="list disabled mb10" id="boseFund">
		<div class="list-item tit">
			<span class="ft16">幸福添利</span><i class="lowRiseLabel"></i>
		</div>
		<div class="list-item">
			<div class="row scanIfo">
				<div class="cell">
					<h1 class="fc-orange">
						<b id="sevRate">0.000</b>%
					</h1>
					<p>近七日年化收益率</p>
				</div>
				<div class="cell">
					<h2 class="fc-blue">
						<b id="tsRate">0.000</b>
					</h2>
					<p>万份收益（元）</p>
				</div>
				<div class="cell">
					<h2>
						<b>0.01</b>元
					</h2>
					<p>起购金额</p>
				</div>
			</div>
		</div>
	</div>
	<div class="list mb10" id="products">
		<div class="list-item tit row arr">
			<div class="ft16 mr10">幸福金禧</div>
			<span class="ft12 fc-9">资金有规划，踏实又省心</span>
		</div>
	</div>
	<div class="list fundList">
        <div class="list-item tit row arr" id="fundIndex">
            <div class="ft16 mr10">幸福基金</div>
            <span class="ft12 fc-9">基金超市，帮你优选放心产品</span>
        </div>
        <div id="preferredFund1" class="list mb10"></div>

        
    </div>
<div style="display: none; width: 48px; height: 48px; z-index: 999999; position: fixed; right: 10px; bottom: 60px; background: url(images/hongbao/red.png) center center no-repeat; background-size: auto 100%;"
	id="floatPacket"></div>
<div class="new2016 updateVersion" style="display: none;">
	<div class="midPic">
		<div class="myCircle" data-time="0" id="timeoutCircle">
			<div class="left">
				<i></i>
			</div>
			<div class="right">
				<i></i>
			</div>
		</div>
		<div class="close" id="timeoutCircleClose"></div>
		<div class="btnGrp row">
			<button class="cell b" id="sendMsg" style="display: none;">短信发送</button>
			<button class="cell a" id="copy">复制链接</button>
		</div>
	</div>
</div>
</div>