<div class="new2016 Apply">
    <h1 class="title success" style="display: none" id="paySuccess">恭喜您，缴费成功！</h1>
  	<h1 class="title fail" style="display: none" id="payFaild">缴费失败！<span class="ft12 fc-9" id="ErrMsg">(支付失败原因)</span></h1>
  	<h1 class="title fail" style="display: none" id="wait">订单处理中...<span class="ft12 fc-9" id="detail">(交易已受理，请稍后查看交易明细)</span></h1>
    <div class="list" id="resultDiv">
      <div class="list-item row">
        <div class="cell">付款户名</div>
          <div id="name">加载中..</div>
      </div>
      <div class="list-item row">
      	<div class="cell">付款账号</div>
          <div id="payAccount">加载中..</div>
      </div>
     <div class="list-item row">
      	<div class="cell">缴费编号</div>
          <div id="orderNo">加载中..</div>
      	</div>
      <div class="list-item row">
        <div class="cell">缴费金额</div>
          <div><span class="fc-orange">2,000.00</span>元</div>
      </div>
      <div class="list-item row">
         <div class="cell">交易流水</div>
          <div id="flowNo">加载中..</div>
      </div>
     </div>
    <div class="mt15 fullWidthImgr" id="goP2P"><img src="images/pay/index_ban.jpg" width="100%" alt=""></div>
 </div>