<div class="new2016 Pays" id="wrapper">
     <!-- <div class="list disabled">
        <div class="list-item lh2 fc-9 ft13">
        	<div class="row">
            	<div class="cell">缴费项目</div>
                <div>车辆竞价成交款缴款</div>
            </div>
            <div class="row">
            	<div class="cell">缴费日期</div>
                <div>2016-06-10</div>
            </div>
            <div class="row">
            	<div class="cell">缴款书编号</div>
                <div>00000629</div>
            </div>
            <div class="row">
            	<div class="cell">缴款人姓名</div>
                <div>test</div>
            </div>
            <div class="row">
            	<div class="cell">缴费金额</div>
                <div>1000.00</div>
            </div>
            <div class="row">
            	<div class="cell">大学金额</div>
                <div>一千元整</div>
            </div>
            <div class="row">
            	<div class="cell">订单号</div>
                <div>PF212052002520</div>
            </div>
            <div class="row">
            	<div class="cell">订单状态</div>
                <div class="fc-blue">交易成功</div>
            </div>
        </div>
     </div>
     <div class="list disabled">
        <div class="list-item lh2 fc-9 ft13">
        	<div class="row">
            	<div class="cell">缴费项目</div>
                <div>车辆竞价成交款缴款</div>
            </div>
            <div class="row">
            	<div class="cell">缴费日期</div>
                <div>2016-06-10</div>
            </div>
            <div class="row">
            	<div class="cell">缴款书编号</div>
                <div>00000629</div>
            </div>
            <div class="row">
            	<div class="cell">缴款人姓名</div>
                <div>test</div>
            </div>
            <div class="row">
            	<div class="cell">缴费金额</div>
                <div>1000.00</div>
            </div>
            <div class="row">
            	<div class="cell">大学金额</div>
                <div>一千元整</div>
            </div>
            <div class="row">
            	<div class="cell">订单号</div>
                <div>PF212052002520</div>
            </div>
            <div class="row">
            	<div class="cell">订单状态</div>
                <div class="fc-orange">交易失败</div>
            </div>
        </div>
     </div>
     <div class="list disabled">
        <div class="list-item lh2 fc-9 ft13">
        	<div class="row">
            	<div class="cell">缴费项目</div>
                <div>车辆竞价成交款缴款</div>
            </div>
            <div class="row">
            	<div class="cell">缴费日期</div>
                <div>2016-06-10</div>
            </div>
            <div class="row">
            	<div class="cell">缴款书编号</div>
                <div>00000629</div>
            </div>
            <div class="row">
            	<div class="cell">缴款人姓名</div>
                <div>test</div>
            </div>
            <div class="row">
            	<div class="cell">缴费金额</div>
                <div>1000.00</div>
            </div>
            <div class="row">
            	<div class="cell">大学金额</div>
                <div>一千元整</div>
            </div>
            <div class="row">
            	<div class="cell">订单号</div>
                <div>PF212052002520</div>
            </div>
            <div class="row">
            	<div class="cell">订单状态</div>
                <div class="fc-orange">交易失败</div>
            </div>
        </div>
     </div> -->
     <div class="zen-noData" id="noData" style="display:none;margin-top: 10px;">您还没有缴费交易记录哦~</div>
</div>