
   <div class="new2016 Pays">
	   	<div style="width:100%; height:84px;">
	     	<div class="fixed">
			   	 <div class="searchWrap">
			     	<div class="searchBar">
			        	<input type="text" id="textName" value="" />
			            <i class="trigger"></i>
			            <i class="submit" id="submit"></i>
			         </div>
			     </div>	
			     <div class="zen-tab">
			     	<ul class="zen-tab-nav">
			            <li class="active">幼儿园</li>
			            <li>小学</li>
			            <li>中学</li>
			            <li>职业学校</li>
			            <li>大学</li>
			        </ul>
			     </div>
	      	</div>
	     </div>	
   	 <div class="list payTuition" id="SchoolList" style="display:">
   	 	
     	
     </div>
     <div class="zen-noData" id="noData" style="display:none;margin-top: 10px;">暂无符合条件的学校</div>
   </div> 
  
