<div class="new2016 Pays">
	<div class="list payTuition">
		<div class="list-item arr" id="city">
			<i class="a"></i><span id="cityName">选择城市</span>
		</div>
		<div class="list-item arr" id="school">
			<i class="b"></i><span id="schoolName">选择学校</span>
		</div>
		<div class="list-item arr" id="terms">
			<i class="d"></i><input  type="text" value="" placeholder="请选择学期"  readOnly/>
		</div>
		<div class="list-item">
			<i class="c"></i><input type="text" id="billkey" value="" placeholder="请输入学生学号" />
		</div>
	</div>
	<div class="padded">
		<input type="button" id="query" value="查询" class="zen-btn mt20">
	</div>
</div>
