<div class="new2016 Pays">
	<div class="list">
		<div class="list-item">
			<i class="sc-ico c"></i><span class="pl30 ml10" id="userName"></span>
		</div>
		<div class="list-item lh2 fc-9 ft13">
			<div class="row">
				<div class="cell">学校</div>
				<div id="schoolName"></div>
			</div>
			<div class="row">
				<div class="cell">班级</div>
				<div id="classNumber"></div>
			</div>
			<div class="row">
				<div class="cell">学号</div>
				<div id="studentId"></div>
			</div>
			<div class="row">
				<div class="cell">学期</div>
				<div id="term"></div>
			</div>
		</div>
	</div>
	<div class="list">
		<div class="list-item ft-big fc-blue" >￥<span id="amountTotal"></span></div>
		<div class="list-item lh2 fc-9 ft13">
			<div class="row">
				<div class="cell">代管费</div>
				￥<div id="inFee"></div>
			</div>
			<div class="row">
				<div class="cell">学费</div>
				￥<div id="tuitionFee"></div>
			</div>
			<div class="row">
				<div class="cell">住宿费</div>
				￥<div id="accommodationFee"></div>
			</div>
			<div class="row">
				<div class="cell">伙食费</div>
				￥<div id="foodFee"></div>
			</div>
			<div class="row">
				<div class="cell">实训材料费</div>
				￥<div id="materialsFee"></div>
			</div>
			<div class="row">
				<div class="cell">保育费</div>
				￥<div id="careFee"></div>
			</div>
			<div class="row">
				<div class="cell">其他费用</div>
				￥<div id="otherFee"></div>
			</div>
		</div>
	</div>
	<div class="padded mt20">
		<button class="zen-btn" id="submit">确认缴费</button>
	</div>
</div>
