<body class="gray-bg"  ontouchstart="">
  <div class="new2016">
  	<div class="fudDetail">
    	<div class="tab row mb5">
        	<div class="cell active">未确认</div>
            <div class="cell">已确认</div>
            <div class="cell">可撤单</div>
        </div>
        <ul class="allCnt">
            <!-- tab1对应 -->
        	<li class="cnt">
            	<div id="wrapper1">
	        		<div>
	            			<div class="list" id="iCustConsininfo"></div>
	                </div>
       			</div>
                <div >
			<div class="zen-noData" id="noData1" style="display:none; box-sizing:border-box;  padding-top:210px; background-position:center 140px;" >暂无更多</div>
		</div>
            </li>
            <!-- tab2对应 -->
            <li class="cnt" style="display:none">
                <div id="wrapper2">
	        		<div>
	            			<div class="list" id="iFundDealInfo">
	                </div>
       			</div>
                </div>
                <div >
			<div class="zen-noData" id="noData2" style="display:none; box-sizing:border-box;  padding-top:210px; background-position:center 140px;">暂无更多</div>
		</div>
            </li>
            <!-- tab3对应 -->
            <li class="cnt" style="display:none">
                <div id="wrapper3">
	        		<div>
	            			<div class="list" id="iFundDealrepealInfo">
	                </div>
       			</div>
                </div>
                <div >
			<div class="zen-noData" id="noData3" style="display:none; box-sizing:border-box;  padding-top:210px; background-position:center 140px;">暂无更多</div>
		</div>
            </li>
        </ul>        
    </div>
    
  </div>	
  <script src="../scripts/libs/jquery/jquery-2.1.3.min.js"></script>
  <script>
  $(function(){
    
  })
  </script>
</body>