<div class="new2016 fudHomePage">

	<div class="swipe-banner" id="bannerslideIndex">
		<ul>
			<li class="img"><img src="images/index/banner.png" ></li>
		</ul>
		<div class="dotCon"></div>
	</div>

	<div class="panel row">
		<div class="cell" id="myFund">
			<i class="a"></i>
			<p>我的基金</p>
		</div>
		<div class="cell" id="fundOptional">
			<i class="b"></i>
			<p>自选基金</p>
		</div>
		<div class="cell" id="fundRank">
			<i class="c"></i>
			<p>基金排行</p>
		</div>
		<div class="cell" id="hotFund">
			<i class="d"></i>
			<p>热门基金</p>
		</div>
	</div>

	<div id="preferredFund3">
		
	</div>

	<div class="padded">
        	<div class="mb10"><img src="images/fund/typ_4.png" width="100%" id="fundHighYield"></div>
            <div class="mb10"><img src="images/fund/typ_5.png" width="100%" id="fundCostPerformance"></div>
            <div class="mb10"><img src="images/fund/typ_6.png" width="100%" id="oldFund"></div>
        </div>
        
        <div class="list fundList">
        	<div class="list-item"><span class="fc-blue" style="padding-left:10px; border-left:3px solid #0094e8;">相关资讯</span></div>
         </div>
         <div class="list fundList" id="fundNews">
<!--         	<div class="list-item"><span class="fc-blue" style="padding-left:10px; border-left:3px solid #0094e8;">相关资讯</span></div> -->
<!--             <div id="fundNews" class="list-item"> -->
<!--             </div> -->
<!--             <div class="list-item" > -->
<!--             	<h1>三部委：基金华语歌坛鱼肝油防御怒</h1> -->
<!--                 <p class="ft13 fc-9 mt5">三部委：基金华语歌坛鱼肝油防御怒</p> -->
<!--             </div> -->
         </div>
</div>
