  
  <div class="new2016 Regs">
  	<div class="prgBar row">
    	<div class="cell active" data-label="1">短信验证</div>
        <div class="cell active" data-label="2">身份证原件</div>
        <div class="" data-label="3">密码找回</div>
    </div>
    <div class="findBackProgress">
    	<div class="step active"><i class="stpIcos a"></i>提交申请</div>
        <div class="step "><i class="stpIcos b"></i>人工审核</div>
        <div class="step"><i class="stpIcos c"></i>密码找回</div>
    </div>
    <div class="padded mt20" style="display: none" id="next">
    	<input type="button" id="submitBtn" value="下一步" class="zen-btn"/>
    </div>
  </div>
