<div class="content">
  <div class="gap-box">
 	 <div class="new2016 Regs">
  		<div class="prgBar row">
    		<div class="cell active" data-label="1">短信验证</div>
        	<div class="cell" data-label="2">人脸识别</div>
        	<div class="" data-label="3">密码找回</div>
    	</div>
    
        <div class="ipt-txt-2">
          <input type="text" id="certNoText" value="" maxlength="18" placeholder="请输入身份证号码"/>
          <i></i>
        </div>
        <div class="zen-get-code">
          <div class="ipt-txt-2">
            <input type="tel" value="" id="vcode" maxlength="6" placeholder="请输入短信验证码"/>
          </div>
          <input type="button" id="btn_sendSMS" value="立即获取" class="get-btn" /> 
        </div>
        <input type="button" id="submitBtn" value="提交" class="zen-btn disabled mt20" disabled/>
        </div>
      </div>
</div>
