<div class="specBuz" id="new2016">
   	<div class="tip2">
    	<p>验证时，请将正脸正对屏幕，</p>
        <p>然后跟随卡通形象完成随机脸部动作。</p>
   		<img src="images/face/m_prg.gif"> 
    </div>
    <div class="gap-box mt20">
    	<button class="zen-btn" id="faceCheck">开始人脸检测</button>
    </div>
</div>

   <div class="new2016"  style="display:none;" id="success">
	<div class="riskTest">
  	<div class="successTip"><i></i>恭喜你,人脸识别成功！</div>
      <div class="list">
          <div class="list-item" style="padding:15px 10px">
          	<p>您已成功完成人脸识别。</p>
          </div>
      </div>
      <div class="padded">
      	<input type="button" value="返回" id="back1" class="zen-btn mt20">
      </div>
  </div>
 </div>
 
   <div class="new2016"  style="display:none;"  id="fail">
	<div class="riskTest">
  	<div class="failTip"><i></i>很抱歉,人脸识别失败！</div>
      <div class="list">
          <div class="list-item" style="padding:15px 10px">
          	<p>● 如果遇到问题，请拨打客服电话：95398</p>
          </div>
      </div>
      <div class="padded">
      	<input type="button" value="返回" id="back2" class="zen-btn mt20">
      </div>
  </div>
 </div>