<div class="content">
  <div class="gap-box">
      <div class="pt15">
      	 <!-- <div style="height:40px; line-height:40px; display: none">
          <span>用户名:</span><span id="customerNameCN"></span>
        </div> 
        <div class="ipt-txt fm-pswd" style="display:none">
        <span>电子账户:</span><span id="cardNo"></span>
          <i></i>
        </div> -->
        <div class="ipt-txt-2">
          <input type="password" id="passwordOld" value=""  placeholder="请输入原登录密码" readOnly/>
          <i></i>
        </div>
        <div class="ipt-txt-2">
          <input type="password" id="passwordNew" value=""  placeholder="请输入新登录密码" readOnly/>
          <i></i>
        </div>
        <div class="ipt-txt-2">
          <input type="password" id="passwordNew2" value="" placeholder="请确认新登录密码" readOnly/>
          <i></i>
        </div>
        <input type="button" id="submitBtn" value="提交" class="zen-btn disabled mt20" disabled/>
        </div>
      </div>
</div>
