<div class="gray-bg" ontouchstart="">
  <div id ="page1" class="content">
    <ul class="zen-list-3 mt10 mb10">
      <li>
        <div class="ipt-opr">
          <label style="width:90px;">手机号码：</label>
          <div class="cell"><input type="tel" id="input_mobileNo" maxlength="11" value="" placeholder="请输入您注册时的手机号" /></div>
          <!-- <button data-value="发送验证码" id="btn_sendSMS" class="full-cash-btn ft13"></button> -->
        </div>
      </li>
      <li>
        <div class="ipt-opr">
          <label style="width:90px;">短信验证码：</label>
          <div class="cell"><input type="tel" id="phonePassInput" maxlength="6"  value="" placeholder="请输入验证码" /></div>
          <button data-value="发送验证码" id="btn_sendSMS" class="full-cash-btn ft13"></button>
        </div>
      </li>
    </ul>
    <div class="gap-box">
    	<button id="nextButton1" class="zen-btn disabled" disabled>下一步</button>
   	</div>
  </div>
 </div>