<body class="gray-bg">
    <div class="new2016" style="display: ;" id="new2016">
      <div class="deEloan Regs safeAuth">
      	<div class="head-icon">
        	<i></i>
            <p>请扫描身份完善信息</p>
        </div>
        <div class="list">
          <div class="list-item row">
          	<div class="cell">真实姓名</div> 
            <div class="ipt">
            	<%=customerNameCN%>
            </div> 
          </div>
          <div class="list-item row">
          	<div class="cell">身份证号</div> 
            <div class="ipt">
            	<%=certNo.substring(0,4)+'****'+certNo.substring(certNo.length-4,certNo.length)%>
            </div> 
          </div>
          <div class="list-item row arr" id="showJobPicker">
          	<div class="cell">职业</div> 
            <div class="ipt" id="jobInfo">
            	
            </div> 
          </div>
        </div>

         <div class="list">
          <div class="list-item row disabled idCard">
         	<div class="cell" id="img_a"><img src="images/safe-back.png"></div> 
          	<div class="cell" id="img_b"><img src="images/safe-front.png"></div>
          </div>
        </div>
        
        <div class="gap-box pt10 fc-9">
          <input type="button" value="确认" id="upload" class="zen-btn mt10 mb10">
        </div>
      </div>
    </div>
    
      <div class="new2016"  style="display:none;" id="success">
	  	<div class="riskTest">
	    	<div class="successTip"><i></i>恭喜你,实名认证成功！</div>
	        <div class="list">
	            <div class="list-item" style="padding:15px 10px">
	            	<p>您已成功完成实名认证。</p>
	            </div>
	        </div>
	        <div class="padded">
	        	<input type="button" value="返回" class="zen-btn mt20">
	        </div>
	    </div>
  	 </div>
    
      <div class="new2016"  style="display:none;"  id="fail">
	  	<div class="riskTest">
	    	<div class="failTip"><i></i>很抱歉,实名认证失败！</div>
	        <div class="list">
	            <div class="list-item" style="padding:15px 10px">
	            	<p>● 如果遇到问题，请拨打客服电话：95398</p>
	            </div>
	        </div>
	        <div class="padded">
	        	<input type="button" value="返回" class="zen-btn mt20">
	        </div>
	    </div>
  	 </div>
    
</body>

