 <div class="new2016">
  	<div class="safeGrade" id="low" style="display: ">
  		<div style="height:5px"></div>
    	<div class="gradeBox">
        	<img src="images/safe/level-middle.png" height="120">
			<p>您当前电子账户的安全等级为中<br/>请尽快提升等级</p>
        </div>
        <div class="gap-box pt10">
            <input type="button" value="提升安全等级" id="safeUp" class="zen-btn mt15">
        </div>
    </div>
    <div class="safeGrade" id="high" style="display: none">
   	 	<div style="height:5px"></div>
    	<div class="gradeBox">
        	<img src="images/safe/level-high.png" height="120">
			<p>您当前电子账户的安全等级为高</p>
        </div>
    </div>
  </div>