<div class="content">
	<div id="financeInPage1" style="display: ">
		<ul class="zen-list-2">
			<li>
				<div class="opr-box">
					<p class="ft14">产品名称：<span class="ft16"><%=financeName%></span>
											 <span class="ft12 fc-9"><%="("+financeNo+")"%></span></p>
					<p class="ft14">签约账号：<span class="ft16" id="cardNo"><%=Utils.formatAcc(cardNo)%></span>
											 <span class="ft12 fc-9" id="custName"><%="("+custName+")"%></span></p>
					<p class="ft14 fc-9 ">账户余额：<span class="fc-orange" id="showBalanceSpan"></span> 元</p>
				</div>
			</li>
			<li>
				<div class="ipt-opr">
					<label>购买金额：</label>
					<div class="cell"><input type="number" value="" maxlength="16" placeholder="请输入金额" id="tranAmtText" /></div>
				</div>
			</li>
			<li>
				<div class="ipt-opr">
					<label>交易密码：</label>
					<div class="cell"><input id="pwd" type="password" value="" readOnly placeholder="请输入交易密码"/></div>
					</div>
			</li>
			<div class="fm-remind pl10 pr10" style="display: none">
				<div class="err-rzt" id="errorPWD" style = "display:none">您输入的密码有误</div>
				<a href="javascript:;">忘记密码?</a>
			</div>
		</ul>
		<div class="gap-box"><input type="button" value="提交" class="zen-btn mt10 disabled" id="buyBtn" disabled="disabled"/></div>
	</div>
	<!-------------------------------------------------------------------------->
	<div id="financeInPage2" style="display: none">
		<div class="trs-rzt-success">购买成功！</div>
		<ul class="zen-list-2">
			<li>
				<div class="opr-box fc-9 ft13">
				<div class="row fc-6 pt10 pb10">
					<p><span id="recAcc_suc">购买账户：</span> <span id="recAccName_suc"></span></p>
					<p>购买金额：<span class="fc-orange" id="recAmt_suc"></span> 元</p>
				</div>
				<div class="row pt10 pb10">
					<span id="payAcc_suc"></span>
				</div>
				</div>
			</li>
		</ul>
		<div class="gap-box"><input type="button" id="succBackButton" value="返回" class="zen-btn"/></div>
		<div class="tradeSuccessBanner" id="tradeBanner" style="display:none ">
		  <img src="images/market/trdsuc.png" width="100%">
		  <div class="text" data-text="亲，赶快邀请您的小伙伴一起来体验吧！"><img src="images/market/textarea.png" width="100%"></div>
		 <!--  <div class="text" data-text="推荐成功，您和您的好友均可获得10元话费"><img src="images/market/textarea.png" width="100%"></div> -->
		</div>
	</div>
		<!-------------------------------------------------------------------------->
	<div id="financeInPage3" style="display:none ">
		<div class="trs-rzt-fail">购买失败！</div>
		<ul class="zen-list-2">
			<li>
				<div class="opr-box fc-9 ft13">
				<div class="row fc-6 pt10 pb10">
					<p><span id="recAcc_err">购买账户：</span> <span id="recAccName_err"></span></p>
					<p>购买金额：<span class="fc-orange" id="recAmt_err"></span> 元</p>
				</div>
				<div class="row pt10 pb10">
					<span id="payAcc_err"></span>
				</div>
				</div>
			</li>
		</ul>
		<p class="trs-rzn" id="errorMessageText"></p>
		<div class="gap-box"><input type="button" id="errorBackButton" value="返回" class="zen-btn"/></div>
	</div>
	<div id="financeInPage4" style="display:none ">
		<ul class="zen-list-2">
			<li>
				<div class="opr-box fc-9 ft13">
				<div class="row fc-6 pt10 pb10">
					<p><span id="recAcc_dub">购买账户：</span> <span id="recAccName_dub"></span></p>
					<p>购买金额：<span class="fc-orange" id="recAmt_dub"></span> 元</p>
				</div>
				<div class="row pt10 pb10">
					<span id="payAcc_dub"></span>
				</div>
				</div>
			</li>
		</ul>
		<p class="trs-rzn" id="errorMessageText">您的交易本行已经受理，稍后请查询交易结果！</p>
		<div class="gap-box"><input type="button" id="dubBackButton" value="返回" class="zen-btn"/></div>
	</div>
</div>
