<div class="content">
	<div id="financeSignPage1" style="display: ">
		<ul class="zen-list-2">
			<li>
				<div class="opr-box">
					<p class="ft16">产品名称：<span class="ft16" id="financeName"><%=financeName%></span></p>
					<p class="ft14 fc-9 mb10">产品代码：<span class="fc-9" id="financeNo"><%=financeNo%></span></p>
				</div>
			</li>
			 <div class="ipt-txt-2 fm-card fm-drop-down native-slc">
				<select id = "accountSelect">
				</select>
			</div>
			<li id="mgrNoDiv" class="<%=mgrNoClass%>">
				<div class="ipt-opr">
					<label>经理编号：</label>
					<div class="cell"><input type="tel" value="" maxlength="6" placeholder="请输入经理编号（选填项）" id="mgrNoText"/></div>
				</div>
			</li>
			<li>
				<div class="ipt-opr">
					<label>账单地址：</label>
					<div class="cell"><input type="text" value="" maxlength="30" placeholder="请输入账单地址" id="addressText"/></div>
				</div>
			</li>
			<li>
				<div class="ipt-opr">
					<label>邮政编码：</label>
					<div class="cell"><input type="tel" value=""  maxlength="6" placeholder="请输入邮政编码" id="zipcodeText"/></div>
				</div>
			</li>
			<li>
				<div class="ipt-opr">
					<label>交易密码：</label>
					<div class="cell"><input id="pwd" type="password" value="" readOnly placeholder="请输入交易密码"/></div>
				</div>
			</li>
			<div class="fm-remind pl10 pr10" style="display: none">
				<div class="err-rzt" id="errorPWD" style = "display:none">您输入的密码有误</div>
				<a href="javascript:;">忘记密码?</a>
			</div>
			<div class="zen-ckbox pl15" id="checkReg1">
				 <input type="checkbox" checked id="checkbox1" />
				 <span class="fm-agr" ><a href="javascript:;" id="showPage4">"幸福添利"产品规则与货币基金风险提示</a></span>
			</div>
			<div class="zen-ckbox pl15" id="checkReg2"> 
				<input type="checkbox" checked id="checkbox2" />
				<span class="fm-agr" ><a href="javascript:;" id="showPage5">"幸福添利"快速赎回服务协议</a></span>
			</div>
		</ul>
		<div class="gap-box"><input type="button" value="提交" class="zen-btn mt10 disabled" id="signBtn" disabled="disabled"/></div>
	</div>
	<!-------------------------------------------------------------------------->
	<div id="financeSignPage2" style="display: none">
		<div class="trs-rzt-success">签约成功！</div>
		<ul class="zen-list-2">
			<li>
				<div class="opr-box fc-9 ft13">
				<div class="row fc-6 pt10 pb10">
					<p><span id="recAcc_suc">签约账户：</span> <span id="recAccName_suc"></span></p>
				</div>
				<div class="row pt10 pb10">
					<span id="payAcc_suc"></span>
				</div>
				</div>
			</li>
		</ul>
		<div class="gap-box"><input type="button" id="succBackButton" value="返回" class="zen-btn"/></div>
	</div>
		<!-------------------------------------------------------------------------->
	<div id="financeSignPage3" style="display:none ">
		<div class="trs-rzt-fail">签约失败！</div>
		<ul class="zen-list-2">
			<li>
				<div class="opr-box fc-9 ft13">
				<div class="row fc-6 pt10 pb10">
					<p><span id="recAcc_err">签约账户：</span> <span id="recAccName_err"></span></p>
				</div>
				<div class="row pt10 pb10">
					<span id="payAcc_err"></span>
				</div>
				</div>
			</li>
		</ul>
		<p class="trs-rzn" id="errorMessageText"></p>
		<div class="gap-box"><input type="button" id="errorBackButton" value="返回" class="zen-btn"/></div>
	</div>
	<div id="financeSignPage4" style="display:none ">
		<div class="mb10"></div>
		<div class="mb10" style="text-align:center">
			《易方达天天理财货币市场基金简介》
		</div>
		<div class="mb10"></div>
		<div class="ml5 mr5">
			<table width="100%" border="2px" cellspacing="0" cellpadding="0"　style="border-collapse:collapse">
				<tr>
					<td width="30%" align="center">基金名称</td>
					<td align="center">易方达天天理财货币市场基金A</td>
				</tr>
				<tr>
					<td align="center">基金简称</td>
					<td align="center">易方达天天理财货币A</td>
				</tr>
				<tr>
					<td align="center">基金代码</td>
					<td align="center">000009</td>
				</tr>
				<tr>
					<td align="center">成立日期</td>
					<td align="center">2013年3月4日</td>
				</tr>
				<tr>
					<td align="center">基金类型</td>
					<td align="center">货币市场基金</td>
				</tr>
				<tr>
					<td align="center">运作方式</td>
					<td align="center">契约型、开放式</td>
				</tr>
				<tr>
					<td align="center">基金管理人</td>
					<td align="center">易方达基金管理有限公司</td>
				</tr>
				<tr>
					<td align="center">基金托管人</td>
					<td align="center">中国工商银行股份有限公司</td>
				</tr>
				<tr>
					<td align="center">基金经理</td>
					<td align="center">石大怿先生</td>
				</tr>
				<tr>
					<td align="center">投资目标</td>
					<td >&nbsp;&nbsp;&nbsp;&nbsp;在有效控制投资风险和保持高流动性的基础上，力争获得高于业绩比较基准的投资回报。</td>
				</tr>
				<tr>
					<td align="center">投资范围</td>
					<td >&nbsp;&nbsp;&nbsp;&nbsp;现金，通知存款，一年以内(含一年)的银行定期存款和大额存单，短期融资券，剩余期限在397天以内(含397天)的债券、中期票据、资产支持证券，期限在一年以内(含一年)的债券回购，剩余期限在一年以内(含一年)中央银行票据等。</td>
				</tr>
				<tr>
					<td align="center">业绩比较基准</td>
					<td >&nbsp;&nbsp;&nbsp;&nbsp;中国人民银行公布的活期存款基准利率的税后收益率，即活期存款基准利率×(1－利息税税率)。</td>
				</tr>
				<tr>
					<td align="center">风险收益特征</td>
					<td >&nbsp;&nbsp;&nbsp;&nbsp;长期风险收益水平低于股票型基金、混合型基金、债券型基金。</td>
				</tr>
				<tr>
					<td align="center">风险提示</td>
					<td >&nbsp;&nbsp;&nbsp;&nbsp;本基金管理人以往的经营业绩不代表基金的未来业绩；投资者购买货币市场基金不等于资金作为存款放在银行或存款类金融机构，本基金管理人除恪守诚实信用、勤勉尽责的原则管理和运用基金资产外，基金管理公司不保证一定盈利，也不保证最低收益。</td>
				</tr>
			
			</table>
		</div>
		<div class="mb10 mt15" style="text-align:center">
			《“幸福添利（易方达）”业务规则》
		</div>
		<div class="mb10"></div>
		<div class="ml10 mr5">
			★幸福添利帐户管理：<br/>
			您在首次办理“幸福添利”业务时，我行将自动为您签约基金代销业务，开立基金TA等交易帐户。<br/>
			您原购买“幸福添利”产品的借记卡遇失效、遗失等情况须前往本行网点办理挂失换卡操作，相关换卡流程完成以后“幸福添利”业务签约委托关系将自动转入新卡。<br/>
			
			★业务办理渠道：<br/>
			您可向就近的网点申请办理“幸福添利”业务。<br/>
			我行手机银行“幸福添利”栏目，POS或EPOS终端等渠道。<br/>
			
			★产品购买：<br/>
			等同于申购易方达天天理财A货币市场基金（000009），遵循易方达天天理财A货币市场基金业务规则（含暂停申购等）。<br/>
			T日15:00前购买，T+1工作日起享受基金收益；15:00后购买，T+2工作日起享受基金收益。<br/>
			
			★产品快速赎回：<br/>
			等同于赎回易方达天天理财A货币市场基金（000009），遵循易方达天天理财货币基金业务规则。<br/>
			快速赎回，资金实时到账。<br/>
			
			★产品收益<br/>
			日日计息、月月分红，产品收益遵循易方达天天理财货币市场基金业务规则。<br/>
			
			★产品资料/风险提示<br/>
			您可通过我行手机银行“幸福添利”栏目详细了解《幸福添利快速赎回三方服务协议》、《易方达天天理财A货币市场基金简介》、《风险提示函》、《温馨提示》等资料。<br/>
		</div>
		<div class="mb10 mt15" style="text-align:center">
			《易方达天天理财货币市场基金风险提示函》
		</div>
		<div class="mb10"></div>
		<div class="ml10 mr5" style="padding-bottom:70px;">
			一、本基金由易方达基金管理有限公司依照有关法规及《基金合同》，并经中国证监会证监许可【2012】1634号文件核准发起设立，中国证监会的核准不代表中国证监会对本基金的风险和收益做出实质性判断、推荐或保证。本基金的《基金合同》等法律文件已通过指定报刊和基金管理人的互联网网站 efunds.com.cn 进行了公开披露。<br/>
			
			二、本基金属于货币市场基金，主要为投资者提供短期现金管理工具，并在保持安全性和流动性的前提下提升组合收益，属于风险较低的投资品种，其预期的风险水平和预期的收益率低于债券基金和混合型基金。<br/>
			
			三、本基金在投资运作过程中可能遇到各种风险，包括市场风险（包括利率风险、信用风险、再投资风险等）、管理风险、流动性风险、合规风险等。投资者购买货币市场基金并不等于将资金作为存款存放在银行或存款类金融机构，基金管理人不保证基金一定盈利，也不保证最低收益。同时，由于本基金必须保持一定的现金比例以应付赎回的需求，在管理现金头寸时，有可能存在现金不足的风险和现金过多而带来的机会成本风险。<br/>
			
			四、本基金产品主要功能是分散投资、规避个券风险、分享投资成果。它不同于银行存款和债券，基金投资者依其所持基金份额享受基金的收益，同时也会承担投资亏损的风险。为此，投资者应充分注意本基金产品与储蓄、债券等能够提供固定收益预期的投资工具之间的区别，理性做出基金投资决策。<br/>
			
			五、本基金管理人承诺以诚实信用、勤勉尽责的原则管理和运用基金资产，但不保证基金一定盈利，也不保证最低收益。基金的过往业绩及净值高低不预示其未来表现，基金管理人管理的其他基金的业绩也不构成本基金业绩表现的保证。投资者在做出基金投资决策时应认同“买者自负”原则，在做出基金投资决策后，基金运营状况与基金净值变化导致的投资风险及亏损，由投资者自行承担。<br/>
			
			六、投资者在投资基金前应认真阅读《基金合同》、《招募说明书》等基金法律文件，全面认识基金产品的风险收益特征，根据自身的风险承受能力、投资期限和投资目标，对基金投资作出独立决策，选择合适的基金产品。同时，投资者应正确认识资本市场和基金市场，将基金视为一种长期投资工具，并树立长期、稳健、防范风险的投资观念。<br/>
			
			七、投资者应当通过基金管理人或具有基金代销业务资格的其它机构购买和赎回基金，具体销售机构的名单详见本基金的相关公告。<br/>
		</div>
		<div></div>
		<div class="buy-btn-wrap">
	        <div class="btn-double">
	           <input type="button" value="同意" class="zen-btn" id="agreeBtn1"/>
	           <input type="button" value="关闭" class="zen-btn btn-fn" id="closeBtn1"/>
	        </div>
		</div>
	</div>
	<div id="financeSignPage5" style="display:none ">
		<div class="mb10"></div>
		<div class="mb10" style="text-align:center">
			《杭州银行“幸福添利”快速赎回服务协议》
		</div>
		<div class="mb10"></div>
		<div class="ml10 mr5" style="padding-bottom:70px;">
			甲方：投资者<br/>
			乙方：杭州银行股份有限公司（以下简称“杭州银行”）<br/>
			丙方：易方达基金管理有限公司（以下简称“易方达基金”）<br/>
			
			　　本服务协议（以下简称“本协议”）是投资者、杭州银行与易方达基金三方就“幸福添利（易方达）”货币基金快速赎回服务相关事项所订立的有效合约。<br/>

			　　鉴于：<br/>
			　　杭州银行作为基金销售机构销售易方达基金所管理的“易方达天天理财货币市场基金A类基金份额”（代码：000009，以下简称“货币基金”）。<br/>
			　　杭州银行和易方达基金拟为签订本协议的投资者开通货币基金快速赎回业务。为保证该业务顺利进行，明确业务流程、业务规则及三方的权利义务，就货币基金快速赎回业务的有关事项达成如下协议：<br/>

			　　第一条 释义<br/>
			　　1、“幸福添利（易方达）”：指杭州银行通过与易方达基金管理有限公司合作为投资者提供的货币基金产品的快速赎回服务。<br/>
			　　2、货币基金：指杭州银行和易方达基金合作销售的“易方达天天理财货币市场基金A类基金份额（代码：000009）”，及未来易方达基金募集并由杭州银行销售，且开通快速赎回业务的其他货币市场基金，届时将由易方达基金或杭州银行另行公告。<br/>
			　　3、投资者：指通过杭州银行购买易方达旗下货币基金，并通过杭州银行办理“幸福添利（易方达）”货币基金快速赎回服务的投资者，以下称投资者。<br/>
			　　4、快速赎回：指投资者提取资金，可通过杭州银行指定平台提交快速赎回申请，若杭州银行系统判断该笔快速赎回申请符合本协议约定，则该笔快速赎回金额将实时划付至投资者预留的银行账户。<br/>
			　　5、快速过户：易方达基金在收到杭州银行发送的快速赎回数据后将垫资金额对应的投资者的可用余额权益过户至易方达基金快速赎回业务专用基金账户，并赎回，相应赎回款用于偿还易方达基金的垫付款项。<br/>
			　　6、可用余额：包括投资者已提交的尚未经易方达基金确认的申购金额、投资者已持有的货币基金份额、以及未结转收益。<br/>
			　　7、垫资：指投资者提交快速赎回申请后，若杭州银行系统判断该笔快速赎回金额需要由易方达基金先行垫付的，则易方达基金先行垫付该笔快速赎回金额。<br/>
			　　8、D日：指投资者提交快速赎回申请的自然日。<br/>
			　　9、工作日/交易日：指上海证券交易所和深圳证券交易所的正常交易日。<br/>
			　　本协议对相关名词及术语释义仅适用于本协议，不能类推适用于任何其他各类协议、合同、备忘录等文件。<br/>

			　　第二条 快速赎回业务流程和业务规则<br/>
			　　1、快速赎回业务的开放时间正常情况下为每个自然日7*24小时。如遇特殊情况，杭州银行或易方达基金有权调整该业务的申请时间，并由杭州银行通知投资者。<br/>
			　　2、投资者提交快速赎回申请后，若杭州银行判断该笔快速赎回申请金额不超过投资者的可用余额，且未超过易方达基金设定的垫资上限，则杭州银行对该笔快速赎回申请予以接受，否则不予接受。对于已被杭州银行接受的快速赎回申请，若杭州银行系统判断该笔快速赎回金额需要由易方达基金先行垫付，则易方达基金先行垫付该笔快速赎回金额。<br/>
			　　3、投资者同意，自易方达基金垫资之日（含当日）起，投资者不再享有垫资金额对应快速赎回可用余额的收益，相应快速赎回可用余额在快速赎回申请所属自然日起（含当日）的收益归易方达基金所有。<br/>
			　　4、投资者同意：易方达基金将垫资金额对应的投资者的可用余额权益快速过户至易方达基金快速赎回业务专用基金账户，并赎回，赎回款用于偿还易方达基金的垫付款项。<br/>
			　　5、在下述情况下，杭州银行或易方达基金有权临时暂停快速赎回业务，并视情况及时恢复该业务：<br/>
			　　（1）通讯故障；<br/>
			　　（2）系统故障或暂停服务；<br/>
			　　（3）易方达基金已垫资的金额达到设定的垫资总额；<br/>
			　　（4）受不可抗力影响；<br/>
			　　（5）杭州银行或易方达基金认为需要临时暂停快速赎回业务的其他情形（如货币基金发生巨额赎回或万份收益为负值）。<br/>
			　　6、垫资限额：易方达基金出于风险管理的需要，对垫资总额设定限额，并有权根据业务发展和实际情况随时调整上述垫资限额。对单个投资者的垫资上限由杭州银行与易方达基金共同设定并不时变更，并由杭州银行提前通知投资者。<br/>
			　　7、如由易方达基金垫资的总额达到易方达基金设定的垫资限额，则杭州银行和易方达基金有权临时暂停快速赎回业务，并视情况决定是否恢复该业务。<br/>
			　　8、杭州银行对投资者D日提交的快速赎回业务申请予以接受并由易方达基金进行垫资后，杭州银行按照与易方达基金约定的数据接口和格式于规定时间前向易方达基金发送快速赎回申请电子数据，并保证该数据的准确、有效。易方达基金收到上述申请数据后，将垫资金额对应的可用余额权益快速过户至易方达基金快速赎回业务专用基金账户，并赎回，赎回款用于偿还易方达基金的垫付款项。<br/>
			　　9、禁止撤单：投资者的快速赎回申请提交后不允许撤销。<br/>
			　　10、服务费：快速赎回服务暂不收取服务费，如易方达基金根据业务情况需要收取服务费，由易方达基金确定收费标准及收费方式，并由杭州银行提前告知投资者。<br/>

			　　第三条 各方权利和义务<br/>
			　　（一）投资者权利和义务<br/>
			　　1、因“幸福添利（易方达）”快速赎回服务需要，投资者同意并授权杭州银行将投资者的个人信息（包括但不限于：姓名、身份证号、手机号、邮箱、联系地址、幸福添利账号等）提供给易方达基金。杭州银行及易方达基金承诺此信息仅用于“幸福添利（易方达）”服务。<br/>
			　　2、投资者须按照杭州银行的注册要求提供本人真实、准确及完整的信息，并负责对本人信息及时更新。投资者就上述各项条件与要求做出承诺，保证投资者身份的合法性，以及所提供信息的真实性、准确性、完整性和非过时性。<br/>
			　　3、若投资者提供任何不真实、不准确、不完整或过时的信息，或者杭州银行有合理理由怀疑投资者所提供的信息为不真实、不准确、不完整或过时的，杭州银行有权中止（或终止）向投资者提供服务，并拒绝投资者使用本服务之全部或部分功能，因此所产生的任何直接或间接责任将由投资者来承担。<br/>
			　　4、投资者确认已详细阅读并理解、接受货币基金的基金合同、招募说明书、《易方达基金管理有限公司开放式基金业务规则》及上述文件不时修订版本的所有内容及规定，自愿向杭州银行和易方达基金申请办理货币基金快速赎回业务。<br/>
			　　5、投资者同意：依本协议提交货币基金快速赎回业务申请时，若该申请经杭州银行接受，则由易方达基金将快速赎回的相应可用余额权益快速过户至易方达基金快速赎回业务专用基金账户并进行赎回处理，相应赎回款用于归还易方达基金的已垫付款，相应快速赎回可用余额在快速赎回申请所属自然日起（含当日）的收益归易方达基金所有。<br/>
			　　6、投资者同意：非因易方达基金原因，包括但不限于有权机关要求冻结、扣划快速赎回的可用余额权益等情形，导致快速赎回可用余额权益不能被过户至易方达基金快速赎回业务专用基金账户、不能及时被确认赎回，赎回款不能到账，或由于其他原因导致投资者不能及时归还易方达基金垫付的款项并支付服务费等情况，或对应快速赎回可用余额D日起的收益不能归属易方达基金所有时，投资者应承担向易方达基金偿还垫付款及相应损失的责任。<br/>
			　　7、投资者确认，凡是使用投资者用户名及交易密码所进行的一切交易申请，均被视为投资者亲自办理的有效交易申请，并对该等申请的结果承担全部责任。投资者由于自己疏忽或其他原因而致使交易密码失密造成的损失由投资者自己承担，投资者因使用的计算机软硬件故障、受到攻击或其他网络原因导致的损失由投资者自己承担，杭州银行及易方达基金对此不承担任何责任。<br/>
			　　（二）杭州银行权利和义务<br/>
			　　1、杭州银行有权采取必要手段对投资者进行身份验证，并据此决定提供服务的范围及为投资者开放服务种类、范围及进行业务操作的权限。为保障投资者资金安全，杭州银行有权根据投资者类别、身份认证措施、交易风险度等因素的不同设定不同的安全策略。<br/>
			　　2、杭州银行对投资者提交的有效的快速赎回业务申请应当及时、准确予以接受。对未予接受的快速赎回申请，由杭州银行负责向投资者进行解释说明。<br/>
			　　3、杭州银行负责及时、准确判断该笔快速赎回申请是否需要由易方达基金进行垫资，若需要易方达基金垫资的，杭州银行应实时从易方达基金垫资账户中将相应金额资金划付至投资者预留银行账户。<br/>
			　　4、杭州银行应按照与易方达基金约定的数据接口和格式于规定时间前向易方达基金发送快速赎回申请电子数据，并保证该数据的准确、及时和有效。<br/>
			　　5、杭州银行应按照易方达基金设定的垫资限额开展快速赎回业务，对超过限额的申请不予接受。当日垫资总额达到易方达基金设定的限额时，杭州银行应及时暂停快速赎回业务，确保易方达基金的垫资金额不超过设定的垫资总额，并视情况及时恢复该业务。<br/>
			　　（三）易方达基金权利和义务<br/>
			　　1、非因易方达基金原因，包括但不限于有权机关要求冻结、扣划快速赎回的可用余额权益等情形，导致快速赎回可用余额权益不能被过户至易方达基金快速赎回业务专用基金账户、不能及时被确认赎回，赎回款不能到账，或由于其他原因导致投资者不能及时归还易方达基金垫付的款项等情况，或对应快速赎回可用余额D日起的收益不能归属易方达基金所有时：<br/>
			　　（1）易方达基金有权向投资者追回垫付款项，杭州银行应予以协助。<br/>
			　　（2）易方达基金有权对投资者所持有的本公司旗下基金份额（包括且不限于货币基金）进行相应的过户处理，相关过户费用（包括且不限于赎回费）由投资者承担，相关基金份额在过户后净值上涨的收益由本公司享有，净值下跌的损失亦由本公司承担，投资者不再享有相关收益或承担相关损失。<br/>
			　　（3）易方达基金有权要求投资者在其提交快速赎回业务申请所属的有效申请日起七个工作日内以现金方式清偿完毕本公司的垫付资金和服务费，逾期清偿的应按逾期支付款项万分之五的标准支付日违约金。<br/>
			　　2、 易方达基金只对杭州银行提交的快速赎回业务电子数据是否符合双方约定的格式和限额进行审核。<br/>
			　　3、易方达基金有权根据实际业务需要，临时暂停快速赎回业务，调整快速赎回业务的办理时间，或者调整快速赎回业务限额等，双方应以公告形式通知投资者。<br/>
			　　4、如司法机关、行政机关等有权机关对投资者可用余额权益进行冻结、强制扣划等的，易方达基金有权通知杭州银行中止投资者的快速赎回业务，直至有权机关对投资者可用余额权益解冻。如易方达基金错误通知杭州银行中止投资者快速赎回业务，导致投资者损失的，由易方达基金负责赔偿，杭州银行不承担任何责任。<br/>

			　　第四条 违约责任<br/>
			　　1、本协议任何一方违反本协议的约定，给其他方造成损失的，应各自承担相应的经济、法律责任，赔偿由此给其他方造成的损失。<br/>
			　　2、如一方承担了按相关法律法规或本协议规定应由其他方承担的责任，或由于其他方的违约行为而对任何协议之外的第四方承担责任和/或受到有权机关处罚导致的损失，该方在承担责任后有权向违约方进行追偿并获得全面的赔偿。<br/>

			　　第五条 免责条款<br/>
			　　1、如遇自然灾害等不可抗力事件，或其他不可预见的非常情况，或电力、网络、系统、通讯故障发生，导致杭州银行或易方达基金无法履行或不能及时履行协议的，杭州银行或易方达基金不承担任何责任。<br/>
			　　2、为确保网络传输的安全，保障投资者的利益，杭州银行和易方达基金对网络数据的传输采用网上安全电子认证证书方式，但杭州银行和易方达基金无法保证电子信息绝对安全，毫无错误或指定网址不被恶意攻击或因存在电子病毒所导致的故障，也不为此承担任何责任或投资者因电子交易的故障所可能导致的任何损失承担赔偿责任。<br/>
			　　3、因投资者的故意或疏忽导致交易密码泄露或遗失，由此导致投资者损失的，杭州银行或易方达基金不承担任何责任。<br/>
			　　4、如因投资者预留的银行账户已销户或账户状态不正常（挂失、冻结、变更）或者由于司法或其他原因而进行了账户冻结、扣划或销户，导致杭州银行或易方达基金无法履行协议的，杭州银行或易方达基金不承担任何责任。<br/>
			　　5、因法律和政策重大变化或杭州银行、易方达基金不可预测和不可控制因素导致的突发事件，杭州银行或易方达基金不承担任何责任。<br/>

			　　第六条 争议解决方式<br/>
			　　各方同意，因本协议而产生的或与本协议有关的任何争议，应友好协商解决，也可向中国证券业协会调解，协商或调解不成的，任何一方应提交上海仲裁委员会，根据该会当时有效的仲裁规则进行仲裁，仲裁地点在上海，仲裁裁决是终局的，对各方均有约束力。仲裁期间，本协议不涉及争议的条款继续履行。<br/>

			　　第七条 协议的生效<br/>
			　　本协议自投资者签署后立即生效。投资者在首次提交快速申购或赎回业务申请时，点击“接受”、“同意”按钮，即视为对本协议的签署。<br/>
			　　易方达基金和杭州银行将根据实际情况和业务需要对本协议内容进行调整，如遇调整，会要求投资者重新签署，请在每次签署协议时认真阅读本协议。
		</div>
		<div></div>
		<div class="buy-btn-wrap">
	        <div class="btn-double">
	           <input type="button" value="同意" class="zen-btn" id="agreeBtn2"/>
	           <input type="button" value="关闭" class="zen-btn btn-fn" id="closeBtn2"/>
	        </div>
		</div>
	</div>
</div>
