<?xml version="1.0" encoding="UTF-8"?>    
<configuration status="error">    

  <properties>
    <!-- product -->
  	<property name="LOG_HOME">D:/</property>
  	
  	<!-- develop -->
  	<!-- <property name="LOG_HOME">/home/weblogic</property> -->
  </properties>
  
  <appenders>   
   
  	<Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5level %class{36} %M %t{36} %L - %msg%xEx%n" />
    </Console>
    
    <RollingFile name="RollingRandomAccessFile" fileName="${LOG_HOME}/log/ZxMobileServer/ZxMobileLog.log" immediateFlush="false" append="false" 
    				  filePattern="${LOG_HOME}/log/ZxMobileServer/ZxMobileLog.%d{yyyyMMdd}.log.%i">
    	<PatternLayout pattern="%d %-5level %class{36} %M %t{36} %L - %msg%xEx%n"/>
    	<Policies>
    		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
    		<SizeBasedTriggeringPolicy size="50 MB"/>
    	</Policies>
    	<DefaultRolloverStrategy max="20" />
    </RollingFile>
    
  </appenders>    
  
  <loggers> 
     
 	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE">
 		<appender-ref ref="RollingRandomAccessFile"/> 
 	</logger>  
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" >
    	<appender-ref ref="RollingRandomAccessFile"/> 
    </logger>   
    <logger name="org.hibernate.SQL" level="DEBUG" >
    	<appender-ref ref="RollingRandomAccessFile"/> 
    </logger>   
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" >
    	<appender-ref ref="RollingRandomAccessFile"/> 
    </logger>   
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" >
    	<appender-ref ref="RollingRandomAccessFile"/> 
    </logger>   
		
	<!-- <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor" level="DEBUG">
		<appender-ref ref="RollingRandomAccessFile"/>
	</logger> -->
	
    <root level="INFO" includeLocation="true" additivity="false">   
      <appender-ref ref="RollingRandomAccessFile"/>
    </root>
    
  </loggers>
      
</configuration>
