<style type="text/css">body,.gray-bg{background:#FFF;}</style>
<div class="specBuz">
   <div class="pBar row">
    	<div class="cell active">① 身份认证</div>
        <div class="cell active">② 人脸检测</div>
        <div class="cell active">③ 理财签约</div>
   </div>
</div>
<div class="e-agr">
  <h1>《杭州银行理财签约电子协议》</h1>
  <p>为明确双方的权利和义务，规范双方业务行为，甲方(客户)、乙方(杭州银行)本着平等互利的原则，就电子账户相关事宜达成本协议。</p>
  <h2>第一条 定义</h2>
  <p>下列用语在本协议中的含义为：</p>
  <p>电子账户”指甲方通过乙方官方网站、网上银行手机银行等非柜面渠道自助申请，经乙方实名身份认证之后，仅供甲方通过乙方的电子银行渠道办理金融业务的个人人民币银行结算账户。乙方根据甲方电子账户认证方式不同，对电子账户的资金划转受到不同的控制。</p>
  <p>“密码”指乙方用以识别甲方身份与指令要求甲方提供的口令。包括登录密码、交易密码、动态密码等多个种类，具体业务中使用的密码类别以乙方要求为准。动态密码包括但不限于短信验证码，短信验证码指在甲方使用电子账户过程中，乙方通过乙方指定客服号码以手机短信息方式发送到绑定手机号码的特定代码。</p>
</div>
