<style type="text/css">
html,body,.ui-view,.ui-view >div,#wrapper{height:100%;}
</style>
<div class="specBuz">
   <div class="pBar row">
    	<div class="cell active">① 身份认证</div>
        <div class="cell active">② 人脸检测</div>
        <div class="cell active">③ 同卡号换卡</div>
   </div>
</div>
<div class="zen-switch-tab">
   <a href="javascript:;" data-value="1" class="active">按距离</a>
   <a href="javascript:;" data-value="0" class="">按卡号网点</a>
</div>
<div class="network">
    <div id="wrapper" class="tab-pages">
    <div>
	  <ul class="zen-list-3" id="1">
	  </ul>
	  <ul class="zen-list-3" id="0" style="display:none;">
	  </ul>
	  </div>
    </div>
    <div class="zen-noData" id="noData" style="display:none;margin-top: 10px;">卡网点信息不存在</div>  
</div>
