<div class="specBuz">
	<div class="pBar row">
	 	<div class="cell active">① 身份认证</div>
	    <div class="cell">② 人脸检测</div>
	    <div class="cell">③ <%=action%></div>
	</div>
	<ul class="liz">
    	 <li class="row">
         	<div class="tt">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</div>
         	<div class="cell" id="userName"><%=userName%></div>
         </li>
         <li class="row">
         	<div class="tt">身份证号：</div>
         	<div class="cell" id="certNo"><%=certNo%></div>
         </li>
         <li class="row">
         	<div class="tt">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族：</div>
         	<div class="cell"><%=people%></div>
         </li> 
         <li class="row">
         	<div class="tt">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</div>
         	<div class="cell"><%=gender%></div>
         </li> 
         <li class="row">
         	<div class="tt">出生日期：</div>
         	<div class="cell"><%=birth%></div>
         </li>
         <li class="row">
         	<div class="tt">住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</div>
         	<div class="cell"><%=address%></div>
         </li>
      </ul>
      <div class="gap-box mt20">
      		<button data-label="识别无误，马上检测" id="sure" class="zen-btn ensure"></button>
           <button data-label="识别错误，重新扫描" id="cancel" class="again"></button>
      </div>
</div>