<body>
	<div class="new2016 fdDtlPage">
		<div class="view loaded2">
        	<h2 ><span id="projectName">幸福满溢第6期</span><span class="could-transfer" id="tranflag" style="display:none">7天可转</span></h2>
            <div class="rate">
            	<p>预期今日收益(元)</p>
                <h1><b id="todayIncome">4.54</b></h1>
            </div>
            <div class="row">
            	<div class="cell" style="width:50%">
                	<h2>本金(元)</h2>
                    <p class="ft16"  id="totalAmt">1000元</p>
                </div>
                <div class="cell" style="width:50%">
                	<h2>预期累计收益(元)</h2>
                    <p class="ft16" id="totalIncome">118.12 <span class="ml5 lh1 ft-big"></span></p>
                </div>
            </div>
             <!-- 售罄标签 -->
            <!-- <div class="soldOut" style="display:none;"></div> -->
        </div>
        <div class="fudDetail">
        	<div class="tab row">
            	<div class="cell active">理财周期</div>
                <div class="cell">周期详情</div>
            </div>
        </div>
        
        <div class="tabPoint">
            <div class="funCycle">
            	<div class="halfProgressCircle" id="progCircle">
                	<div class="circleWrap">
                    	<div class="circle">
                            <div class="cutter">  <!-- style="transform: rotate(0);" -->
                                <div class="bar"></div>
                            </div>
                        </div>
                        <span class="lbl a" data-percent="0%"></span>
                        <span class="lbl b" data-percent="50%"></span>
                        <span class="lbl c" data-percent="100%"></span>
                    </div>
                    <div class="state">
                    	<h1  style="display：none" id="buy">已认购</h1>
                     	<h2  style="display：none" id="soldOut"><b class="soldOut">已售罄</b></h2>
                       	<h2  style="display：none" id="percent"><b class="percent">100</b>%</h2>
                    </div>
                </div>
                <div class="raiseProgressBar" id="raiseBar">
                    <div class="bar">
                        <div class="step1"><i></i></div>
                        <div class="step2"><i></i></div>
                        <div class="step3"><i></i></div>
                        <i class="dot1">
                            <div class="mark">
                                <h1 id="raisebegindate1">09-20</h1>
                                <h2>募集开始</h2>
                            </div>
                        </i>
                        <i class="dot2">
                            <div class="mark">
                                <h1 id="raiseenddate1">09-21</h1>
                                <h2>募集结束</h2>
                            </div>
                        </i>
                        <i class="dot3">
                            <div class="mark">
                                <h1 id="interestBeginDate1">09-22</h1>
                                <h2>起息日</h2>
                            </div>
                        </i>
                        <i class="dot4">
                            <div class="mark">
                                <h1 id="interestEndDate1">2017-01-23</h1>
                                <h2>到期日</h2>
                            </div>
                            
                        </i>
                    </div>
                </div>
            </div>
            <div class="cycleDetail" style="display:none">
              	<div class="tbl">	
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td>产品余额/总额</td>
                        <td class="fc-blue"><span id="financeUseVol">3204.35</span >万元/<span id="financeTotalAmt">5000</span>万元</td>
                      </tr>
                      <tr>
                        <td>募集开始</td>
                        <td><span id="raisebegindate">2016-09-20</span><span id="raisebegintime">09:000</span></td>
                      </tr>
                      <tr>
                        <td>募集结束</td>
                        <td><span id="raiseenddate">2016-09-21</span>  24:00</td>
                      </tr>
                      <tr>
                        <td>起息日</td>
                        <td  id="interestBeginDate">2016-09-22</td>
                      </tr>
                      <tr>
                        <td>到期日</td>
                        <td id="interestEndDate">2017-01-23</td>
                      </tr>
                      <tr>
                        <td>投资限额</td>
                        <td ><span id="limitamount">20</span></td>
                      </tr>
                      <tr>
                        <td>还款方式</td>
                        <td id="repaymentType">到期一次性还本付息</td>
                      </tr>
                      <tr>
                        <td>其他</td>
                        <td id="other">可撤单，不能预约，可转让</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="director">
        	<div class="list">
            	<div class="list-item arr">产品信息</div>
                <div class="cnt">
                	<div class="para">
                        本产品属于封闭式非保本型理财产品，对产品的相关介绍，请仔细阅读相关协议和说明书。本产品的购买、兑付、撤单等均无手续费。
                    </div>
                </div>
            </div>
        	<div class="list">
            	<div class="list-item arr">风险提示</div>
                <div class="cnt">
                	<div class="para">
                        本产品是中低风险投资产品，预期收益率不代表发行方及其他第三方对产品投资本金和收益的任何承诺和保证。请仔细阅读产品说明书及相关协议，充分认识投资风险，谨慎投资。
                    </div>
                </div>
            </div>
             <div class="list">
                <div class="list-item"><span class="fc-orange">本页展示预期收益为到期收益，仅作参考，以转让或到期时实际收益为准。</span></div>
            </div>
        </div>
        <div class="fixBtn">
        	<div class="padded mt20"  style="display：" id="transfer">
                <button class="zen-btn" >转让</button>
            </div>
            <div class="padded mt20"  style="display:none" id="cancel">
                <button class="zen-btn">撤销</button>
            </div>
            <div  class="padded mt20"  style="display:none" id="time">
                <button class="zen-btn" id="redDays">还剩多少天可以转让</button>
            </div>
        </div>
	</div> 
</body>