 <div class="new2016">
  	<div class="fudDetail tradeList">
    	<div class="tab row mb5 titNav nxtArr">
        	<div data-target="1" class="itm all active" id="all"><div>全部</div></div>
            <div class="row cell">
                <div class="swiper-wrap">
                  <div class="swiper" id="slider">
                    <div class="item row">
                        <div data-target="9" class="itm cell" id="jub"><div>金禧</div></div>
                        <div data-target="2" class="itm cell" id="add"><div>添利</div></div>
                        <div data-target="6" class="itm cell" id="gold"><div>如金</div></div>    
                        <div data-target="4" class="itm cell" id="fund"><div>基金</div></div> 
                    </div>
                    <div class="item row">
                        <div data-target="3" class="itm" id="save" style="padding:0 24px;"><div>乐存</div></div>  
                        <div data-target="8" class="itm" id="red" style="padding:0 24px;"><div>红包</div></div>
                        <div data-target="5" class="itm" id="cun" style="padding:0 24px;"><div>结构性存款</div></div> 
                        <div data-target="7" class="itm" id="cash" style="display:none"><div>提现</div></div>
                    </div>
                  </div>
                </div>
                   
            </div>
        </div>
        <div id="wrapper" class="tab-pages">
        <ul class="allCnt">
            <!-- tab1对应 -->
        	<li class="cnt active" id="list-tab1" total="0">
            </li>
            <li class="cnt" id="list-tab2" total="0">
            </li>
            <li class="cnt" id="list-tab3" total="0">
            </li>
            <li class="cnt" id="list-tab4" total="0">
            </li>
            <li class="cnt" id="list-tab5" total="0">
            </li>
            <li class="cnt" id="list-tab6" total="0">
            </li>
            <li class="cnt" id="list-tab7" total="0">
            </li>
            <li class="cnt" id="list-tab8" total="0">
            </li>
            <li class="cnt" id="list-tab9" total="0">
            </li>
        </ul> 
        </div>       
    </div>
    <div class="zen-noData" id="noData" style="display:none; box-sizing:border-box;">您还未购买产品，暂无符合内容</div>
  </div>  

